<div class="form-group form-group-icon-left">
    <div class="float-target-parent">
        <span class="icon-mapmarker" aria-hidden="true"></span>
        <label for="exampleFormControlInputText11">Input text + icon left</label>
        <input type="text" class="form-control float-target" id="exampleFormControlInputText11">
    </div>
</div> 

<div class="form-group form-group-icon-right">
    <div class="float-target-parent">
        <label for="exampleFormControlInputText22">Input text + icon right</label>
        <input type="text" class="form-control float-target" id="exampleFormControlInputText22">
        <span class="icon-mapmarker" aria-hidden="true"></span>
    </div>
</div> 