<span class="input-group d-inline position-relative">
    <input type="text" id="financing-text-1" aria-labelledby="souhait euro error-1" placeholder="ex : 1 000 000"  required>&nbsp;
    <span class="required" id="euro">€</span>
    <div class="error-details" id="error-1" role="alert">Valeur incorrecte (1 < 11)</div>
</span>