// Custom Mixins

@mixin ff-montserrat($weight: 400) {
    font-family: 'montserrat', Arial, Helvetica, sans-serif;
    font-weight: $weight;
}

.ff-montserrat { @include ff-montserrat; }
//.ff-montserrat\:important { font-family: 'montserrat', Arial, Helvetica, sans-serif !important; }

//  *
//  * Egal text-indent for accessibility.
//  *
//  * @mixin
//  * @section A11y
//  * @example
//  *  @include access-hidden();
//  *
@mixin access-hidden () {
	position: absolute !important;
	overflow: hidden;
	width: 1px;
	height: 1px;
	padding: 0;
	border: 0;

	clip: rect(1px, 1px, 1px, 1px);

	&:before,
	&:after
	{
	  display: none;
	}
}

.access-hidden, .visually-hidden, .is-vishidden
{
	@include access-hidden;
}

button, html input[type=button], input[type=reset], input[type=submit] {
	-webkit-appearance: button;
	-moz-appearance: button;
	appearance: button;
	cursor: pointer;
}