<div class="table-responsive table-account mb-8 mb-md-10 mx-0 mx-md-8">
    <div class="row">
        
        <div class="col-md-6"
        role="table"
        aria-label="Emplois"
        aria-describedby="colonne-gauche">

            <div role="rowgroup">
                <div role="row">
                    <h3 id="colonne-gauche" class="d-block px-6 py-5 table-account-title">
                        Emplois
                    </h3>
                </div>
            </div>
            
            <div role="rowgroup" class="table-account-content pt-6">
                <div role="row" class="mb-4 px-6">
                    <span role="columnheader">Acquisitions</span> <span role="cell" class="font-weight-semi-bold pl-6 float-right">20 000 €</span>
                </div>
                <div role="row" class="mb-4 px-6">
                    <span role="columnheader">Travaux</span> <span role="cell" class="font-weight-semi-bold pl-6 float-right">70 000 €</span>
                </div>
                <div role="row" class="mt-6 px-6 py-4 table-account-total">
                    <span role="columnheader" class="font-weight-semi-bold">Total emplois</span><span role="cell" class="font-weight-semi-bold pl-6 float-right">90 000 €</span>
                </div>
            </div>

        </div>

        <div class="col-md-6 mt-4 mt-md-0"
        role="table"
        aria-label="Ressources"
        aria-describedby="colonne-droite">

            <div role="rowgroup">
                <div role="row">
                    <h3 id="colonne-droite" class="d-block table-account-title px-6 py-5">
                        Ressources
                    </h3>
                </div>
            </div>

            <div role="rowgroup" class="table-account-content pt-6">
                <div role="row" class="mb-4 px-6">
                    <span role="columnheader">Subventions ville</span><span role="cell" class="font-weight-semi-bold pl-6 float-right">20 000 €</span role="cell">
                </div>
                <div role="row" class="mb-4 px-6">
                    <span role="columnheader">Banque des Territoires</span><span role="cell" class="font-weight-semi-bold pl-6 float-right">70 000 €</span role="cell"></p>
                </div>
                <div role="row" class="mt-6 px-6 py-4 table-account-total">
                    <span role="columnheader" class="font-weight-semi-bold">Total ressources</span><span role="cell" class="font-weight-semi-bold pl-6 float-right">70 000 €</span role="cell"></p>
                </div>
            </div>
            
        </div>

    </div>
</div>