<div class="table-responsive">
    <form class="form">
        <table role="presentation" class="table table-bordered">
            <caption>Tableau "fonctionnel"</caption>
            <thead class="thead-light">
                <tr>
                    <th scope="col">
                        <div class="form-group cell-select-checkbox">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input select-all-checkbox" id="nomDuDossier">
                                <label class="custom-control-label" for="nomDuDossier">Nom du dossier</label>
                            </div>
                        </div>
                        <button type="button" class="btn btn-actions btn-filters" title="Trier par nom de dossier">
                            <span class="icon-sort-table" aria-hidden="true"></span>
                            <span class="sr-only">Trier par nom de dossier</span>
                        </button>
                    </th>
                    <th scope="col">
                        Lorem
                        <button type="button" class="btn btn-actions btn-filters" title="Trier par [lorem]">
                            <span class="icon-sort-table" aria-hidden="true"></span>
                            <span class="sr-only">Trier par [lorem]</span>
                        </button>
                    </th>
                    <th scope="col">
                        Nb
                        <button type="button" class="btn btn-actions btn-filters" title="Trier par [Nb]">
                            <span class="icon-sort-table" aria-hidden="true"></span>
                            <span class="sr-only">Trier par [Nb]</span>
                        </button>
                    </th>
                    <th scope="col">
                        Statut et état
                        <button type="button" class="btn btn-actions btn-filters" title="Trier par statut et état">
                            <span class="icon-sort-table" aria-hidden="true"></span>
                            <span class="sr-only">Trier par statut et état</span>
                        </button>
                    </th>
                    <th scope="col">
                        Actions
                        <button type="button" class="btn btn-actions btn-filters" title="Trier par actions">
                            <span class="icon-sort-table" aria-hidden="true"></span>
                            <span class="sr-only">Trier par actions</span>
                        </button>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row" aria-describedby="statut01">
                        <div class="form-group cell-select-checkbox">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="dupondJeanPierre">
                                <label class="custom-control-label" for="dupondJeanPierre">Dupond Jean-Pierre</label>
                            </div>
                        </div>
                    </th>
                    <td>Lorem</td>
                    <td>1</td>
                    <td id="statut01">
                        <div class="dossier-status">
                            <span class="icon-traitement-en-cours" aria-hidden="true"></span>

                            <span class="sr-only">Dossier</span>
                            <p class="dossier-status-title">En cours de traitement : <span class="dossier-status-info">Pris en charge par un gestionnaire</span></p>
                        </div>
                    </td>
                    <td>
                        <button type="button" class="btn btn-actions" title="Télécharger le dossier [nom du dossier]">
                            <span class="icon-telecharger" aria-hidden="true"></span>
                            <span class="sr-only">Télécharger le dossier [nom du dossier]</span>
                        </button>
                        <button type="button" class="btn btn-actions" title="Modifier le dossier [nom du dossier]">
                            <span class="icon-modifier" aria-hidden="true"></span>
                            <span class="sr-only">Modifier le dossier [nom du dossier]</span>
                        </button>
                        <button type="button" class="btn btn-actions" title="Supprimer le dossier [nom du dossier]">
                            <span class="icon-supprimer" aria-hidden="true"></span>
                            <span class="sr-only">Supprimer le dossier [nom du dossier]</span>
                        </button>
                    </td>
                </tr>
                <tr>
                    <th scope="row" aria-describedby="statut02">
                        <div class="form-group cell-select-checkbox">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="jacob">
                                <label class="custom-control-label" for="jacob">Jacob</label>
                            </div>
                        </div>
                    </th>
                    <td>Lorem</td>
                    <td>2</td>
                    <td id="statut02">
                        <div class="dossier-status text-success">
                            <span class="icon-demande-validee" aria-hidden="true"></span>

                            <span class="sr-only">Dossier</span>
                            <p class="dossier-status-title">Validé</p>
                        </div>
                    </td>
                    <td>
                        <button type="button" class="btn btn-actions" title="Télécharger le dossier [nom du dossier]">
                            <span class="icon-telecharger" aria-hidden="true"></span>
                            <span class="sr-only">Télécharger le dossier [nom du dossier]</span>
                        </button>
                        <button type="button" class="btn btn-actions" title="Modifier le dossier [nom du dossier]">
                            <span class="icon-modifier" aria-hidden="true"></span>
                            <span class="sr-only">Modifier le dossier [nom du dossier]</span>
                        </button>
                        <button type="button" class="btn btn-actions" title="Supprimer le dossier [nom du dossier]">
                            <span class="icon-supprimer" aria-hidden="true"></span>
                            <span class="sr-only">Supprimer le dossier [nom du dossier]</span>
                        </button>
                    </td>
                </tr>
                <tr>
                    <th scope="row" aria-describedby="statut03">
                        <div class="form-group cell-select-checkbox">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="michaelJ">
                                <label class="custom-control-label" for="michaelJ">Michael J.</label>
                            </div>
                        </div>
                    </th>
                    <td>Lorem</td>
                    <td>3</td>
                    <td id="statut03">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</td>
                    <td>
                        <button type="button" class="btn btn-actions" title="Télécharger le dossier [nom du dossier]">
                            <span class="icon-telecharger" aria-hidden="true"></span>
                            <span class="sr-only">Télécharger le dossier [nom du dossier]</span>
                        </button>
                        <button type="button" class="btn btn-actions" title="Modifier le dossier [nom du dossier]">
                            <span class="icon-modifier" aria-hidden="true"></span>
                            <span class="sr-only">Modifier le dossier [nom du dossier]</span>
                        </button>
                        <button type="button" class="btn btn-actions" title="Supprimer le dossier [nom du dossier]">
                            <span class="icon-supprimer" aria-hidden="true"></span>
                            <span class="sr-only">Supprimer le dossier [nom du dossier]</span>
                        </button>
                    </td>
                </tr>
                <tr>
                    <th scope="row" aria-describedby="statut04">
                        <div class="form-group cell-select-checkbox">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="michaelJ">
                                <label class="custom-control-label" for="michaelJ">Juste le Blanc</label>
                            </div>
                        </div>
                    </th>
                    <td>Lorem</td>
                    <td>4</td>
                    <td id="statut04">
                        <p class="font-weight-bold"><code class="border py-2 px-3">&lt;p&gt;</code> avec classe <code class="border py-2 px-3">.font-weight-bold</code> : Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <p class="mb-0"><code class="border py-2 px-3">&lt;p&gt;</code> avec classe <code class="border py-2 px-3">.mb-0</code> : Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    </td>
                    <td>
                        <button type="button" class="btn btn-actions" title="Télécharger le dossier [nom du dossier]">
                            <span class="icon-telecharger" aria-hidden="true"></span>
                            <span class="sr-only">Télécharger le dossier [nom du dossier]</span>
                        </button>
                        <button type="button" class="btn btn-actions" title="Modifier le dossier [nom du dossier]">
                            <span class="icon-modifier" aria-hidden="true"></span>
                            <span class="sr-only">Modifier le dossier [nom du dossier]</span>
                        </button>
                        <button type="button" class="btn btn-actions" title="Supprimer le dossier [nom du dossier]">
                            <span class="icon-supprimer" aria-hidden="true"></span>
                            <span class="sr-only">Supprimer le dossier [nom du dossier]</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
</div>