.main-content {
  padding-left: 280px;
  padding-right: 30px;
  padding-top: 98px;
  width: 100%;
  position: relative;

  .ds-content {
    max-width: 1000px;
    margin: 0 auto;
    margin-bottom: 2em;

    .ds-block {
      margin-bottom: 3em;
      .ds-info {
        margin-bottom: 1em;
      }

      .ds-message {
        margin-bottom: 1em;

        .message {
          position: relative;
          padding: 1em 1em 1em 1.6em;
          background-color: $grey-light-1;
          border-left: 5px solid;
          border-color: $teal-3;
          margin-bottom: 1em;

          &::after {
            @include fontello;
            content: "\E80A";
            font-size: 1rem;
            position: absolute;
            left: -15px;
            top: 18px;
            color: $white;
            background: $teal-3;
            height: 25px;
            width: 25px;
            border-radius: 50%;
            text-align: center;
            line-height: 26px;
          }

          p {
            font-size: 0.869em;

            &.message-title {
              font-size: 1.3em;
              margin-bottom: 0.4em;
              color: $teal-3;
              font-weight: 600;
            }
          }

          &.message-info {
            border-left-color: $green;
            &::after {
              background: $green;
            }

            p {
              &.message-title {
                color: $green;
              }
            }
          }

          &.message-warning {
            border-left-color: $red-2;
            &::after {
              background: $red-2;
            }

            p {
              &.message-title {
                color: $red-2;
              }
            }
          }
        }
      }

      .ds-block_example {
        padding: 1.5rem;
        margin-right: 0;
        margin-left: 0;
        border-width: 0.2rem;
        background-color: $white;
        margin-top: 1em;
        border: 1px solid #e4e4e4;
        border-bottom: 0;
      }

      .ds-code_output {
        margin-bottom: 1em;
      }
    }

    // Accueil Page
    .ds-accueil_feature {
      margin-bottom: 3em;
      .feature-box {
        margin-bottom: 1em;
        padding: 25px;
        border: 1px solid #efeeee;
        border-radius: 12px;

        .feature-box_icon {
          background-color: rgb(235, 244, 255);
          color: #0669db;
          display: inline-block;
          border-radius: 50%;
          width: 50px;
          height: 50px;
          text-align: center;
          line-height: 55px;
          margin-bottom: 20px;
          .fontello {
            font-size: 22px;
          }
        }

        .feature-box_title {
          font-size: 1.3em;
          color: #0053b3;
          font-weight: 600;
          margin-bottom: 0.7em;
        }
        .feature-box_desc {
          font-size: 0.89em;
        }
      }
    }

    // Icons
    .font-icon {
      margin-bottom: 1em;
      padding: 1.5em;
      border: 1px solid #efeeee;
      border-radius: 12px;
      margin-right: 10px;
      width: 224px;
      text-align: center;
      
      .fontello {
        font-size: 1.3em;
        background-color: #ebf4ff;
        color: #0669db;
        height: 60px;
        width: 60px;
        text-align: center;
        line-height: 55px;
        border-radius: 50%;
        display: block;
        margin: 0 auto;
        margin-bottom: 1em;
      }
      .i-name {
        font-size: 1.3em;
        color: #0053b3;
        font-weight: 600;
        margin-bottom: 0.7em;
        display: block;
        margin: 0 auto;
      }
    }
  }
}
