// Vertical Sidebar - Default Light
$sidebar-bg: #ffffff;
$sidebar-menu-item-color: #fff;
$sidebar-menu-sub-item-color: #fff;
$sidebar-menu-item-icon-color: #3051d3;
$sidebar-menu-item-hover-color: #f5f5f5;
$sidebar-menu-item-active-color: #b3c3ff;
$sidebar-menu-item-active-bg: #f5f5f5;
$sidebar-width: 250px;
$sidebar-collapsed-width: 70px;
$sidebar-width-sm: 160px;

// Vertical Sidebar - Dark
$sidebar-dark-bg: #27333a; //2c313a
$sidebar-dark-menu-item-color: #7b919e;
$sidebar-dark-menu-sub-item-color: #7b919e;
$sidebar-dark-menu-item-icon-color: #7b919e;
$sidebar-dark-menu-item-hover-color: #d7e4ec;
$sidebar-dark-menu-item-active-color: #d7e4ec;
$sidebar-dark-menu-item-active-bg: #2b3840;

// Topbar - Deafult Light
$header-height: 70px;
$header-bg: #ffffff;
$header-item-color: #636e75;

//
// _menu.scss
//

.metismenu {
  margin: 0;

  li {
    display: block;
    width: 100%;
  }

  .mm-collapse {
    display: none;

    &:not(.mm-show) {
      display: none;
    }

    &.mm-show {
      display: block;
    }
  }

  .mm-collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    transition-timing-function: ease;
    transition-duration: 0.35s;
    transition-property: height, visibility;
  }
}

.vertical-menu {
  width: $sidebar-width;
  z-index: 1002;
  background-color: $blue-darken;
  bottom: 0;
  margin-top: 0;
  position: fixed;
  top: 0;
  left: 0;
  // top: $header-height;
  //  box-shadow: $box-shadow;

  .sidebar-logo {
    min-height: 70px;
    background: #002f66;
    h1 {
      color: $white;
      font-size: 1.4em;
      padding: 1em;
      font-weight: bold;
    }
  }
}

#sidebar-menu {
  padding: 10px 0 30px 0;
  .mm-active {
    > .has-arrow {
      &:after {
        transform: rotate(-180deg);
      }
    }
  }

  .has-arrow {
    padding: 14px 5px 14px 45px;
    &:after {
      @include fontello;
      content: "\E820";
      display: block;
      float: right;
      transition: transform 0.2s;
      font-size: 1rem;
      margin-right: 8px;
    }
    &::before {
      @include fontello;
      content: "\E830";
      font-size: 1rem;
      position: absolute;
      left: 14px;
    }
  }

  ul {
    li {
      a {
        display: block;
        padding: 0.7rem 1.5rem;
        color: $sidebar-menu-item-color;
        position: relative;
        font-size: 15px;
        transition: all 0.4s;

        svg {
          min-width: 1.75rem;
        }

        .uim-svg {
          fill: $sidebar-menu-item-icon-color !important;
        }

        &:hover {
          color: $sidebar-menu-item-hover-color;

          i {
            color: $sidebar-menu-item-hover-color;
          }
        }
      }

      &.layout {
        a.has-arrow {
          &::before {
            content: "\F0DB";
          }
        }
      }

      &.blocks {
        a.has-arrow {
          &::before {
            content: "\F1B3";
          }
        }
      }

      &.formulaire {
        a.has-arrow {
          &::before {
            content: "\E830";
          }
        }
      }

      &.components {
        a.has-arrow {
          &::before {
            content: "\E82F";
          }
        }
      }

      .badge {
        // margin-top: 4px;
        position: absolute;
        right: 33px;
        left: inherit;
        width: initial;
        font-size: 0.8em;
        background-color: $blue-gradien-light;
        top: 31%;
        padding: 3px 8px;
        // background: #8c35ff;
      }

      ul.sub-menu {
        padding: 0;

        li {
          a {
            padding: 0.4rem 1.5rem 0.4rem 2.9rem;
            font-size: 13.5px;
            color: $sidebar-menu-sub-item-color;
          }

          ul.sub-menu {
            padding: 0;

            li {
              a {
                padding: 0.4rem 1.5rem 0.4rem 4.5rem;
                font-size: 13.5px;
              }
            }
          }
        }
      }
    }
  }
}

.menu-title {
  padding: 12px 20px !important;
  letter-spacing: 0.05em;
  pointer-events: none;
  cursor: default;
  font-size: 11px;
  text-transform: uppercase;
  color: $sidebar-menu-item-color;
  // font-weight: $font-weight-semibold;
}

.mm-active {
  color: $sidebar-menu-item-active-color !important;
  .active {
    color: $sidebar-menu-item-active-color !important;
  }
}
.sidebar-section {
  padding: 0.625rem 1.5rem;
}

@media (max-width: 992px) {
  .vertical-menu {
    display: none;
  }

  .main-content {
    margin-left: 0 !important;
  }

  body.sidebar-enable {
    .vertical-menu {
      display: block;
    }
  }
}

// Enlarge menu
.vertical-collpsed {
  min-height: 1200px;

  .main-content {
    margin-left: $sidebar-collapsed-width;
  }

  .navbar-brand-box {
    width: $sidebar-collapsed-width !important;
  }

  .logo {
    span.logo-lg {
      display: none;
    }

    span.logo-sm {
      display: block;
    }
  }

  // Side menu
  .vertical-menu {
    position: absolute;
    width: $sidebar-collapsed-width !important;
    z-index: 5;

    .simplebar-mask,
    .simplebar-content-wrapper {
      overflow: visible !important;
    }

    .simplebar-scrollbar {
      display: none !important;
    }

    .simplebar-offset {
      bottom: 0 !important;
    }

    // Sidebar Menu
    #sidebar-menu {
      .menu-title,
      .badge,
      .collapse.in,
      .sidebar-section {
        display: none !important;
      }

      .nav.collapse {
        height: inherit !important;
      }

      .has-arrow {
        &:after {
          display: none;
        }
      }

      > ul {
        > li {
          position: relative;
          white-space: nowrap;

          > a {
            padding: 15px 20px;
            min-height: 55px;
            transition: none;

            &:hover,
            &:active,
            &:focus {
              color: $sidebar-menu-item-hover-color;
            }

            svg {
              font-size: 1.25rem;
              margin-left: 2px;
            }

            &.mm-active {
              background: $sidebar-menu-item-active-bg;
            }

            span {
              display: none;
              padding-left: 25px;
              &.uim-svg {
                padding-left: 0px;
                display: inline-block;
              }
            }
          }

          &:hover {
            > a {
              position: relative;
              width: calc(190px + #{$sidebar-collapsed-width});
              color: $primary;
              background-color: $sidebar-menu-item-active-bg;
              transition: none;

              span {
                display: inline;
              }
            }

            > ul {
              display: block;
              left: $sidebar-collapsed-width;
              position: absolute;
              width: 190px;
              height: auto !important;
              box-shadow: 3px 5px 10px 0 rgba(54, 61, 71, 0.1);

              ul {
                box-shadow: 3px 5px 10px 0 rgba(54, 61, 71, 0.1);
              }

              a {
                box-shadow: none;
                padding: 8px 20px;
                position: relative;
                width: 190px;
                z-index: 6;
                color: $sidebar-menu-sub-item-color;

                &:hover {
                  color: $sidebar-menu-item-hover-color;
                }
              }
            }
          }
        }

        ul {
          padding: 5px 0;
          z-index: 9999;
          display: none;
          background-color: lighten($sidebar-bg, 2%);

          li {
            &:hover {
              > ul {
                display: block;
                left: 190px;
                height: auto !important;
                margin-top: -36px;
                position: absolute;
                width: 190px;
              }
            }

            > a {
              span.pull-right {
                position: absolute;
                right: 20px;
                top: 12px;
                transform: rotate(270deg);
              }
            }
          }

          li.active {
            a {
              color: $gray-100;
            }
          }
        }
      }
    }
  }
}

// Dark sidebar

body[data-sidebar="dark"] {
  .navbar-brand-box {
    background: $sidebar-dark-bg;
  }

  .logo-dark {
    // display: $logo-light-display;
  }

  .logo-light {
    // display: $logo-dark-display;
  }

  .vertical-menu {
    background: $sidebar-dark-bg;
  }

  #sidebar-menu {
    ul {
      li {
        a {
          color: $sidebar-dark-menu-item-color;

          &:hover {
            color: $sidebar-dark-menu-item-hover-color;
          }

          .icons-sm .uim-svg {
            fill: $sidebar-dark-menu-item-active-color !important;
          }
        }

        ul.sub-menu {
          li {
            a {
              color: $sidebar-dark-menu-sub-item-color;

              &:hover {
                color: $sidebar-dark-menu-item-hover-color;
              }
            }
          }
        }
      }
    }
  }
  // Enlarge menu
  &.vertical-collpsed {
    min-height: 1200px;
    // Side menu
    .vertical-menu {
      // Sidebar Menu
      #sidebar-menu {
        > ul {
          > li {
            &:hover {
              > a {
                background: $sidebar-dark-menu-item-active-bg;
                color: $sidebar-dark-menu-item-hover-color;
              }

              > ul {
                a {
                  color: $sidebar-dark-menu-sub-item-color;
                  &:hover {
                    color: $sidebar-dark-menu-item-hover-color;
                  }
                }
              }
            }

            > a.mm-active {
              background: $sidebar-dark-menu-item-active-bg;
            }
          }

          ul {
            background-color: $sidebar-dark-bg;
          }
        }

        ul {
          li {
            &.mm-active .active {
              color: $sidebar-dark-menu-item-active-color !important;
            }
          }
        }
      }
    }
  }
  .mm-active {
    color: $sidebar-dark-menu-item-active-color !important;

    .active {
      color: $sidebar-dark-menu-item-active-color !important;
    }
  }

  .menu-title {
    color: $sidebar-dark-menu-item-icon-color;
  }

  .page-title-box {
    // background-color: rgba($primary, 0.1);

    .page-title {
      // color: $gray-700;
    }

    .breadcrumb-item {
      > a {
        //  color: $gray-700;
      }
      &.active {
        color: $breadcrumb-active-color;
      }
    }
  }
}

// Small Sidebar

body[data-sidebar-size="small"] {
  .navbar-brand-box {
    width: $sidebar-width-sm;
  }
  .vertical-menu {
    width: $sidebar-width-sm;
    text-align: center;
  }
  .main-content {
    margin-left: $sidebar-width-sm;
  }
  .footer {
    left: $sidebar-width-sm;
  }
  .has-arrow:after,
  .badge {
    display: none !important;
  }

  #sidebar-menu {
    ul li {
      &.menu-title {
        background-color: darken($sidebar-bg, 2%);
      }
      a {
        .icons-sm {
          display: block !important;
        }
      }
      ul.sub-menu {
        li a {
          padding-left: 1.5rem;
        }
      }
    }
  }
  &.vertical-collpsed {
    .main-content {
      margin-left: $sidebar-collapsed-width;
    }
    .vertical-menu {
      #sidebar-menu {
        text-align: left;
        > ul {
          > li {
            > a {
              .icons-sm {
                display: inline-block !important;
              }
            }
          }
        }
      }
    }
    .footer {
      left: $sidebar-collapsed-width;
    }
  }
}
