.main-sidebar {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.03);
  position: fixed;
  top: 0;
  height: 100%;
  width: 250px;
  background-color: $blue-darken;
  z-index: 880;
  left: 0;
  .sidebar-wrapper {
    .sidebar-logo {
      min-height: 70px;
      background: #002f66;
      h1 {
        color: $white;
        font-size: 1.4em;
        padding: 1em;
        font-weight: bold;
      }
    }
    // UL
    .sidebar-menu {
      padding: 10px;
      //LI

      a {
        display: block;
        padding: 10px 5px;
        color: $white;
        position: relative;

        &::after {
          @include fontello;
          content: "\E822";
          font-size: 1rem;
          position: absolute;
          right: 15px;
        }
        .badge {
          position: absolute;
          right: 33px;
          left: inherit;
          width: initial;
          font-size: 0.8em;
          background-color: $blue-gradien-light;
          top: 23%;
          padding: 2px 8px;
        }
      }
    }
  }
}
