

.main-sidebar {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.03);
  position: fixed;
  top: 0;
  height: 100%;
  width: 250px;
  background-color: $blue-darken;
  z-index: 880;
  left: 0;
  .sidebar-wrapper {
    .sidebar-logo {
      min-height: 70px;
      background: #002f66;
      h1 {
        color: $white;
        font-size: 1.4em;
        padding: 1em;
        font-weight: bold;
      }
    }
    // UL
    .sidebar-menu {
      padding: 10px;
      //LI

      .sidebar-menu-item {
        a {
          display: block;
          padding: 14px 5px 14px 35px;
          color: $white;
          position: relative;

          &::after {
            @include fontello;
            content: "\E822";
            font-size: 1rem;
            position: absolute;
            right: 15px;
          }
          &::before {
            @include fontello;
            content: "\E830";
            font-size: 1rem;
            position: absolute;
            left: 3px;
          }
          .badge {
            position: absolute;
            right: 33px;
            left: inherit;
            width: initial;
            font-size: 0.8em;
            background-color: $blue-gradien-light;
            top: 31%;
            padding: 3px 8px;
            background: #8c35ff;
          }
        }

        &.layout {
          a {
            &::before {
              content: "\F0DB";
            }
          }
        }
        &.blocks {
          a {
            &::before {
              content: "\F1B3";
            }
          }
        }
        &.formulaire {
          a {
            &::before {
              content: "\E830";
            }
          }
        }
        &.components {
          a {
            &::before {
              content: "\E82F";
            }
          }
        }

        // DropDown Menu
        &.dropdown {
          .dropdown-menu {
           display: none;
    position: static !important;
    -webkit-transform: inherit !important;
    -ms-transform: inherit !important;
    transform: inherit !important;
    top: inherit !important;
    left: inherit !important;
    width: 100%;
    background: transparent;
    height:0px;
    
            &.show {
              display: block !important;
              height: 100%;
   
            }
          }

        }
      }
    }
  }
}
