.block-highlight-link {
    margin-bottom: 2rem;

    > a {
        position: relative;
        display: block;
        padding: 1.5rem 1.5rem 1.5rem 3rem;

        background-color: $secondary;
        color: $white;

        transition: background-color 0.3s ease;

        @include icon(before, icon-chevron-right) {
            position: absolute;
            top: 2rem;
            left: 1.3rem;

            font-size: 1rem;
        }

        @include link-inverse;

        @include hover-focus {
            background-color: $secondary-dark;
        }
    }

    // + + + + + + + + + + + + + + + + + + + + + + + + + + + +
    //
    // MEDIA QUERIES
    //
    // + + + + + + + + + + + + + + + + + + + + + + + + + + + +
    @include media-breakpoint-up(sm) {
        > a {
            padding: 3.5rem 3.5rem 3.5rem 4rem;

            &::before {
                top: 4rem;
                left: 2.3rem;
            }
        }
    }
}