.block-code-problem {
    margin-top: 5rem;
    padding-top: 4rem;
    border-top: dashed 0.1rem $gray-400;

    h3 {
        margin-bottom: 0;

        font-size: 1.7rem;
        text-transform: uppercase;
    }

    .form-group {
        margin-bottom: 1.5rem;
    }
}