.block-create-account-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &--title {
        margin-bottom: 1rem;

        @include media-breakpoint-down(sm) {
            font-size: 1.6rem;
        }
    }

    &--info {
        margin-bottom: 0;

        font-size: 1.4rem;
        word-break: break-all;
    }

    &--status {
        margin-top: 1rem;
        margin-right: 1rem;
        
        padding: 0.4rem 0.8rem;

        font-size: 1.4rem;
        font-weight: 700;
        text-transform: uppercase;
        color: $white;

        &:hover {
            .infobulle {
                display: block;
            }
        }

        .infobulle {
            display: none;

            position: absolute;
            bottom: 100%;
            left: 0%;

            margin-left: -37px;
            margin-bottom: 0.4rem;
            padding: 0.4rem 0rem;

            width: 140px;
            background-color: $black;

            font-size: 1rem;
            text-align: center;
            color: $white !important;

            &::after {
                content:'';
                display: block;

                position: absolute;
                top: 100%;
                left: 50%;
                margin-left: -5px;

                @include triangle(10px, $black, down);
            }
        }
    }

    &--actions {
        display: flex;
        flex-shrink: 0; // doesn't allow to shrink - same as no white-space but for flex
        align-items: flex-start;

        .btn-actions {
            padding: 0.5rem 1rem;
            font-size: 2.4rem;
            border: 0.1rem solid $gray-200; 
        }

        .btn-actions + .btn-actions {
            margin-left: 1rem;
        }

    }

    &--toggle-wrapper {
        margin-bottom: 2rem;
        padding-right: 3rem; // space for icon
    }

    &--toggle {
        position: relative;

        margin-bottom: 0;
        padding-right: 4rem; // space for btn-toggle-collapse

        transition: background-color 0.3s ease;

        .block-create-account-item--title {
            margin-bottom: 0;
        }

        .block-create-account-item--status {
            position: absolute;
            top: 50%;
            left: 100%;
            transform: translate(0,-50%);

            padding-left: 1rem;
            font-size: 2rem;
        }

        .btn-toggle-collapse {
            position: absolute;
            top: 1.5rem;
            right: 1rem;
        }
    }

    &--collapse {
        margin-top: -0.1rem;
        margin-bottom: 0; // fix visual bug à l'affichage du collapse
    }

    &--suivi-toggle-wrapper {
        margin-bottom: 3rem;
    }

    &--suivi {
        background-color: $gray-100;

        .dossier-status {
            //margin-left: auto;

            // + .block-create-account-item--actions {
            //     margin-left: 0;
            // }

            .dossier-status-info {
                color: inherit;
            }

            .icon-traitement-en-cours {
                color: $secondary;
            }

            .icon-demande-validee {
                color: $success;
            }
        }

        &.opened {
            background-color: $secondary;
            color: $white;

            .dossier-status,
            .block-create-account-item--actions {
                border-left-color: rgba($white, 0.4);
            }

            .dossier-status {
                .icon-traitement-en-cours,
                .icon-demande-validee {
                    color: inherit;
                }
            }

            .btn-actions {
                outline-color: $white;
            }
        }
    }

    .block-create-account-item--actions,
    .dossier-status {
        margin-top: 1rem;
    }
}


// + + + + + + + + + + + + + + + + + + + + + + + + + + + +
//
// MEDIA QUERIES
//
// + + + + + + + + + + + + + + + + + + + + + + + + + + + +
@include media-breakpoint-up(sm) {

    .block-create-account-item {
        &--toggle {
            .btn-toggle-collapse {
                top: 50%;
                transform: translate(0,-50%);
            }
        }

        &--suivi-collapse-wrapper {
            > .block-bordered {
                padding: 1.5rem 2rem;
            }
        }
    }
}

@include media-breakpoint-up(md) {

    .block-create-account-item {
        &--toggle-wrapper {
            padding-right: 0;
        }

        &--toggle {
            .block-create-account-item--status {
                padding-left: 2rem;
                font-size: 2.5rem;
            }
        }

        // &--actions {
        //     margin-left: auto;
        // }

        // &--suivi {
        //     .dossier-status {
        //         margin-left: auto;
        //     }
        // }
    }
}

@include media-breakpoint-up(lg) {

    .block-create-account-item {

        flex-direction: row;
        align-items: center; 

        &--suivi {
            padding-top: 0;
            padding-bottom: 0;

            align-items: stretch;

            .block-create-account-item--infos,
            .dossier-status,
            .block-create-account-item--actions {
                // pour centrer le contenu
                display: flex; 
                align-items: center;
                
                padding-top: 1.5rem;
                padding-bottom: 1.5rem;
            }
            
            .dossier-status,
            .block-create-account-item--actions {
                border-left: 0.1rem solid $gray-200;  
            }

            .dossier-status {
                margin-left: auto;
                padding-left: 2rem;
                padding-right: 2rem;
            }

            .dossier-status + .block-create-account-item--actions {
                margin-left: 0;
            }
        }

        &--status {
            margin-top: 0.5rem;
        }

        &--actions {
            margin-left: auto;
            padding-left: 2rem;
            
            .btn-actions {
                padding: 0.5rem;
    
                font-size: 2rem;
                
                border: none; 
            }
    
            .btn-actions + .btn-actions {
                margin-left: 0rem;
            }
        }
    
        .block-create-account-item--actions,
        .dossier-status {
            margin-top: 0rem;
        }
    }
    
}

@include media-breakpoint-down(xs) {

    .block-create-account-item {
        flex-wrap: wrap;

        &--title {
            font-size: 1.6rem;
        }

        &--suivi {
            display: block;

            .dossier-status {
                margin: 1rem 0;
            }
        }
    }
}