.block-upload-file {
    @include make-row;

    &--item {
        @include make-col-ready;
        @include make-col(6);

        display: flex;
        align-items: flex-start;
        margin-bottom: 2rem;

        @include media-breakpoint-up(xl) {
            @include make-col(3);

            margin-bottom: 0;
        }
    }

    &--button {
        @include reset-btn;

        position: relative;
        display: block;
        width: 100%;

        padding: 2rem;

        text-align: center;
        text-decoration: none;

        cursor: pointer;

        transition: transform 0.5s ease;

        @include icon(after, icon-upload) {
            opacity: 0;
            display: block;
            margin-top: 1rem;

            font-size: 2.6rem;

            color: $secondary;

            transition: opacity 0.5s ease;
        }

        [class^='icon-'] {
            display: block;
            margin-bottom: 1rem;

            font-size: 450%;
            color: $secondary;

            &::before{ display: block; }
        }

        @include hover-focus {
            z-index: 1;
            transform: scale(1.05);
            box-shadow: 0 0 1.5rem 0 rgba($black, 0.1);

            &::after {
                opacity: 1;
            }
        }

        &:focus {
            outline-offset: 0;
        }

        @include media-breakpoint-up(lg) {
            padding: 5rem 3rem;
        }
    }

    &--title {
        font-size: 1.4rem;
        font-weight: 700;
    }

    &--uploaded {
        width: 100%;

        text-align: center;

        &-title {
            margin-bottom: 2rem;
            font-size: 1.7rem;
            font-weight: 700;
        }

        &-rename {
            margin-top: -2.5rem;

            .btn-link {
                margin: auto;
                font-size: 1.1rem;
                text-decoration: underline;
            }

            [class^='icon-'] {
                font-size: 0.7rem;
            }
        }

        &-item {
            max-width: 13rem;
            margin-left: auto;
            margin-right: auto;
        }

        &-img {
            position: relative;
            display: inline-block;
            margin-bottom: 1rem;

            img {
                border: 0.2rem solid $border-color;
            }
        }

        &-img-btn  {
            position: absolute;
            right: 0.2rem;
            bottom: 0.2rem;

            padding: 0;
            width: 5rem;
            height: 5rem;

            font-size: 2rem;

            [class^='icon-'] {
                line-height: inherit;
            }
        }

        &-actions {
            display: flex;
            flex-wrap: wrap;

            .icon-check {
                margin-right: auto;
                color: $success;
            }

            .btn-actions {
                margin-top: -1rem;
            }
        }
    }
}

// ils se disposent en 3 colonnes et les espaces sont diminués
.block-upload-file--xs {
    .block-upload-file--item {
        @include media-breakpoint-up(xl) {
            @include make-col(4);
        }
    }

    .block-upload-file--button {
        padding: 1rem;
    }
}