.block-ordered-list-wrapper {
    display: block;

    .inner {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        align-items: center;
        
    }
    
    .block-ordered-list {

        > li {
            position: relative;
            display: flex;
            align-items: flex-end;
            height: 5rem;
            width: 14rem;
            @include media-breakpoint-down(lg) {
                width: 18rem;
            }
            margin-bottom: 0;
            padding-left: 0;
            list-style-type: none;
            border-width: 0 0 0.2rem 0;
            border-style: dotted;
            border-color: $gray-300;
            
            font-weight: $font-weight-semi-bold;
            text-align: center;
            font-size: 2.2rem;
            
            .amount {
                width: 100%;
                transform: translateY(1.4rem);
                
                background-color: $white;
                
                &:empty + .euro-sign {
                    &::after {
                        content: "€";
                        position: absolute;
                        bottom: -1.4rem;
                        right: -3rem;
                    }
                }
                
                &:not(:empty) + .euro-sign {
                    &::after {
                        content: "€";
                        position: absolute;
                        bottom: -1.4rem;
                        right: -3rem;
                    }
                }
            }
            
            
            
            &::before {
                position: absolute;
                top: auto;
                bottom: -1.1rem;
                left: -3.8rem;
                
                line-height: 2.5rem;
                height: 2.5rem;
                width: 2.5rem;
                font-size: 1.4rem;
                line-height: 2.6rem;
                
                border-radius: 50%;
                background-color: $gray-100;
                color: $gray-500;
            }
            
            
            &:nth-of-type(1) {
                &::before {
                    content: "1";
                }
            }
            
            &:nth-of-type(2) {
                &::before {
                    content: "2";
                }
            }
            
            &:nth-of-type(3) {
                &::before {
                    content: "3";
                }
            }
            
            &:nth-of-type(4) {
                &::before {
                    content: "4";
                }
            }
            
            &:nth-of-type(5) {
                &::before {
                    content: "5";
                }
            }
            
            &:nth-of-type(6) {
                &::before {
                    content: "6";
                }
            }
            
            &:nth-of-type(7) {
                &::before {
                    content: "7";
                }
            }
            
            &:nth-of-type(8) {
                &::before {
                    content: "8";
                }
            }
            
            &:nth-of-type(9) {
                &::before {
                    content: "9";
                }
            }
            
            &:nth-of-type(10) {
                &::before {
                    content: "10";
                }
            }
            
            &:nth-of-type(11) {
                &::before {
                    content: "11";
                }
            }
            
            &:nth-of-type(12) {
                &::before {
                    content: "12";
                }
            }
        }

    }
}