.block-return-link {
    position: relative;

    span.icon-arrow_left {
        font-size: 0.9rem;
    }

    a {
        display: inline-block;
        color: $secondary;
        text-decoration: none;
        font-size: 1.2rem;
        font-weight: 600;
        padding: 2rem 0 2rem 1.8rem;
        transition: color 0.3s ease-in-out;

        @include icon(before, icon-arrow_left)
        {
            position: absolute;
            top: 2.2rem;
            left: 0;
            font-size: 0.9rem;
            color: $secondary;
            text-decoration: none;
            transition: color 0.3s ease-in-out;
        }

        @include hover-focus {
            color: darken($link-hover-color, 10%);
            transition: color 0.3s ease-in-out;

            &::before {
                color: darken($link-hover-color, 10%);
                transition: color 0.3s ease-in-out;            }
        }
    }
}