$breadcrumb-active-color: $secondary;
$breadcrumb-bullet-width: 2rem;
$breadcrumb-border-width: 0.2rem;

.breadcrumb {
    list-style: none;
    counter-reset: item;

    display: table;
    width: 100%;
    table-layout: fixed;

    margin-top: $breadcrumb-bullet-width*0.5;

    text-align: center;
    border-top: solid $breadcrumb-border-width $gray-200;
}

.breadcrumb-item {
    position: relative;
    display: table-cell;
    vertical-align: top;

    padding-top: $breadcrumb-bullet-width;

    color: $gray-600;

    &.active,
    &.complete {
        color: $body-color;

        .breadcrumb-item-inner::after,
        .breadcrumb-item-separator::before {
            background-color: $breadcrumb-active-color;
        }
    }

    &.complete {
        .breadcrumb-item-inner {
            @include icon(after, icon-check) {
                font-size: 0.7rem;
                line-height: 20px; // fix IE alignment in px - $breadcrumb-bullet-width;
                color: $white;
            }
        }

        .breadcrumb-item-separator {
            &::after {
                background-color: $breadcrumb-active-color;
            }
        }
    }
}

.breadcrumb-item-separator {
    &::before,
    &::after {
        content: "";
        position: absolute;
        top: -$breadcrumb-border-width;
        height: $breadcrumb-border-width;
    }

    &::before {
        left: 0;
        right: 50%;
    }

    &::after {
        left: 50%;
        right: 0;
    }
}

.breadcrumb-item-inner {
    display: block;

    &::before {
        content: counter(item, decimal-leading-zero);
        counter-increment: item;

        display: block;
        font-weight: 700;
    }

    // bullet
    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1;

        display: block;
        margin: 0 auto $breadcrumb-bullet-width*0.5 auto;
        width: $breadcrumb-bullet-width;
        height: $breadcrumb-bullet-width;

        transform: translate(0, -$breadcrumb-bullet-width*0.5);

        border-radius: 100%;

        background-color: $gray-200;
    }
}

a.breadcrumb-item-inner {
    @include link-inverse;
}


// + + + + + + + + + + + + + + + + + + + + + + + + + + + +
//
// MEDIA QUERIES
//
// + + + + + + + + + + + + + + + + + + + + + + + + + + + +
@include media-breakpoint-down(sm) {
    .breadcrumb-item:not(.active) {
        .breadcrumb-item-title {
            opacity: 0;
        }
    }
}

@include media-breakpoint-up(md) {
    .breadcrumb {
        margin-bottom: 2.5rem;
    }
}

@include media-breakpoint-up(xxl) {
    .breadcrumb {
        margin-bottom: 5rem;
    }
}