.btn-download {
    position: relative;
    display: block;
    padding: 0 2.5rem 0 4.5rem;

    text-transform: uppercase;
    font-weight: $font-weight-medium;
    text-align: left;

    span, small {
        display: block;
    }

    @include icon(both, false, true) {
        position: absolute;
        color: $secondary;
    }

    @include icon(before, icon-pdf, false) {
        top: 0.2rem;
        left: 0;
        font-size: 200%;
    }

    @include icon(after, icon-telecharger, false) {
        top: 0.2rem;
        right: 0;
        font-size: 100%;
    }

    @include link-inverse;
    @include hover-focus {
        color: $body-color;
    }
}

.btn-link,
.btn-filter {
    font-size: 1.4rem;
    font-weight: $btn-font-weight;
    text-transform: none;

    [class^='icon-'] {
        vertical-align: initial;
        font-size: 1.1rem;
    }
}

.btn-link {
    padding: 0.5rem;

    [class^='icon-'] {
        color: $secondary;
    }
}

.btn-filter {
    padding: 0.8rem 1rem; 
    
    border: 0.1rem solid;
    border-radius: 0.4rem;

    [class^='icon-'] {
        color: inherit;
    }
}

button.btn-filter {
    background-color: transparent;

    &:focus,
    &:hover,
    &:active {
        color: $secondary;
    }
}

.btn-actions {
    padding: 0.5rem;
    font-size: 2rem;
    background: transparent;

    vertical-align: baseline;

    @include hover-focus {
        background-color: rgba($black, 0.1);
    }

    [class^='icon-'] {
        line-height: inherit;
    }
}

.btn-filters {
    width: 3rem;
    padding: 0;
    font-size: 1rem;
}

.btn-popover {
    [class*="icon"] {
        font-size: 1.5rem;
    }
}

.form-group .btn-popover {
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(0, -50%);
}

.btn-toggle-collapse {
    [class^="icon"] {
        font-size: 85%;
        transition: transform 250ms ease;
    }

    &[aria-expanded="true"] {
        [class^="icon"] {
            transform: rotate(180deg);
        }
    }
}

.btn-form-collapse {
    padding: 0;

    font-size: $h6-font-size;
    font-weight: 700;
    text-align: left;

    [class^="icon"] {
        margin-left: 0.7rem;
        vertical-align: baseline;

        width: 2.5rem;
        height: 2.5rem;
        line-height: calc(2.5rem - 0.2rem);

        font-size: 65%;
        text-align: center;
        color: $body-color;

        border: solid 0.1rem;
        border-radius: 100%;
    }
}