.close {
    text-transform: uppercase;

    opacity: 1;

    span {
        display: inline-block;
        vertical-align: middle;
    }

    [class^='icon-'] {
        color: $secondary;
    }

    &:not(:disabled):not(.disabled):hover,
    &:not(:disabled):not(.disabled):focus {
        opacity: 1;
    }
}