.dropdown-toggle {
    @include icon(after, icon-arrow_down) {
        margin-left: 1rem;
        width: auto;
        height: auto;

        font-size: 60%;

        border: 0;

        transition: transform 250ms ease;
    }

    &[aria-expanded="true"] {
        &::after {
            transform: rotate(180deg);
        }
    }
}