.input-group {
    > .form-control:not(:last-child),
    > .custom-select:not(:last-child) {
        border-right-color: $input-bg;
    }

    > .form-control:not(:first-child),
    > .custom-select:not(:first-child) {
        border-left-color: $input-bg;
    }
}

.input-group-text {
    padding-top: 0;
    padding-bottom: 0;

    [class^='icon-'] {
        font-size: 2.3rem;
        line-height: 1;
    }
}

.input-group-prepend,
.input-group-append {

    span.input-group-text {
        font-size: 1.8rem;
        font-weight: $font-weight-semi-bold;
    }
}

.input-group-append {
    .input-group-text {
        border-left-width: 0;
    }
}

.input-group--search {
    border-bottom: 0.1rem solid $body-color;

    .float-target-parent {
        flex: 1 1 auto;
        width: 1%;
    }

    .form-control {
        border: 0;
        height: 100%;
    }

    .input-group-text {
        padding: 0;
        border: 0;
    }

    .input-group-prepend {
        .input-group-text {
            color: $secondary;
        }
    }

    .input-group-prepend,
    .input-group-append {
        flex: 0 0 6rem; 
        
        .input-group-text {
            width: 100%;
            justify-content: center;
        }
    } 

    &---large {
        height: 13rem;

        .input-group-prepend {
            .input-group-text [class^='icon-'] {
                font-size: 4rem;
            }
        }

        .input-group-prepend,
        .input-group-append {
            flex: 0 0 10rem;
        }  
        
        label {
            font-size: 2.2rem; 
        }

        .form-control {
            padding-left: 0; 
            font-size: 2rem; 
        }

        .float-target-parent {
            label {
                transform: translateX(0rem) translateY(-50%);
            }

            &.focused {
                label {
                    transform: translateX(0rem) translateY(-5rem);

                    font-size: 1.4rem;
                    font-weight: 600;
                }
            }
        }
    }
}