ol, ul, dl {
    margin-bottom: 3rem;
}

ul {
    @include list-ul();
}

ol {
    @include list-ol($secondary);
}

ul, ol {
    ul, ol {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}

dd {
    margin-bottom: 1rem;
    margin-left: 1rem;
}

ul.nav,
.breadcrumb,
.pagination,
.steplist,
ul.menu {
    @include reset-list;
}