.modal-content {
    padding: 3rem;
}

.modal-header {
    padding-bottom: 3.5rem;

    .close {
        margin-left: 2rem;
        white-space: nowrap;
    }
}

.modal-title {
    margin-bottom: 0;
}

.modal-footer {
    padding-top: 4.5rem;

    justify-content: flex-start;
}

.modal-small-size {
    .modal-dialog {
        max-width: 55rem;
    }
}

.modal-full-size {
    .modal-dialog {
        max-width: calc(100% - 10rem);
        height: calc(100% - 10rem);

        .modal-content {
            height: calc(100% - 10rem);
        }
    }
}

// + + + + + + + + + + + + + + + + + + + + + + + + + + + +
//
// MEDIA QUERIES
//
// + + + + + + + + + + + + + + + + + + + + + + + + + + + +
@include media-breakpoint-up(lg) {
    .modal:not(.a11y-config) {
        .modal-content {
            padding: 5rem 7rem 7rem 7rem;
        }
    }
}

@include media-breakpoint-up(xl) {
    .modal-lg { max-width: 99.5rem; }
}