$steplist-bar-height: 1rem;

.steplist {
    list-style: none;
    counter-reset: item;
}

.steplist-item {
    color: $gray-200;

    [class^="icon"] {
        margin-right: 1rem;
        font-size: 2.5rem;
        line-height: 1;
    }

    &:last-child {
        .steplist-item-line {
            &::before,
            &::after {
                content: none;
            }
        }
    }

    &.complete {
        &,
        .steplist-item-title {
            color: $success;
        }
    }

    &.active {
        &,
        .steplist-item-title {
            color: $primary;
        }
    }
}

.steplist-item-inner {
    display: flex;
    align-items: center;
}

.steplist-item-title {
    margin-bottom: 0;
    
    font-size: 1.2rem;
    line-height: normal;
    color: $gray-500;

    &::before {
        content: counter(item, decimal-leading-zero);
        counter-increment: item;

        display: block;
        font-weight: 700;
        font-size: 1.7rem;
    }
}

.steplist-item-line {
    &::before,
    &::after {
        content: " ";
        position: absolute;
        z-index: 1;

        height: 0;
        width: 0;
        border: solid transparent;
    }

    &::after {
        border-color: transparent;
        border-width: $steplist-bar-height*0.5;
    }

    &::before {
        border-color: transparent;
        border-width: 0.8rem;
    }
}


// + + + + + + + + + + + + + + + + + + + + + + + + + + + +
//
// MEDIA QUERIES
//
// + + + + + + + + + + + + + + + + + + + + + + + + + + + +
@include media-breakpoint-down(xs) {
    .steplist {
        padding: 1rem 0;

        .steplist-item {
            position: relative;
            padding: 1rem 1rem 1rem 3rem;

            &:first-child {
                .steplist-item-line {
                    border-radius: $steplist-bar-height $steplist-bar-height 0 0;
                }
            }

            &:last-child {
                .steplist-item-line {
                    border-radius: 0 0 $steplist-bar-height $steplist-bar-height;
                }
            }
        }

        .steplist-item-line {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            width: $steplist-bar-height;
            background-color: currentColor;

            &::before,
            &::after {
                top: 100%;
                left: 50%;
            }

            &::after {
                border-top-color: currentColor;
	            margin-left: -$steplist-bar-height*0.5;
            }
            &::before {
                border-top-color: $white;
	            margin-left: -0.8rem;
            }
        }
    }
}

@include media-breakpoint-up(sm) {
    .steplist {
        display: table;
        table-layout: fixed;
        width: 100%;

        padding: 3rem 2rem;

        .steplist-item {
            display: table-cell;
            vertical-align: bottom;

            &:first-child {
                .steplist-item-line {
                    border-radius: $steplist-bar-height 0 0 $steplist-bar-height;
                }
            }

            &:last-child {
                .steplist-item-line {
                    border-radius: 0 $steplist-bar-height $steplist-bar-height 0;
                }
            }
        }

        .steplist-item-line {
            position: relative;
            display: block;
            margin-top: 1.5rem;
            border-bottom: solid $steplist-bar-height currentColor;

            &::before,
            &::after {
                top: 50%;
                left: 100%;
            }

            &::after {
                border-left-color: currentColor;
                margin-top: 0;
            }
            &::before {
                border-left-color: $white;
                margin-top: -0.3rem;
            }
        }

        .steplist-item-inner {
            justify-content: center;
        }
    }
}