// STEPPER

.stepper {
    list-style: none;
    counter-reset: step;

    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

    &-item {
        min-height: 5rem;
        position: relative;

        display: flex;
        align-items: center;

        width: 100%;
        padding-right: 3rem;

        color: transparentize($gray-700, 0.5);
        font-size: 1.4rem;
        font-weight: 600;

        @include media-breakpoint-down(md) {
            font-size: 1.2rem;
            max-width: 6rem;
            @supports (max-width: fit-content) {
                max-width: fit-content;
            }

            // > Hide non-active labels on mobile so that everything fits in
            &:not(.active) {
                .stepper-label {
                    @include sr-only;
                }
            }
        }

        &::before {
            display: none; // reset ol style
        }

        @include icon(after, icon-arrow_right) {
            font-size: 1.3rem;
            color: $gray-200;
            position: absolute;
            right: 3rem;
            @include media-breakpoint-down(md) {
                right: 0;
            }
        }

        // > Last Li
        &:last-child {
            padding-right: 0;

            &::after {
                content: none;
            }
        }

        // > Complete or active steps
        &.complete,
        &.active {
            border-bottom: 0.3rem solid $red;
        }

        // > Past step
        &.complete {
            color: transparentize($gray-700, 0);

            .stepper-link::before {
                color: $white;
                text-shadow: -0.1rem -0.1rem 0.2rem transparentize($gray-700, 0);
                @supports (-webkit-text-stroke: 0.1rem $gray-700) {
                -webkit-text-stroke: 0.1rem transparentize($gray-700, 0);
                text-shadow: none;
                }
            }
        }

        // > Active Step
        &.active {
            color: $secondary;
            // > Moving position of arrow icon
            margin-right: 3rem;
            padding: 0;

            &::after {
                right: 0;
            }

            @include media-breakpoint-down(md) {
                margin-right: 0;
                max-width: 100%;
            }

            // > Active step
            .stepper-link::before {
                color: $secondary;
            }
        }

        // > Links deactivation
        &:not(.active):not(.complete) .stepper-link {
            cursor: text;
            pointer-events: none;
        }

        @include media-breakpoint-down(md) {
            padding-right: 0;
        }
    }

    &-item-inner {
        flex: 1 1 100%;
    }

    &-link {
        display: flex;
        align-items: center;
        width: 100%;
        padding-right: 3rem;

        color: inherit;
        text-decoration: none !important;
        word-break: normal;
        white-space: nowrap;

        // > Icons
        &::before {
            content: counter(step);
            counter-increment: step;
            color: $gray-200;
            font-size: 3.5rem;
            font-weight: 700;
            margin: 0 1.6rem;
            @include media-breakpoint-down(md) {
                font-size: 2.5rem;
                margin: 0 1rem 0 0;
            }
        }
    }
}