.tab-pane {
    padding: 2.5rem;

    border-width: 0 0.1rem 0.1rem 0.1rem;
    border-style: solid;
    border-color: $black;

    background-color: $white; 

    @include media-breakpoint-up(xxl) {
        padding: 5rem;
    }
}