<div aria-live="polite" aria-atomic="true" tabindex="0" class="block-ordered-list-wrapper d-flex aw-col-lg-40 bg-white">
    <div class="inner px-6">
        <p class="text-center mb-0">
            Le montant des 3 premières
            <br>
            échéances <span class="font-weight-bold">trimestrielles</span>
            <br>
            
        </p>
        <ol class="block-ordered-list mt-4 mb-5">
            <li>
                <span class="amount">
                    10 000
                </span>
                <span class="euro-sign"></span>
                <span class="sr-only">euros</span>
            </li>
            <li>
                <span class="amount"></span>
                <span class="euro-sign"></span>
                <span class="sr-only">euros</span>
            </li>
            <li>
                <span class="amount"></span>
                <div class="euro-sign"></div>
                <span class="sr-only">euros</span>
            </li>
        </ol>
        <div class="font-size-12">
            <p class="mb-0">Afin de faciliter votre simulation, et de vous faire plus rapidement une proposition engagente, nous avons fixé par défaut un certain nombre de caractéristiques du prêt dont</p>
            <ul class="mb-0">
                <li class="mb-0">Le profil d'amortissement : amortissement prioritaire</li>
                <li class="mb-0">La modalite de révision : simple révisabilité</li>
                <li class="mb-0">L'index : livret A</li>
            </ul>
        </div>
    </div>
    
</div>