<div class="block-bordered border bg-primary text-white">
    <p>block-bordered border bg-primary text-white</p>
</div>

<div class="block-bordered border bg-secondary text-white">
    <p>block-bordered border bg-secondary text-white</p>
</div>

<div class="block-bordered border bg-gray-dark text-white">
    <p>block-bordered border bg-gray-dark text-white</p>
</div>

<div class="block-bordered border bg-light">
    <p>block-bordered border bg-light</p>
</div>

<div class="block-bordered border bg-lighter text-dark">
    <p>block-bordered border bg-lighter text-dark</p>
</div>

<div class="block-bordered border bg-white text-dark">
    <p>block-bordered border bg-white text-dark</p>
</div>