<div class="block-multi-item bg-secondary text-white d-flex flex-column flex-xl-row justify-content-between align-items-center p-4">
    <div class="icon ftz-8 pr-xl-7">
        <span class="icon-reponses_personnalisees" aria-hidden="true"></span>
    </div>
    <div class="text pr-xl-7">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias ratione ipsum, voluptatum illum, ullam doloremque voluptate similique earum dolor rerum omnis consequuntur quis. Laborum obcaecati explicabo in ipsa ut nisi.</p>
    </div>
    <div class="button">
        <a href="#" class="btn btn-tertiary">Télécharger le document</a>
    </div>
</div>