<div class="block-bordered border">
    <p>Block Border - Classic</p>
</div>

<div class="block-bordered border border-primary">
    <p>Block Border - Primary</p>
</div>

<div class="block-bordered border border-secondary">
    <p>Block Border - Secondary</p>
</div>

<div class="block-bordered border border-success">
    <p>Block Border - Success</p>
</div>

<div class="block-bordered border border-danger">
    <p>Block Border - Danger</p>
</div>

<div class="block-bordered border border-warning">
    <p>Block Border - Warning</p>
</div>

<div class="block-bordered border border-info">
    <p>Block Border - Info</p>
</div>