<div class="block-persona">
    <div class="block-persona--img">
        <img src="http://via.placeholder.com/130x130" alt="">
    </div>
    <div class="block-persona--info">
        <p>
            <span>Madame</span>
            <span>Sylvie</span>
            <span>Legrand-dupontel</span>
        </p>
        <a href="#">
            <span class="icon-modifier text-secondary" aria-hidden="true"></span>
            <span>Modifier</span>
        </a>
    </div>
</div>