//Custom variables

// ANIMATION
$bezier : cubic-bezier(0.390, 0.575, 0.565, 1.000);

$bg-lighter : #E2E3E5;

// COLOR THEME ACCESSIBLE
$access-color   : #757575; 
$blue-access    : #000080;
$yellow-access  : #FFFF00;
$secondary-access : #D72619;

// COLOR
$linkedin: rgb(131, 174, 235);
$twitter: #33CCFF;
$facebook: #3B5998;
$instagram: #4E433C;
$youtube: #FF3333;

// CUSTOM FORM ITEM HEIGHT
$custom-form-item-h: 6rem;

// TABLE
$table-cell-padding-y: 1.5rem;
$form-row-gutter: 1rem;

// DATEPICKER
$datepicker_dimension : 3.5rem;

// HEADER
$header-padd-x: 2rem;
$header-padd-x-desktop: 4rem;

$header-top-height : 4.1rem;
$header-top-height-xl : 5rem;

$highlight : #E4E4E4; 
$highlight-2 : #D3D3D3; 