<div class="logo">
    <h2>Logo Retina / HD</h2>
    <img src="../site/img/logo-bdt.svg" alt="Banque des Territoire - Groupe Caisse des dépôts">
</div>

<div class="logo mt-12">
    <h2>Logo Retina / HD - mobile</h2>
    <img src="../site/img/logo-bdt-mobile.svg" alt="Banque des Territoire - Groupe Caisse des dépôts">
</div>