<div class="aw-row-padding-xs">
    <div class="aw-col-lg-10">
        .aw-col-lg-10 = 10%
    </div>
    <div class="aw-col-lg-90"> 
        .aw-col-lg-90 = 90%
    </div>
</div>

<div class="aw-row-padding-xs">
    <div class="aw-col-lg-20">
        .aw-col-lg-20 = 20%
    </div>
    <div class="aw-col-lg-80"> 
        .aw-col-lg-80 = 80%
    </div>
</div>

<div class="aw-row-padding-xs">
    <div class="aw-col-lg-30">
        .aw-col-lg-30 = 30%
    </div>
    <div class="aw-col-lg-70"> 
        .aw-col-lg-70 = 70%
    </div>
</div>

<div class="aw-row-padding-xs">
    <div class="aw-col-lg-40">
        .aw-col-lg-40 : 40%
    </div>
    <div class="aw-col-lg-60">
        .aw-col-lg-60 : 60%
    </div>
</div>

<div class="aw-row-padding-xs">
    <div class="aw-col-lg-50">
        .aw-col-lg-50 : 50%
    </div>
    <div class="aw-col-lg-50"> 
        .aw-col-lg-50 : 50%
    </div>
</div>