<!-- ========== Left Sidebar Start ========== -->
<div class="vertical-menu">

	<div data-simplebar class="h-100">

		<div class="sidebar-logo">
			<h1>
				Design System
			</h1>
		</div>

		<!--- Sidemenu -->
		<div
			id="sidebar-menu">
			<!-- Left Menu Start -->
			<ul class="metismenu list-unstyled" id="side-menu">
			

{% include '../sidebar/_sidebar-menu-item.twig' with {
        
        'sidebar_menu_item_items': [
            {
                'sidebar_menu_item_title': 'Layout',
                'sidebar_menu_item_child_items': [
                    {    
                    'child_item_title': 'Test',
                    'child_item_url': 'https://www.google.com',
                    'child_item_class': 'test',
                    },
                    {    
                    'child_item_title': 'Test',
                    'child_item_url': 'https://www.google.com',
                    'child_item_class': 'test',
                    },
                    {    
                    'child_item_title': 'Test',
                    'child_item_url': 'https://www.google.com',
                    'child_item_class': 'test',
                    },
                    {    
                    'child_item_title': 'Test',
                    'child_item_url': 'https://www.google.com',
                    'child_item_class': 'test',
                    },
                ],
                'sidebar_menu_item_class': 'layout',
                'sidebar_menu_item_badge_value': 'New',
                'sidebar_menu_item_url': 'https://www.google.com' , 
                'sidebar_menu_item_additionnal_attributes': {
                    'data-test': 'lol'
                },
                'sidebar_menu_item_additionnal_classes': ''

            },

            {
                'sidebar_menu_item_title': 'Blocks',
                'sidebar_menu_item_child_items': [
                    {    
                    'child_item_title': 'Test',
                    'child_item_url': 'https://www.google.com',
                    'child_item_class': 'test',
                    },
                    {    
                    'child_item_title': 'Test',
                    'child_item_url': 'https://www.google.com',
                    'child_item_class': 'test',
                    },
                    {    
                    'child_item_title': 'Test',
                    'child_item_url': 'https://www.google.com',
                    'child_item_class': 'test',
                    },
                    {    
                    'child_item_title': 'Test',
                    'child_item_url': 'https://www.google.com',
                    'child_item_class': 'test',
                    },
                ],
                'sidebar_menu_item_class': 'blocks',
                'sidebar_menu_item_badge_value': '',
                'sidebar_menu_item_url': 'https://www.google.com',  
                'sidebar_menu_item_additionnal_attributes': {
                    'data-test': 'lol'
                },
                'sidebar_menu_item_additionnal_classes': ''

            },

            {
                'sidebar_menu_item_title': 'Formulaire',
                'sidebar_menu_item_child_items': [
                    {    
                    'child_item_title': 'Test',
                    'child_item_url': 'https://www.google.com',
                    'child_item_class': 'test',
                    },
                    {    
                    'child_item_title': 'Test',
                    'child_item_url': 'https://www.google.com',
                    'child_item_class': 'test',
                    },
                    {    
                    'child_item_title': 'Test',
                    'child_item_url': 'https://www.google.com',
                    'child_item_class': 'test',
                    },
                    {    
                    'child_item_title': 'Test',
                    'child_item_url': 'https://www.google.com',
                    'child_item_class': 'test',
                    },
                ],
                'sidebar_menu_item_class': 'formulaire',
                'sidebar_menu_item_badge_value': '',
                'sidebar_menu_item_url': 'https://www.google.com',  
                'sidebar_menu_item_additionnal_attributes': {
                    'data-test': 'lol'
                },
                'sidebar_menu_item_additionnal_classes': ''

            },
            {
                'sidebar_menu_item_title': 'Components',
                'sidebar_menu_item_child_items': [
                    {    
                    'child_item_title': 'Buttons',
                    'child_item_url': 'buttons.html',
                    'child_item_class': 'button',
                    },
                    {    
                    'child_item_title': 'Test',
                    'child_item_url': 'https://www.google.com',
                    'child_item_class': 'test',
                    },
                    {    
                    'child_item_title': 'Test',
                    'child_item_url': 'https://www.google.com',
                    'child_item_class': 'test',
                    },
                    {    
                    'child_item_title': 'Test',
                    'child_item_url': 'https://www.google.com',
                    'child_item_class': 'test',
                    },
                ],
                'sidebar_menu_item_class': 'components',
                'sidebar_menu_item_badge_value': 'New',
                'sidebar_menu_item_url': 'https://www.google.com',  
                'sidebar_menu_item_additionnal_attributes': {
                    'data-test': 'lol'
                },
                'sidebar_menu_item_additionnal_classes': ''

            },
         ]
        
         } %}


			</ul>

		</div>
		<!-- Sidebar -->
	</div>
</div>
<!-- Left Sidebar End -->
