<aside class="main-sidebar sidebar-style-2 ">
	<div
		class="sidebar-wrapper">
		{# {% include "../sidebar/_sidebar-main-menu.twig" %}  #}
		<div class="sidebar-logo">
			<h1>
				Design System
			</h1>
		</div>

		{# SIDEBAR #}

		<ul class="sidebar-menu">

			{% include '../sidebar/_sidebar-menu-item.twig' with {
        
        'sidebar_menu_item_items': [
            {
                'sidebar_menu_item_title': 'Layout',
                'sidebar_menu_item_child_items': [
                    {    
                    'child_item_title': 'Test',
                    'child_item_url': 'https://www.google.com',
                    'child_item_class': 'test',
                    },
                    {    
                    'child_item_title': 'Test',
                    'child_item_url': 'https://www.google.com',
                    'child_item_class': 'test',
                    },
                    {    
                    'child_item_title': 'Test',
                    'child_item_url': 'https://www.google.com',
                    'child_item_class': 'test',
                    },
                    {    
                    'child_item_title': 'Test',
                    'child_item_url': 'https://www.google.com',
                    'child_item_class': 'test',
                    },
                ],
                'sidebar_menu_item_class': 'layout',
                'sidebar_menu_item_badge_value': '2',
                'sidebar_menu_item_url': 'https://www.google.com' , 
                'sidebar_menu_item_additionnal_attributes': {
                    'data-test': 'lol'
                },
                'sidebar_menu_item_additionnal_classes': ''

            },

            {
                'sidebar_menu_item_title': 'Blocks',
                'sidebar_menu_item_child_items': [
                    {    
                    'child_item_title': 'Test',
                    'child_item_url': 'https://www.google.com',
                    'child_item_class': 'test',
                    },
                    {    
                    'child_item_title': 'Test',
                    'child_item_url': 'https://www.google.com',
                    'child_item_class': 'test',
                    },
                    {    
                    'child_item_title': 'Test',
                    'child_item_url': 'https://www.google.com',
                    'child_item_class': 'test',
                    },
                    {    
                    'child_item_title': 'Test',
                    'child_item_url': 'https://www.google.com',
                    'child_item_class': 'test',
                    },
                ],
                'sidebar_menu_item_class': 'blocks',
                'sidebar_menu_item_badge_value': '2',
                'sidebar_menu_item_url': 'https://www.google.com',  
                'sidebar_menu_item_additionnal_attributes': {
                    'data-test': 'lol'
                },
                'sidebar_menu_item_additionnal_classes': ''

            },

            {
                'sidebar_menu_item_title': 'Formulaire',
                'sidebar_menu_item_child_items': [
                    {    
                    'child_item_title': 'Test',
                    'child_item_url': 'https://www.google.com',
                    'child_item_class': 'test',
                    },
                    {    
                    'child_item_title': 'Test',
                    'child_item_url': 'https://www.google.com',
                    'child_item_class': 'test',
                    },
                    {    
                    'child_item_title': 'Test',
                    'child_item_url': 'https://www.google.com',
                    'child_item_class': 'test',
                    },
                    {    
                    'child_item_title': 'Test',
                    'child_item_url': 'https://www.google.com',
                    'child_item_class': 'test',
                    },
                ],
                'sidebar_menu_item_class': 'formulaire',
                'sidebar_menu_item_badge_value': '2',
                'sidebar_menu_item_url': 'https://www.google.com',  
                'sidebar_menu_item_additionnal_attributes': {
                    'data-test': 'lol'
                },
                'sidebar_menu_item_additionnal_classes': ''

            },
            {
                'sidebar_menu_item_title': 'Components',
                'sidebar_menu_item_child_items': [
                    {    
                    'child_item_title': 'Test',
                    'child_item_url': 'https://www.google.com',
                    'child_item_class': 'test',
                    },
                    {    
                    'child_item_title': 'Test',
                    'child_item_url': 'https://www.google.com',
                    'child_item_class': 'test',
                    },
                    {    
                    'child_item_title': 'Test',
                    'child_item_url': 'https://www.google.com',
                    'child_item_class': 'test',
                    },
                    {    
                    'child_item_title': 'Test',
                    'child_item_url': 'https://www.google.com',
                    'child_item_class': 'test',
                    },
                ],
                'sidebar_menu_item_class': 'components',
                'sidebar_menu_item_badge_value': '2',
                'sidebar_menu_item_url': 'https://www.google.com',  
                'sidebar_menu_item_additionnal_attributes': {
                    'data-test': 'lol'
                },
                'sidebar_menu_item_additionnal_classes': ''

            },
         ]
        
    } %}

		</ul>


		{# END SIDEBAR #}


	</div>
</aside>
