&.body-wrapper {
    background-image: url('../img/bg-trame.png');
    background-position: center 18rem;
    background-repeat: no-repeat;
}

[role="main"] {
    padding: 4rem 2rem;

    background-color: $white;

    @include media-breakpoint-up(md) {
        padding: 4rem 6rem;
    }

    @include media-breakpoint-up(xxl) {
        padding: 4rem 12rem 9rem 12rem;
    }
}

&.page-home [role="main"] {
    max-width: 84.6rem;
}