.main {
    h1, .h1 {
        @include border-top-left-2;
        margin-bottom: 2.5rem;

        &.no-corner {
            &::before {
                display: none;
            }
        }
    }

    h2, .h2 {
        @include border-custom-spacer;

        &.no-border {
            &::after {
                content: none;
            }
        }
    }
}

.hn-icon {
    [class^="icon-"] {
        font-size: 80%;
        color: $secondary;
    }
}

.with-dot {
    position: relative;
    padding-left: 1.5rem;

    &::before {
        content: "•";
        position: absolute;
        top: 0;
        left: 0;
        color: $secondary;

        // Screenreaders should ignore that kind of elements
        -webkit-alt: "";
        speak: none;
    }
}

hr.dashed{
    border-style: dashed;
}

hr.dotted{
    border-style: dotted;
}

.sr-only {
    margin: 0!important;
    padding: 0!important;
}