<div class="accordion" id="accordionCode">
	<div class="card">
		<div class="card-header" id="headingOne">
			<h2 class="mb-0">
				<button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
					Collapsible Group Item #1
				</button>
			</h2>
		</div>

		<div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionCode">
			<div class="card-body">



<pre><code class="language-css">p { color: red }</code></pre>


<pre><code class="language-javascript">


 </code></pre>


			</div>
		</div>
	</div>

</div>
