
{############################################################################################}
{########################################### USAGE ##########################################}
{############################################################################################}

{#
	{% include '../blocks/_block-preview.twig' with {
		'block_id' : random(99999999999) ,
		'block_title' : 'Buttons' ,
		'block_description' : 'Utilisez des icônes pour ajouter plus de sens aux boutons. Vous pouvez utiliser uniquement l\'icône pour économiser de l\'espace, ou bien l\'utiliser avec du texte',
		'block_path_code_example' : '../blocks/_button-download.twig',      
	} %}
#}

{############################################################################################}
{########################################### CODE ###########################################}
{############################################################################################}

<div class="block-preview" id="block_{{ block_id }}">
		<div class="block-info">
            <h2 class="block-main-title">{{ block_title|trim  }}</h2>
			 <p>{{ block_description|trim  }}</p> 
		</div>
		{# <div class="block_example">
			{% include block_path_code_example %} 
		</div> #}
	

</div>
