<div class="btn-group justify-content-left d-flex">
    <a href="#" class="btn solid-button-one">
        <span>Télécharger le récapitulatif de ma demande</span>
        <small>(PDF - 508 ko)</small>
    </a>

    <a href="#" class="btn solid-button-two">
		<span>Télécharger le récapitulatif de ma demande</span>
		<small>(PDF - 508 ko)</small>
	</a>
</div>

