<span class="sg-characters">A</span>
<span class="sg-characters">B</span>
<span class="sg-characters">C</span>
<span class="sg-characters">D</span>
<span class="sg-characters">E</span>
<span class="sg-characters">F</span>
<span class="sg-characters">G</span>
<span class="sg-characters">H</span>
<span class="sg-characters">I</span>
<span class="sg-characters">J</span>
<span class="sg-characters">K</span>
<span class="sg-characters">L</span>
<span class="sg-characters">M</span>
<span class="sg-characters">N</span>
<span class="sg-characters">O</span>
<span class="sg-characters">P</span>
<span class="sg-characters">Q</span>
<span class="sg-characters">R</span>
<span class="sg-characters">S</span>
<span class="sg-characters">T</span>
<span class="sg-characters">U</span>
<span class="sg-characters">V</span>
<span class="sg-characters">W</span>
<span class="sg-characters">X</span>
<span class="sg-characters">Y</span>
<span class="sg-characters">Z</span>

<span class="d-block"></span>

<span class="sg-characters">a</span>
<span class="sg-characters">b</span>
<span class="sg-characters">c</span>
<span class="sg-characters">d</span>
<span class="sg-characters">e</span>
<span class="sg-characters">f</span>
<span class="sg-characters">g</span>
<span class="sg-characters">h</span>
<span class="sg-characters">i</span>
<span class="sg-characters">j</span>
<span class="sg-characters">k</span>
<span class="sg-characters">l</span>
<span class="sg-characters">m</span>
<span class="sg-characters">n</span>
<span class="sg-characters">o</span>
<span class="sg-characters">p</span>
<span class="sg-characters">q</span>
<span class="sg-characters">r</span>
<span class="sg-characters">s</span>
<span class="sg-characters">t</span>
<span class="sg-characters">u</span>
<span class="sg-characters">v</span>
<span class="sg-characters">w</span>
<span class="sg-characters">x</span>
<span class="sg-characters">y</span>
<span class="sg-characters">z</span>

<span class="d-block"></span>

<span class="sg-characters">Â</span>
<span class="sg-characters">Ê</span>
<span class="sg-characters">Ô</span>
<span class="sg-characters">â</span>
<span class="sg-characters">ê</span>
<span class="sg-characters">ô</span>

<span class="d-block"></span>

<span class="sg-characters">1</span>
<span class="sg-characters">2</span>
<span class="sg-characters">3</span>
<span class="sg-characters">4</span>
<span class="sg-characters">5</span>
<span class="sg-characters">6</span>
<span class="sg-characters">7</span>
<span class="sg-characters">8</span>
<span class="sg-characters">9</span>
<span class="sg-characters">0</span>

<span class="d-block"></span>

<span class="sg-characters">‘</span>
<span class="sg-characters">?</span>
<span class="sg-characters">’</span>
<span class="sg-characters">“</span>
<span class="sg-characters">!</span>
<span class="sg-characters">”</span>
<span class="sg-characters">(</span>
<span class="sg-characters">%</span>
<span class="sg-characters">)</span>
<span class="sg-characters">[</span>
<span class="sg-characters">#</span>
<span class="sg-characters">]</span>
<span class="sg-characters">{</span>
<span class="sg-characters">@</span>
<span class="sg-characters">}</span>
<span class="sg-characters">/</span>
<span class="sg-characters">&amp;</span>
<span class="sg-characters">\</span>
<span class="sg-characters">&lt;</span>
<span class="sg-characters">-</span>
<span class="sg-characters">+</span>
<span class="sg-characters">÷</span>
<span class="sg-characters">×</span>
<span class="sg-characters">=</span>
<span class="sg-characters">&gt;</span>
<span class="sg-characters">®</span>
<span class="sg-characters">©</span>
<span class="sg-characters">$</span>
<span class="sg-characters">€</span>
<span class="sg-characters">£</span>
<span class="sg-characters">¥</span>
<span class="sg-characters">¢</span>
<span class="sg-characters">:</span>
<span class="sg-characters">;</span>
<span class="sg-characters">,</span>
<span class="sg-characters">.</span>
<span class="sg-characters">*</span>
