<h2>Couleurs primaires</h2>
<p>Les variables de couleurs sont dans le ficher <code class="highlight">0-common/2-framework/bootstrap/_bootstrap-user-variables.scss</code></p>

<div class="row">
    <p class="col-2 sg-color">
        <span style="background-color: #FFFFFF;"></span>
        <span>$white : #FFFFFF</span>
    </p>
    <p class="col-2 sg-color">
        <span style="background-color: #171717;"></span>
        <span>$black : #171717</span>
    </p>
</div>

<div class="row">
    <p class="col sg-color">
        <span style="background-color: #F4F4F4;"></span>
        <span>$gray-100 : #F4F4F4</span>
    </p>
    <p class="col sg-color">
        <span style="background-color: #E4E4E4;"></span>
        <span>$gray-200 : #E4E4E4</span>
    </p>
    <p class="col sg-color">
        <span style="background-color: #CCCCCC;"></span>
        <span>$gray-300 : #CCCCCC</span>
    </p>
    <p class="col sg-color">
        <span style="background-color: #757575;"></span>
        <span>$gray-500 : #757575</span>
    </p>
    <p class="col sg-color">
        <span style="background-color: #454545;"></span>
        <span>$gray-800 : #454545</span>
    </p>
    <p class="col sg-color">
        <span style="background-color: #171717;"></span>
        <span>$gray-900 : #171717</span>
    </p>
</div>

<div class="sg-callout sg-callout-warning mt-0"> 
    <p>
        <b>Utilisation des gris :</b>
    </p>
    <ul class="mb-0">
        <li>#F4F4F4 : Applat gris clair (type background localtis sur la home)</li>
        <li>#E4E4E4 : Contour des applats gris clair, les séparateurs, les contours de carte (type les blocs solutions sur la home)</li>
        <li>#757575 : Libéllé des champs, dates, tags et réseaux sociaux dans le footer</li>
        <li>#CCCCCC : Contours de champs de saisie, de case à cocher et de boutons radio</li>
        <li>#454545 : Texte courant</li>
        <li>#171717 : Titre</li>
    </ul>
</div>

<div class="row">
    <p class="col-2 sg-color">
        <span style="background-color: #E5291D;"></span>
        <span>$red / $secondary: #E5291D</span>
    </p>
    <p class="col-2 sg-color">
        <span style="background-color: #B90D0D;"></span>
        <span>$secondary-dark : #B90D0D</span>
    </p>
    <p class="col-2 sg-color">
        <span style="background-color: #A00C0C;"></span>
        <span>$secondary-darken : #A00C0C</span>
    </p>
</div>

<h2 class="mt-9">Couleurs secondaires</h2>
<p>(à utiliser sur les schémas et infographies)</p>

<div class="row">
    <p class="col-2 sg-color">
        <span style="background-color: #F5A023;"></span>
        <span>$orange: #F5A023</span>
    </p>
    <p class="col-2 sg-color">
        <span style="background-color: #F5B053;"></span>
        <span>80% opacity</span>
    </p>
    <p class="col-2 sg-color">
        <span style="background-color: #F3C17B"></span>
        <span>60% opacity</span>
    </p>
    <p class="col-2 sg-color">
        <span style="background-color: #F3D2A3"></span>
        <span>40% opacity</span>
    </p>
</div>

<div class="row">
    <p class="col-2 sg-color">
        <span style="background-color: #FFEB68;"></span>
        <span>$yellow: #FFEB68</span>
    </p>
    <p class="col-2 sg-color">
        <span style="background-color: #FCEC85;"></span>
        <span>80% opacity</span>
    </p>
    <p class="col-2 sg-color">
        <span style="background-color: #F9EDA0"></span>
        <span>60% opacity</span>
    </p>
    <p class="col-2 sg-color">
        <span style="background-color: #F7EFBB"></span>
        <span>40% opacity</span>
    </p>
</div>

<div class="row">
    <p class="col-2 sg-color">
        <span style="background-color: #EB6EAA;"></span>
        <span>$pink: #EB6EAA</span>
    </p>
    <p class="col-2 sg-color">
        <span style="background-color: rgba(235, 110, 170, 0.8);"></span>
        <span>80% opacity</span>
    </p>
    <p class="col-2 sg-color">
        <span style="background-color: rgba(235, 110, 170, 0.6);"></span>
        <span>60% opacity</span>
    </p>
    <p class="col-2 sg-color">
        <span style="background-color: rgba(235, 110, 170, 0.4);"></span>
        <span>40% opacity</span>
    </p>
</div>

<div class="row">
    <p class="col-2 sg-color">
        <span style="background-color: #6F42C1;"></span>
        <span>$purple: #6F42C1</span>
    </p>
    <p class="col-2 sg-color">
        <span style="background-color: rgba(110, 66, 193, 0.8);"></span>
        <span>80% opacity</span>
    </p>
    <p class="col-2 sg-color">
        <span style="background-color: rgba(110, 66, 193, 0.6);"></span>
        <span>60% opacity</span>
    </p>
    <p class="col-2 sg-color">
        <span style="background-color: rgba(110, 66, 193, 0.4);"></span>
        <span>40% opacity</span>
    </p>
</div>

<div class="row">
    <p class="col-2 sg-color">
        <span style="background-color: #64C3D7;"></span>
        <span>$blue: #64C3D7</span>
    </p>
    <p class="col-2 sg-color">
        <span style="background-color: rgba(100, 195, 215, 0.8);"></span>
        <span>80% opacity</span>
    </p>
    <p class="col-2 sg-color">
        <span style="background-color: rgba(100, 195, 215, 0.6);"></span>
        <span>60% opacity</span>
    </p>
    <p class="col-2 sg-color">
        <span style="background-color: rgba(100, 195, 215, 0.4);"></span>
        <span>40% opacity</span>
    </p>
</div>

<div class="row">
    <p class="col-2 sg-color">
        <span style="background-color: #AFCD50;"></span>
        <span>$green: #AFCD50</span>
    </p>
    <p class="col-2 sg-color">
        <span style="background-color: rgba(175, 205, 80, 0.8);"></span>
        <span>80% opacity</span>
    </p>
    <p class="col-2 sg-color">
        <span style="background-color: rgba(175, 205, 80, 0.6);"></span>
        <span>60% opacity</span>
    </p>
    <p class="col-2 sg-color">
        <span style="background-color: rgba(175, 205, 80, 0.4);"></span>
        <span>40% opacity</span>
    </p>
</div>

{# <div class="row">
    <p class="col-2 sg-color">
        <span style="background-color: #797676;"></span>
        <span>$gray-700 : #797676</span>
    </p>
    <p class="col-2 sg-color">
        <span style="background-color: rgba(123, 123, 123, 0.8);"></span>
        <span>80% opacity</span>
    </p>
    <p class="col-2 sg-color">
        <span style="background-color: rgba(123, 123, 123, 0.6);"></span>
        <span>60% opacity</span>
    </p>
    <p class="col-2 sg-color">
        <span style="background-color: rgba(123, 123, 123, 0.4);"></span>
        <span>40% opacity</span>
    </p>
</div> #}