{#
    setting the list of icons
#}
{%
    set icons = [
        "icon-alerte_outline",
        "icon-comparateur_energetique",
        "icon-deconnexion",
        "icon-simulateur",
        "icon-cartographie",
        "icon-coproprietes_degradees",
        "icon-fichier_pdf",
        "icon-mobile",
        "icon-tourisme",
        "icon-accompagnement_transformation_secteur",
        "icon-adaptation_changement_climatique",
        "icon-consigner",
        "icon-dialogue_citoyen",
        "icon-entreprendre_autrement",
        "icon-pret_flash",
        "icon-transition-energetique",
        "icon-vieillissement",
        "icon-france-metropole",
        "icon-guadeloupe",
        "icon-guyane",
        "icon-martinique",
        "icon-mayotte",
        "icon-nouvelle-caledonie",
        "icon-polynesie-francaise",
        "icon-la-reunion",
        "icon-st-pierre-et-miquelon",
        "icon-hexagone-bdt",
        "icon-pause",
        "icon-play",
        "icon-confirmation",
        "icon-refus",
        "icon-epl",
        "icon-mobilites",
        "icon-alerte",
        "icon-contrat",
        "icon-ajouter",
        "icon-erreur",
        "icon-traitement-en-cours",
        "icon-demande-validee",
        "icon-sort-table",
        "icon-drag-n-drop",
        "icon-upload",
        "icon-historique",
        "icon-modifier",
        "icon-supprimer",
        "icon-recapitulatif",
        "icon-dupliquer",
        "icon-justificatif-paiement",
        "icon-logement2",
        "icon-logement",
        "icon-partage",
        "icon-modernisation_ecoles",
        "icon-territoires_conseils",
        "icon-zoom",
        "icon-reconquete_territoires_industrie",
        "icon-renovation_reseaux_eaux",
        "icon-cacher_mot_de_passe",
        "icon-pencil",
        "icon-toutes-nos-offres",
        "icon-banque-en-ligne",
        "icon-services-en-ligne",
        "icon-reseaux-sociaux",
        "icon-soutien_enjeux_renovation_parc_social",
        "icon-maintien_investissement_production_neuve_et_rehabilitation_thermique",
        "icon-rss",
        "icon-annuaire_smartcity",
        "icon-association_elus",
        "icon-offre_conseils_et_financements",
        "icon-reseau_experts_partenaires",
        "icon-partenaire_financier_de_reference",
        "icon-appui_politique_locale",
        "icon-appui_realisation_projets",
        "icon-appui_renovation_urbaine",
        "icon-accompagnement_sur_site",
        "icon-gamme_evenements_complete",
        "icon-reponses_personnalisees",
        "icon-expertise_developpement_territorial",
        "icon-legitimite_historique",
        "icon-transition_ecologique",
        "icon-gamme_intervention_complete",
        "icon-proximite",
        "icon-partenaires_a_vos_cotes",
        "icon-403",
        "icon-404",
        "icon-maintenance",
        "icon-actualites",
        "icon-ameliorer_efficacite_energetique",
        "icon-definir_strategie_financiere",
        "icon-smartcity",
        "icon-ouvrir_gerer_comptes",
        "icon-developper_entreprise",
        "icon-elaborer_son_installation",
        "icon-financer_offre_innovante",
        "icon-financer_projet_territorial",
        "icon-mettre_en_place_solution_innovante",
        "icon-financer_projet_investissement",
        "icon-financer_logement_social",
        "icon-revitaliser_centre_ville",
        "icon-back",
        "icon-envoyer_ami",
        "icon-arrow_double_left",
        "icon-arrow_double_right",
        "icon-arrow-full-left",
        "icon-arrow-full-right",
        "icon-border-top-left-1",
        "icon-border-top-left-2",
        "icon-border-top-left-3",
        "icon-border-top-right-1",
        "icon-close",
        "icon-spacer",
        "icon-article_verrouille",
        "icon-assistant_projet",
        "icon-ecrire_par_mail",
        "icon-dossier",
        "icon-pdf",
        "icon-citation",
        "icon-retour",
        "icon-connexion",
        "icon-participants",
        "icon-horaire",
        "icon-temps_estime",
        "icon-attention",
        "icon-telephone",
        "icon-information_outline",
        "icon-check",
        "icon-tutoriel_telecharger",
        "icon-tutoriel_video",
        "icon-configuration",
        "icon-site_internet",
        "icon-voir_mot_de_passe",
        "icon-youtube",
        "icon-instagram",
        "icon-linkedin",
        "icon-twitter",
        "icon-facebook",
        "icon-fermer",
        "icon-aide",
        "icon-information",
        "icon-arrow_down",
        "icon-arrow_up",
        "icon-arrow_left",
        "icon-arrow_right",
        "icon-mapmarker",
        "icon-reinitialiser",
        "icon-calendrier",
        "icon-menu",
        "icon-lien_externe",
        "icon-telecharger",
        "icon-carte",
        "icon-newsletter",
        "icon-access",
        "icon-account",
        "icon-recherche",
        "icon-imprimer",
        "icon-contact",
        "icon-agenda"
    ]
%}

<div class="sg-icons">
    {% for icon in icons %}
    <div class="{{ icon }}" aria-hidden="true">
        <span class="icon-name">{{ icon }}</span>
    </div>
    {% endfor %}
</div>