<h1>Titre de niveau – H1</h1>
<div class="sg-comment">
    <p>
        <span>Montserrat Bold</span>
        <span><b>Desktop :</b> Taille 32px – Interlignage 38px — #171717</span>
        <span><b>Tablette / Mobile :</b> Taille 28px – Interlignage 32px — #171717</span>
    </p>
</div>

<hr class="my-9 dashed">

<h2>Titre de niveau – H2</h2>
<div class="sg-comment">
    <p>
        <span>Montserrat Bold</span>
        <span><b>Desktop :</b> Taille 26px – Interlignage 32px — #171717</span>
        <span><b>Tablette / Mobile :</b> Taille 26px – Interlignage 32px — #171717</span>
    </p>
    <p>Le titre ci-dessus est de niveau 2, balise <code>&lt;h2&gt;</code>. Il s'utilise après un élément <code>&lt;h1&gt;</code>, pour marquer un titre de niveau inférieur.</p>
</div>

<hr class="my-9 dashed">

<h2 class="text-uppercase">Titre de niveau – H2</h2>
<div class="sg-comment">
    <p>
        <span>Montserrat Bold</span>
        <span><b>Desktop :</b> Taille 26px – Interlignage 32px — #171717</span>
        <span><b>Tablette / Mobile :</b> Taille 26px – Interlignage 32px — #171717</span>
    </p>
    <p>H2 en capitale <code class="highlight">&lt;class="text-uppercase"&gt;</code></p>
</div>

<hr class="my-9 dashed">

<h3>Titre de niveau – H3</h3>
<div class="sg-comment">
    <p>
        <span>Montserrat Bold</span>
        <span><b>Desktop :</b> Taille 20px – Interlignage 26px — #171717</span>
        <span><b>Tablette / Mobile :</b> Taille 20px – Interlignage 26px — #171717</span>
    </p>
    <p>Le titre ci-dessus est de niveau 3, balise <code>&lt;h3&gt;</code>. Il s'utilise après un élément <code>&lt;h2&gt;</code>, pour marquer un titre de niveau inférieur.</p>
</div>

<hr class="my-9 dashed">

<h4>Titre de niveau – H4</h4>
<div class="sg-comment">
    <p>
        <span>Montserrat Bold</span>
        <span><b>Desktop :</b> Taille 18px – Interlignage 24px — #171717</span>
        <span><b>Tablette / Mobile :</b> Taille 18px – Interlignage 24px — #171717</span>
    </p>
    <p>Le titre ci-dessus est de niveau 4, balise <code>&lt;h4&gt;</code>. Il s'utilise après un élément <code>&lt;h3&gt;</code>, pour marquer un titre de niveau inférieur.</p>
</div>

<hr class="my-9 dashed">

<h5>Titre de niveau – H5</h5>
<div class="sg-comment">
    <p>
        <span>Montserrat Bold</span>
        <span><b>Desktop :</b> Taille 16px – Interlignage 22px — #171717</span>
        <span><b>Tablette / Mobile :</b> Taille 16px – Interlignage 22px — #171717</span>
    </p>
    <p>Le titre ci-dessus est de niveau 5, balise <code>&lt;h5&gt;</code>. Il s'utilise après un élément <code>&lt;h4&gt;</code>, pour marquer un titre de niveau inférieur.</p>
</div>

<hr class="my-9 dashed">

<h6>Titre de niveau – H6</h6>
<div class="sg-comment">
    <p>
        <span>Montserrat Bold</span>
        <span><b>Desktop :</b> Taille 16px – Interlignage 22px — #171717</span>
        <span><b>Tablette / Mobile :</b> Taille 16px – Interlignage 22px — #171717</span>
    </p>
    <p>Le titre ci-dessus est de niveau 6, balise <code>&lt;h6&gt;</code>. Il s'utilise après un élément <code>&lt;h5&gt;</code>, pour marquer un titre de niveau inférieur.</p>
</div>

<hr class="my-9 dashed">

<p class="lead"><code>&lt;p&gt;</code>La class .lead : permet de mettre en bold le texte pour qu'il se démarque du texte<code>&lt;/p&gt;</code></p>
<div class="sg-comment">
    <p>
        <span>Montserrat Medium</span>
        <span><b>Desktop :</b> Taille 16px – Interlignage 28px — #454545</span>
        <span><b>Tablette / Mobile :</b> Taille 16px – Interlignage 28px — #454545</span>
    </p>
</div>

<div class="my-7"></div> 

<h2 class="sg-title" id="Typography-link">Typography – Link</h2>

<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Asperiores commodi et deleniti quos officiis sint illo explicabo, nostrum voluptate aliquam vel. <a href="#">Aperiam pariatur laudantium id dolor atque</a> natus non culpa? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Asperiores commodi et deleniti quos officiis sint illo explicabo, nostrum voluptate aliquam vel. Aperiam pariatur laudantium id dolor atque natus non culpa?</p>
<div class="sg-comment">
    <p>
        <span>Link</span>
        <span>Les <code>&lt;a&gt;</code> qui sont dans <code>[role="main"]</code> sont en <code>text-decoration: underline;</code> pour respecter le <a href="http://references.modernisation.gouv.fr/rgaa-accessibilite/glossaire.html#information-donne-par-la-couleur" target="blank">critère 3.1</a> (test 3.1.1) du RGAA</span>
    </p>
</div>