<ol class="stepper mb-9" aria-label="Navigation dans la demande de prêt">
  <li class="stepper-item mb-0 pl-0 complete">
    <span class="stepper-item-inner">
      <a class="stepper-link" href="#">
        <span class="stepper-label">Projet</span>
      </a>
    </span>
  </li>
  <li class="stepper-item mb-0 pl-0 complete">
    <span class="stepper-item-inner">
      <a class="stepper-link" href="#">
        <span class="stepper-label">Simulation</span>
      </a>
    </span>
  </li>
  <li class="stepper-item mb-0 pl-0 active" aria-current="step">
    <span class="stepper-item-inner">
      <a class="stepper-link" href="#">
        <span class="stepper-label">Détails</span>
      </a>
    </span>
  </li>
  <li class="stepper-item mb-0 pl-0">
    <span class="stepper-item-inner">
      <a class="stepper-link" href="#">
        <span class="stepper-label">Financement</span>
      </a>
    </span>
  </li>
  <li class="stepper-item mb-0 pl-0">
    <span class="stepper-item-inner">
      <a class="stepper-link" href="#">
        <span class="stepper-label">Demande</span>
      </a>
    </span>
  </li>
</ol>