<a href="https://google.com/" class="btn btn-blue-blue btn-medium btn- btn-">Mon Button</a>
<a href="https://google.com/" class="btn btn-teal-teal btn- btn-icon-left btn-icon-recommencer">Lorem ipsum</a>
<button type="submit" class="btn btn-transparent-blue btn-small btn- btn-">Mon Button solid</button>
<a href="https://google.com/" class="btn btn-transparent-white btn-small btn-icon-left btn-icon-recommencer">
  Lorem ipsum
</a>
<button type="button" class="btn btn-red-red btn-medium btn- btn-">
	Mon Button outline avec icon
</button>
<button type="button" class="btn btn-green-green btn-medium btn-icon-left btn-">
   Mon Button outline avec icon
</button> 
<a href="https://google.com/" class="btn btn-teal-teal btn-medium btn-icon-right btn-icon-right-circle">
	Mon Button outline avec icon
</a>




