
<a href="https://google.com/" class="btn btn-teal-solid">
    Button avec taille par défaut
</a>
<button type="submit" class="btn btn-teal-solid  btn-medium">
    Button Medium
</button>
<a href="https://google.com/" class="btn btn-teal-solid  btn-small">
    Button Small
</a>
<button type="submit" class="btn btn-teal-solid  btn-xtra-small">
    Button Extra Small
</button>



