<a href="https://google.com/" class="btn btn-teal-solid  btn-medium  btn-icon-left btn-icon-download">
    Button avec icon à gauche
</a>
<a href="https://google.com/" class="btn btn-teal-outline  btn-medium  btn-icon-right btn-icon-github">
    Button avec icon à droite
</a>
<a href="https://google.com/" class="btn btn-teal-solid  btn-medium  btn-icon-right btn-icon-github">
    Button avec icon à droite
</a>
<a href="https://google.com/" class="btn btn-green-solid  btn-medium  btn-icon-left btn-icon-login">
    Se connecter
</a>
<a href="https://google.com/" class="btn btn-teal-outline  btn-small  btn-icon-right btn-icon-double_fleche">
    Suivant
</a>
<a href="https://google.com/" class="btn btn-teal-outline  btn-small  btn-icon-left btn-icon-double_fleche_gauche">
    Précédent
</a>

