{% extends "../../_html.twig" %}

{% set title = '02 - Table into cards' %}

{% block main %}

    <div class="d-none d-lg-block">
        {% include "../component/table/table-into-cards.twig" %}
    </div>
    <div class="d-lg-none">
        {% include "../component/block/block-create-account-item--card-table.twig" %}
    </div>

{% endblock %}