{% extends "../../_html-styleguide.twig" %}

{% set title = 'Logotype' %}
{% set bodyclass = 'sg-body-wrapper' %}

{% block sg_main_title %}
    <h2 class="sg-title">Logotype</h2>
{% endblock %}

{% block main %}

    {% include "../../site/component/logotype/logotype.twig" %}

    {% set path_code = '../../../site/component/logotype/logotype.twig' %}
    {% set collapse_id = '00' %}
    {% include "../layout/code/collapse.twig" %}

{% endblock %}