{% extends "../../_html-styleguide.twig" %}

{% set title = 'Utils' %}
{% set bodyclass = 'sg-body-wrapper' %}

{% block sg_main_title %}
    <h2 class="sg-title">Utils</h2>
{% endblock %}

{% block main %}

    <h2 class="sg-title">Les class utilitaires</h2>

    {% embed "../layout/callout.twig" with {
        callout_type: "sg-callout-warning"
    } %}
        {% block sg_callout_content %}
            <h2 class="mb-2">Conception</h2>
            <p>
                Les class utilitaires vont servir à créer un composant <b>juste</b> en ajoutant des class.
                <br>
                La grille, les blocks, les background etc. sont composés de class utilitaires. 
                <br>
                Mais vous pouvez ajouter les padding et margin ainsi que les background pour créer le composant souhaité.
            </p>
            <p class="h3 mb-0">
                Toutes les valeurs vont de 1 à 13. Les valeurs sont les suivantes :
            </p>
            <ul>
                <li><code>mt-0</code> est égal à <code>margin-top:0px;</code></li>
                <li><code>mt-1</code> est égal à <code>margin-top:2,5px;</code></li>
                <li><code>mt-2</code> est égal à <code>margin-top:5px;</code></li>
                <li><code>mt-3</code> est égal à <code>margin-top:10px;</code></li>
                <li><code>mt-4</code> est égal à <code>margin-top:15px;</code></li>
                <li><code>mt-5</code> est égal à <code>margin-top:20px;</code></li>
                <li><code>mt-6</code> est égal à <code>margin-top:30px;</code></li>
                <li><code>mt-7</code> est égal à <code>margin-top:40px;</code></li>
                <li><code>mt-8</code> est égal à <code>margin-top:50px;</code></li>
                <li><code>mt-9</code> est égal à <code>margin-top:60px;</code></li>
                <li><code>mt-10</code> est égal à <code>margin-top:70px;</code></li>
                <li><code>mt-11</code> est égal à <code>margin-top:80px;</code></li>
                <li><code>mt-12</code> est égal à <code>margin-top:90px;</code></li>
                <li><code>mt-13</code> est égal à <code>margin-top:100px;</code></li>
            </ul>
        {% endblock %}
    {% endembed %} 

    {% include "../../site/component/utils/utils.twig" %}
    {% set path_code = '../../../site/component/utils/utils.twig' %}
    {% set collapse_id = '00' %}
    {% include "../layout/code/collapse.twig" %}

{% endblock %}