{% extends "../../_html-styleguide.twig" %}

{% set title = 'Switch component' %}
{% set bodyclass = 'sg-body-wrapper' %}

{% block sg_main_title %}
    <h2 class="sg-title">Switch</h2>
{% endblock %}

{% block main %}

    <h2 class="sg-title">Switch button</h2>

    {% embed "../layout/callout.twig" with {
        callout_type: "sg-callout-warning"
    } %}
        {% block sg_callout_content %}
            <h3 class="mt-5">Accessibilité</h3>
            <p>Le switch-button doit toujours être "wrapper" d'un &lt;form&gt;</p>
        {% endblock %}
    {% endembed %} 

    {% include "../../site/component/switch/switch.twig" %}
    {% set path_code = '../../../site/component/switch/switch.twig' %}
    {% set collapse_id = '00' %}
    {% include "../layout/code/collapse.twig" %}

{% endblock %}