{% extends "../../_html-styleguide.twig" %}

{% set title = 'Button Component' %}
{% set bodyclass = 'sg-body-wrapper' %}

{% block sg_main_title %}
    <h2 class="sg-title">Button</h2>
{% endblock %}

{% block main %}

    <h2 class="sg-title" id="button">Button</h2>
    {% embed "../layout/callout.twig" with {
        callout_type: "sg-callout-warning"
    } %}
        {% block sg_callout_content %}
            <h3 class="mt-5">Accessibilité</h3>
            <p>
                Attention au "wording" des boutons.
                <br>
                Il faut <b>toujours</b> qu'un bouton soit explicite.
                <br>
                Donc les boutons "Voir plus", "En savoir plus" etc. ne sont pas bons en accessibilité.
                <br>
                Pour rendre les accessibles, il faut ajouter un <code>&lt;span class="sr-only"&gt;&lt;/span&gt;</code> donnant l'information complémentaire.
                <br>
                Exemple : 
                <br>
                <code>
                    &lt;button type="button"&gt;
                    <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;En savoir plus
                    <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&lt;span class="sr-only"&gt;sur l'accessibilité des boutons&lt;/span&gt;
                    <br>
                    &lt;/button&gt;
                </code>
            </p>
        {% endblock %}
    {% endembed %}

    {% include "../../site/component/button/button.twig" %}
    {% set path_code = '../../../site/component/button/button.twig' %}
    {% set collapse_id = '00' %}
    {% include "../layout/code/collapse.twig" %}


    <h2 class="sg-title" id="button-outline">Button outline</h2>
    {% include "../../site/component/button/button-outline.twig" %}
    {% set path_code = '../../../site/component/button/button-outline.twig' %}
    {% set collapse_id = '01' %}
    {% include "../layout/code/collapse.twig" %}


    <h2 class="sg-title" id="button-icon">Button icon</h2>
    {% embed "../layout/callout.twig" with {
        callout_type: "sg-callout-warning"
    } %}
        {% block sg_callout_content %}
            <h3 class="mt-5">Accessibilité</h3>
            <p>
                Si un bouton contient uniquement une icône, il faut lui ajouter un <code>title</code> et un <code>span.sr-only</code> précisant son action.
                <br>
                <code>
                    &lt;button type="button" class="btn btn-actions" title="Modifier le document [nom du document]"&gt;
                    <br>&nbsp;&nbsp;&nbsp;&lt;span class="icon-modifier" aria-hidden="true"&gt;&lt;/span&gt;
                    <br>&nbsp;&nbsp;&nbsp;&lt;span class="sr-only"&gt;Modifier le document [nom du document]&lt;/span&gt;
                    <br>&lt;/button&gt;
                </code>
            </p>
        {% endblock %}
    {% endembed %}

    {% include "../../site/component/button/button-icon.twig" %}
    {% set path_code = '../../../site/component/button/button-icon.twig' %}
    {% set collapse_id = '02' %}
    {% include "../layout/code/collapse.twig" %}


    <h2 class="sg-title" id="button-group">Button group</h2>
    {% embed "../layout/callout.twig" with {
        callout_type: "sg-callout-warning"
    } %}
        {% block sg_callout_content %}
            <h3 class="mt-5">Accessibilité</h3>
            <p>
                Pour le bouton suivant et précédent, il faut préciser dans un <code>span.sr-only</code> le numéro et le nom de l'étape.
                <br>
                <code>
                    &lt;button type="button" class="btn btn-outline-primary btn-icon-right btn-next"&gt;
                    <br>&nbsp;&nbsp;&nbsp;&lt;span class="btn-text"&gt;Suivant&lt;/span&gt;&lt;span class="sr-only"&gt; : aller à l'étape [n° et nom de l'étape]&lt;/span&gt;
                    <br>&nbsp;&nbsp;&nbsp;&lt;span class="icon-arrow_double_right" aria-hidden="true"&gt;&lt;/span&gt;
                    <br>&lt;/button&gt;
                </code>
            </p>
        {% endblock %}
    {% endembed %}

    {% include "../../site/component/button/button-group.twig" %}
    {% set path_code = '../../../site/component/button/button-group.twig' %}
    {% set collapse_id = '03' %}
    {% include "../layout/code/collapse.twig" %}


    <h2 class="sg-title" id="button-center">Button center</h2>
    {% include "../../site/component/button/button-center.twig" %}
    {% set path_code = '../../../site/component/button/button-center.twig' %}
    {% set collapse_id = '04' %}
    {% include "../layout/code/collapse.twig" %}


    <h2 class="sg-title" id="button-download">Button download</h2>
    {% include "../../site/component/button/button-download.twig" %}
    {% set path_code = '../../../site/component/button/button-download.twig' %}
    {% set collapse_id = '05' %}
    {% include "../layout/code/collapse.twig" %}


    <h2 class="sg-title" id="button-filter">Button / link filter</h2>
    {% embed "../layout/callout.twig" with {
        callout_type: "sg-callout-warning"
    } %}
        {% block sg_callout_content %}
            <h3 class="mt-5">Accessibilité</h3>
            <p>
                Si un un <code>&lt;a&gt;</code> doit être un <code>&lt;button&gt;</code>, il faut ajouter un <code>role=button</code>
            </p>
        {% endblock %}
    {% endembed %}

    {% include "../../site/component/button/button-filter.twig" %}
    {% set path_code = '../../../site/component/button/button-filter.twig' %}
    {% set collapse_id = '06' %}
    {% include "../layout/code/collapse.twig" %}


    <h2 class="sg-title" id="button-disabled">Button disabled</h2>
    {% embed "../layout/callout.twig" with {
        callout_type: "sg-callout-warning"
    } %}
        {% block sg_callout_content %}
            <h3 class="mt-5">Accessibilité</h3>
            <p>Il ne faut <b class="highlight">jamais désactiver un bouton de soumission</b> de formulaire (attr. disabled) pour indiquer que certains champs ne sont pas remplis car il devient "invisible" pour les TAB (il ne prend plus le focus).</p>
            <p>De plus, il ne faut <b class="highlight">jamais utiliser</b> attr. disabled sur un élémént focusable (input, button, a, textarea) pour la même raison qu'au dessus.</p>
            <p>Il est donc préférable d’utiliser un <code>attr. aria-disabled="true"</code> avec un style CSS d'apparence désactivé (mais suffisamment contrasté), s'assurer que l'action de soumission n'est pas possible et donner un message d'alerte ou d'erreur explicite.</p>
            <p>Lire ces articles pour en savoir plus : <a href="https://axesslab.com/disabled-buttons-suck/">https://axesslab.com/disabled-buttons-suck/</a> <a href="https://a11y-101.com/development/aria-disabled">https://a11y-101.com/development/aria-disabled</a></p>
        {% endblock %}
    {% endembed %}

    {% include "../../site/component/button/button-disabled.twig" %}
    {% set path_code = '../../../site/component/button/button-disabled.twig' %}
    {% set collapse_id = '07' %}
    {% include "../layout/code/collapse.twig" %}

{% endblock %}