{% extends "../../_html-styleguide.twig" %}

{% set title = 'Grid' %}
{% set bodyclass = 'sg-body-wrapper' %}

{% block sg_main_title %}
    <h2 class="sg-title">Grid</h2>
{% endblock %}

{% block main %}

    {% embed "../layout/callout.twig" with {
        callout_type: "sg-callout-warning"
    } %}
        {% block sg_callout_content %}
            <p>Le design system "BDT" se base sur la <a href="https://getbootstrap.com/docs/4.1/layout/grid/" target="_blank">grille de Bootstrap 4.1.3</a> disponible via le lien.</p>
        {% endblock %}
    {% endembed %}

    {% embed "../layout/callout.twig" with {
        callout_type: "sg-callout-warning"
    } %}
        {% block sg_callout_content %}
            <p>Cependant, nous avons mis à disposition une grille plus facile à utiliser se basant sur des pourcentages (%). <br>Cette grille est disponible dans <code>style/2-angular/4-layout/_grid.scss</code></p>
        {% endblock %}
    {% endembed %}

    <div class="sg-grid">
        {% include "../component/grid/grid.twig" %}
    </div>
    {% set path_code = '../../component/grid/grid.twig' %}
    {% set collapse_id = '00' %}
    {% include "../layout/code/collapse.twig" %}

{% endblock %}