$margin_value : 0.6rem;

.btn {
    text-transform: uppercase;
    text-decoration: none;
    white-space: normal;

    @include media-breakpoint-down(xs) {
        padding: 1.5rem;
    }

    span {
        display: inline-block;
        vertical-align: middle;
    }

    [class^='icon-'] {
        font-size: 100%;
        line-height: normal;
    }
}

.btn-primary {
    @include button-variant(transparent, $black, $secondary, $secondary, $secondary-dark, $secondary-dark);
    color: $black;
    
    &:focus {
        @include focus-style($primary);
        outline-color: $secondary !important;
    }
}

.btn-secondary {
    &:focus {
        @include focus-style($secondary);
    }
}

.btn-primary,
.btn-secondary {
    &.disabled, 
    &:disabled,
    &[aria-disabled="true"] {
        background-color: $gray-700;
        border-color: $gray-700;
    }

    &:focus {
        outline-color: $gray-700 !important;
    }
}

.btn-primary {
    &.disabled, 
    &:disabled,
    &[aria-disabled="true"] {
        color: $white;
    }
}

.btn-primary:not(:disabled):not(.disabled):active, 
.btn-primary:not(:disabled):not(.disabled).active,
.btn-secondary:not(:disabled):not(.disabled):active, 
.btn-secondary:not(:disabled):not(.disabled).active {
    background-color: $gray-700;
    border-color: $gray-700;
} 

.btn-tertiary {
    background-color: transparent;
    border-color: $white;
    color: $white;

    &:focus,
    &:hover,
    &:active {
        background-color: $white;
        border-color: $white;
        color: $secondary;
    }

    &:focus {
        outline-color: $white;
    }
}

[class*='btn-icon-'] {
    display: flex;
    align-items: center;
}

.btn-icon-left [class^='icon-'] {
    margin-right: $margin_value;
}

.btn-icon-right [class^='icon-'] {
    margin-left: $margin_value;
}