.float-target-parent
{
    position: relative;

    label
    {
        pointer-events: none;

        font-size: 1.4rem;

        display: block;
        position: absolute;
        top: 50%;
        left: 0rem;

        transform: translateY(-50%) translateX(2.5rem);

        font-weight: 700;
        text-transform: lowercase;

        transition: transform 0.3s ease, font-size 0.3s ease, color 0.3s ease;

        &:first-letter
        {
            text-transform: capitalize;
        }

        &.textarea-label 
        {
            top: 3rem;
        }
    }

    &.focused
    {
        label
        {
            color: $access-color;
            text-transform: none;

            transform: translateY(-5rem) translateX(0rem);

            transition: transform 0.3s ease, font-size 0.3s ease, color 0.3s ease;

            &.textarea-label 
            {
                transform: translateY(-5rem) translateX(0rem);
            }
        }
    }

    .form-text
    {
        display: inline-block;

        position: absolute;
        right :0;
        bottom : -2.5rem;

        font-size: 1.4rem;
    }

    &--small {
        label
        {
            top: 0rem;
            left: 2.5rem !important;
            z-index: 40;
            transform: translate(0, 2rem);
            font-size: 1.6rem;
        }
        [type='text'],
        [type='date'],
        [type='search']
        {
            position: relative;
            bottom: auto;
            height: $custom-form-item-h;
            padding: 0 5rem;
            border-width: 0 0 0.1rem 0;
            border-color: $black;
            background-color: $white;
            &:focus
            {
                border-color: $secondary;
            }
        }
        button[type='submit']
        {
            @include reset-btn(0,0,none,none);
            display: block;
            position: absolute;
            bottom: 0.1rem;
            right: 0;
            width: 6rem;
            height: 5.9rem; // Pour laisser appaitre la border de l'input
            background-color: $white;
            color: $black;
            transition: background-color 0.3s ease;
            @include hover-focus-active
            {
                background-color: $gray-300;
            }
        }
        &.focused, &.has-value
        {
            label
            {
                transform: translate(0, 0rem);
                font-size: 1.2rem;
                color: $gray-600;
            }
        }
    }
}

// + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + 
// 
// Via Detectizr
// Bug sur IE11 Windows 7
//
// + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + 
.windows7.ie11
{
    .float-target-parent
    {
        label
        {
            position: relative;
            top: auto;
            bottom: 100%;
            left: 0rem;
            transform: translateY(0%);

            margin-bottom: 0.4rem;
        }

        &.focused
        {
            label
            {
                transform: translateY(0rem) translateX(0rem);
                
                &.textarea-label 
                {
                    transform: translateY(0rem) translateX(0rem);
                }
            }
        }
    } 
}
