<!doctype html>
<html lang="fr">
  <head>
    {% include "../includes/header/_head.twig" %}
  </head>
  <body>	
      <!-- HEADER -->
      {% include "../includes/header/_header.twig" %}
      
      <!-- MAIN -->

      <main class="main-content">

        <!-- SIDEBAR -->
      {% include "../includes/sidebar/_sidebar.twig" %} 
        <!-- END SIDEBAR -->
        {# {% include "../ds-components/card.twig" %} #}


        {% block content %}
        {% endblock %}
        
      </main>

      <!-- FOOTER -->
      {% include "../includes/_footer.twig" %}

      <!-- SCRIPTS -->
      {% include "../includes/_scripts.twig" %}

  </body>
</html>