//
// a11y Config modal
//
.a11y-config
{
    .modal-dialog
    {
        max-width: 55rem;
    }

    .modal-header
    {
        padding: 0;
        margin-bottom: 2rem;
    }

    h1
    {
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 0;

        text-transform: uppercase;

        span
        {
            display: block;

            font-size: 1.6rem;
            font-weight: 600;
            text-transform: none;

            color: $gray-700;
        }
    }

    fieldset {
        display: block;
        word-spacing: -.25em;
    }

    fieldset ~ fieldset legend
    {
        padding-top: 1rem
    }

    legend
    {
        display: block;
        width: 100%;

        text-transform: uppercase;
        font-size: 1.4rem;
        text-align: left;
        font-weight: 700;
        word-spacing: normal;
    }

    input {
        @include sr-only;
    }

    .btn-close
    {
        float: right;

        margin: 0;
        padding: 0.5rem;

        font-weight: 700;
        text-transform: uppercase;

        border: 0;
        background-color: transparent;

        @include hover
        {
            .btn-text {
                text-decoration: underline;
            }
        }
    }

    .icon-close[aria-hidden='true'] {
        margin-right: 1rem;
        display: inline-block;
        color: $secondary;
    }
}

.a11y-config--item {
    display: inline-block;
    vertical-align: top;

    margin-top: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;

    word-spacing: normal;

    label {
        position: relative;
        display: block;
        padding: 1rem 3rem;
        min-width: 15rem;

        font-size: 1.6rem;
        font-weight: 400;
        text-align: center;
        text-transform: none;

        border: 0.1rem solid $body-color;
        background-color: $white;
        color: $body-color;

        transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;

        @include hover
        {
            border-color: $secondary;
            background-color: $secondary;
            color: $white;
        }
    }

    input:focus + label
    {
        outline: 0.1rem dashed $primary;
        outline-offset: 0.4rem;
    }

    input:checked + label
    {
        border-color: $secondary;
        background-color: $secondary;
        color: $white;


        @include icon(before, icon-check) {
            position: absolute;
            top: 50%;
            left: 1rem;
            transform: translate(0,-50%);

            font-size: 1.2rem;
        }
    }
}