<form class="" action="#">
    <label for="sw-btn_1" class="switch-button">
        <input type="checkbox" id="sw-btn_1">
        <span class="txt">off</span>
        <span class="txt">on</span>
        <span class="switch"></span>
    </label>
</form>