// .contextual-region.block-main-menu,
// .contextual-region.block-bdt-search
// {
//     // zindex de 12 car .contextual-region est à 11
//     // On fait passer le menu par dessus tout
//     z-index: 12;
// }

.header-megamenu-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;

    overflow-y: auto;

    height: 100vh !important; // fix height donnée en JS via le collapse de Bootstrap

    background: $white url('../img/megamenu-trame.png') 0 0 no-repeat fixed;
    background-size: cover;

    .vcenter
    {
        height: 100vh;

        .in
        {
            margin-top: 14rem;
            vertical-align: top;
            overflow-y: auto;
            overflow-x: hidden;
            max-height: calc(100vh - 14rem);
        }
    }

    ul
    {
        list-style: none;
    }

    // On cible les 1er <li>
    .menu-item {
        display: inline-block;
        vertical-align: top;

        padding: 3.5rem 1rem;
        width: 25%;

        word-spacing: normal;

        // On cible les 2eme <li>
        .menu-item {
            display: block;

            margin-bottom: 1.6rem;
            padding: 0rem;

            width: 100%;

            a {
                position: relative;

                display: block;
                margin-left: 2rem;
                color: $body-color;

                @include icon(before, icon-arrow_right) {
                    position: absolute;
                    top: 0.6rem;
                    left: -2rem;

                    font-size: 0.9rem;
                    color: $secondary;
                }
            }
        }
    }

    .hide-show-trigger {
        margin-bottom: 2rem;
    }
}

.header-megamenu-nav-link-access-map,
.header-megamenu-nav-menu,
.header-megamenu-nav-link-search {
    margin: 0 auto;
    width: 86%;
}

.header-megamenu-nav-link-access-map {
    @include clearAfter;

    border-width: 0.1rem 0;
    border-style: solid;
    border-color: $gray-300;

    background-color: $white;

    [class^='icon'] {
        display: block;

        position: absolute;
        top: 2rem;
        left: 0;
        right: 0;
    }

    button {
        @include reset-btn;

        [class^='icon']
        {
            font-size: 2rem;
            transform: translateX(0.5rem);  
        }
    }

    a
    {
        font-size: 1.4rem;

        [class^='icon']
        {
            transform: scale(1.6) translate(0.5rem, 0.2rem);
            transform-origin: center; 
        }

        &::before
        {
            content: '';

            display: block;
            position: absolute;
            top: 1rem;
            left: 0;

            width: 0.1rem;
            height: 75%;  

            background-color: $gray-300;
        }
    }

    button, a
    {
        position: relative;

        float: left;

        padding-top: 4.4rem;
        
        width: 15rem;
        height: 8rem;

        text-align: center;
    } 

    span + span
    {
        position: absolute;
        top: 4.4rem;
        left: 0;
        right: 0;  
        
        @include icon(before, icon-arrow_right)
        {
            margin-left: 0.4rem;

            color: $secondary;
            font-size: 0.9rem;
        }
    }
}

.header-megamenu-nav-link-search
{
    margin-bottom: 2rem;
    padding-top: 2rem;

    background-color: $white;

    form
    {
        position: relative;

        @include icon(before, icon-recherche)
        {
            display: block;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            z-index: 42;

            font-size: 2.5rem;
            color: $secondary;
        }
    }

    label
    {
        display: block;

        position: absolute;
        top: 0rem;
        left: 5rem;
        z-index: 40;

        transform: translate(0, 2rem);
        transition: transform 0.3s ease, color 0.3s ease;   

        text-transform: uppercase;
        font-size: 1.6rem;
        font-weight: 700; 
    }

    //input[type='text']
    .form-text
    {
        position: absolute !important;
        right: auto !important;
        bottom: auto !important;
        font-size: 1.6rem !important;

        display: block;
        width: 100%;
        height: 6rem;

        padding-left: 5rem;
        padding-right: 5rem;

        border-width: 0 0 0.1rem 0;
        border-style: solid;
        border-color: $black;

        background-color: $white;

        &:focus
        {
            border-color: $secondary;
        }
    }

    button[type='submit']
    {
        @include reset-btn(0,0,none,none);
        display: block;
        position: absolute;
        top: 0;
        right: 0;

        width: 5rem;
        height: 5.9rem; // Pour laisser appaitre la border de l'input

        background-color: $white; 

        color: $black;

        transition: background-color 0.3s ease;

        @include hover-focus-active
        {
            background-color: $gray-300;
        }
    }

    .focused
    {
        label
        {
            transform: translate(0, 0rem);

            font-size: 1.2rem;
            color: $access-color;  
        }
    }
}

.header-megamenu-nav-menu
{
    @include clearAfter;
    word-spacing: -0.45em;
}

.header-megamenu-nav-menu > .menu > .menu-item:nth-of-type(1)
{
    display: block;
    width: 100%;

    border-bottom: 0.1rem solid $gray-300;

    a
    {
        position: relative;

        @extend .h3;
        margin-left: 2.2rem;  
        color: $secondary;

        @include icon(before, icon-arrow_right) { 
            position: absolute;
            top: 50%; 
            left: -2.4rem;
            transform: translateY(-50%);

            font-size: 50%;  
        }
    }
}

// + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + 
//
// MEDIA QUERIES
//
// + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + 
@include media-breakpoint-up(lg)
{
    .header-megamenu-wrapper
    {
        .menu
        {
            .hide-show-trigger
            {
                pointer-events: none;

                &::after{ display: none; }
            }
        }
    }

    .header-megamenu-nav-link-access-map,
    .header-megamenu-nav-link-search
    {
        display: none;
    }
}

@include media-breakpoint-down(lg) {

    .header-megamenu-wrapper
    {
        .menu
        {
            .hide-show-trigger
            {
                position: relative;
                cursor: pointer;  

                @include icon(after, icon-arrow_down)   
                {
                    position: absolute;
                    top: 1rem; 
                    right: 0;

                    font-size: 0.8rem;

                    transform-origin: center;
                    transform: rotate(0deg);
                    transition: transform 0.3s ease;
                }

                &[aria-expanded="true"]::after   
                {
                    transform: rotate(-180deg);
                }
            }
        }
    }

    .header-megamenu-nav-link-access-map,
    .header-megamenu-nav-link-search
    {
        display: block;
    }

    .header-megamenu-nav-menu
    {
        padding-top: 0rem;
    }

}

@include media-breakpoint-down(md) {

    .header-megamenu-nav-link-access-map,
    .header-megamenu-nav-menu,
    .header-megamenu-nav-link-search
    {
        width: 90%; 
    }

    .header-megamenu-nav
    {
        .menu-item
        {
            padding-top: 2rem;
            padding-bottom: 2rem;

            width: 100%;
        }
    }

}
