// nav-skip.scss -- Skip navigation A11y
//

body .skip-link {
  @include clearAfter;
  list-style: none;

  margin: 0;
  padding: 0;
  z-index: 100;
  position: relative;

  background-color: $black;

  li {
    float: left;

    &::before {
      display: none;
    }
  }

  button {
    padding: 0;
    border: 0;

    line-height: 1.4;
  }

  a, button {
    display: block;

    padding: 0rem;

    color: $white;
    background-color: $body-color;

    text-decoration: underline !important;

    transition: background-color 0.3s ease;

    @include hover-focus-active {
      padding: 0.5rem 1rem !important;
      font-size: 1.4rem;

      text-decoration: none !important;
      background-color: $black;

      outline: 0.1rem dashed $white;
      outline-offset: -0.1rem;
    }
  }

  a.active {
    color: $white;
    background-color: $black;
  }

}

.skip-sr-only {
  position: absolute !important;
  overflow: hidden !important;

  padding: 0 !important;
  
  width: 1px !important;
  height: 1px !important;
  
  border: 0 !important;
  
  white-space: nowrap !important;
  
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
}

.sr-only-focusable {
  &:focus,
  &:active {
    overflow: visible !important;
    
    width: auto !important;
    height: auto !important;
    
    white-space: normal !important;
    color : $white;
    
    -webkit-clip-path: none !important;
    clip-path: none !important;
    clip: auto !important;
  }
}