@include media-breakpoint-up(md) {
    h1, .h1 { font-size: $h1-font-size-tablet; margin-bottom: 3.2rem; }
    h2, .h2 { font-size: $h2-font-size-tablet; line-height: 2.6rem; }
    h3, .h3 { font-size: $h3-font-size-tablet; line-height: 2.6rem; }
    h4, .h4 { font-size: $h4-font-size-tablet; line-height: 2.4rem; }
    h5, .h5 { font-size: $h5-font-size-tablet; line-height: 2.2rem; }
    h6, .h6 { font-size: $h6-font-size-tablet; line-height: 2.2rem; } 
}

@include media-breakpoint-up(xl) {
    h1, .h1 { font-size: $h1-font-size-desktop; line-height: 3.8rem; margin-bottom: 5rem; }
    h2, .h2 { font-size: $h2-font-size-desktop; line-height: 3.2rem; }
    h3, .h3 { font-size: $h3-font-size-desktop; line-height: 2.6rem; }
    h4, .h4 { font-size: $h4-font-size-desktop; line-height: 2.4rem; }
    h5, .h5 { font-size: $h5-font-size-desktop; line-height: 2.2rem; }
    h6, .h6 { font-size: $h6-font-size-desktop; line-height: 2.2rem; }
}

p {
  line-height: $line-height-base;
}

[role="main"] {
  
  p {
    line-height: $line-height-base * 1.25;
  }

  a {
    text-decoration: underline;
    word-break: break-word;
    word-wrap: break-word;

    &.btn { 
      text-decoration: none;
      word-break: normal;
      word-wrap: normal; 
    }
  }
}

span.ext,
span.mailto {
  display: inline-block;

  margin-left: 0.5rem;
	padding-right: 1.2rem;

  width: auto;
	height: auto;

	background: none;

  font-size: 1rem;
  text-decoration: none;
}

span.ext {
  @include icon(after, icon-external-link) {
    color: $secondary;
    font-size: 110%;
  }
}

span.mailto {
  @include icon(after, icon-contact);
}