<!-- 
- - -
- - - HTML FROM DRUPAL 
- - -
-->

<div class="footer-wrapper">
	<div class="footer-segment">
		<div class="region region-footer">
			<div id="block-footermenublock" class="block block-bdt-group block-footer-menu">
				<div id="footer-menu-container">
					<nav role="navigation" aria-labelledby="-menu" class="block block-menu navigation menu--">
						<ul class="menu">
							<li class="menu-item"><a href="/action-coeur-de-ville-renovation-des-centres-villes" baseline="0" data-drupal-link-system-path="node/10">Coeur de ville</a></li>
							<li class="menu-item"><a href="/plan-logement-organiser-la-restructuration-du-logement-social" baseline="0">Plan logement</a></li>
							<li class="menu-item"><a href="/renovation-energetique-des-batiments-publics" baseline="0" data-drupal-link-system-path="node/87230">Rénovation énergétique des bâtiments publics</a></li>
							<li class="menu-item"><a href="/accompagner-la-reconquete-industrielle-des-territoires" baseline="0">Territoires d'industrie</a></li>
							<li class="menu-item"><a href="/territoires-conseils-laccompagnement-des-territoires-ruraux" baseline="0" data-drupal-link-system-path="node/47080">Territoires Conseils</a></li>
						</ul>
						<ul class="menu">
							<li class="menu-item"><a href="/annuaire-smart-city" baseline="0" data-drupal-link-system-path="annuaire-smart-city">Smart city</a></li>
							<li class="menu-item"><a href="/liste-des-produits-et-solutions-pour-les-collectivites-et-EPL" baseline="0" data-drupal-link-system-path="liste-des-produits-et-solutions-pour-les-collectivites-et-EPL">Toutes nos solutions</a></li>
							<li class="menu-item"><a href="/service-de-renseignements-juridiques-et-financiers-srjf" baseline="0" data-drupal-link-system-path="node/47168">Service de renseignements juridiques et financiers</a></li>
							<li class="menu-item"><a href="/elus-et-agents-territoriaux" baseline="0" data-drupal-link-system-path="node/83912">Elus et agents territoriaux</a></li>
							<li class="menu-item"><a href="/search-page?search_api_fulltext=&amp;f%5B0%5D=search_aggregator_search_tabs%3Aressources&amp;f%5B1%5D=group_parent%3ACollectivit%C3%A9s%20et%20EPL" baseline="0" data-drupal-link-query="{&quot;f&quot;:[&quot;search_aggregator_search_tabs:ressources&quot;,&quot;group_parent:Collectivit\u00e9s et EPL&quot;],&quot;search_api_fulltext&quot;:&quot;&quot;}" data-drupal-link-system-path="search-page">Presse</a></li>
						</ul>
						<ul class="menu">
							<li class="menu-item"><a href="https://mon-compte.banquedesterritoires.fr/mes-prets/web/loginSuccess" baseline="0">Accéder à mes prêts</a></li>
							<li class="menu-item"><a href="https://www.cdc-net.com/portail/">CDC-Net</a></li>
							<li class="menu-item"><a href="/reglementation-dsp2" baseline="0" data-drupal-link-system-path="node/86666">Réglementation DSP2</a></li>
							<li class="menu-item"><a href="https://consignations.caissedesdepots.fr/professionnel-du-droit" baseline="0">Consignations</a></li>
							<li class="menu-item"><a href="https://concertation.banquedesterritoires.fr/banquedesterritoires/home" baseline="0">Concertation</a></li>
						</ul>
						<ul class="menu">
							<li class="menu-item"><a href="https://www.caissedesdepots.fr/" baseline="0">Site Caisse des dépôts</a></li>
							<li class="menu-item"><a href="https://mon-compte.banquedesterritoires.fr/#/contact" baseline="0">Contact</a></li>
							<li class="menu-item"><a href="/directions-regionales" baseline="0" data-drupal-link-system-path="directions-regionales">Directions régionales</a></li>
						</ul>
					</nav>
				</div>
			</div>
			<div id="block-socialmedialinks" class="block-social-media-links block block-social-media-links-block">
				<p class="social-title">
					Suivez-nous
				</p>
				<ul class="social-media-links--platforms platforms inline horizontal">
					<li>
						<a href="https://www.twitter.com/BanqueDesTerr " target="_blank" aria-label="Suivez-nous sur Twitter" title="Suivez-nous sur Twitter" class="twitter"><span class="fa fa-twitter fa-2x"></span></a>
					</li>
					<li>
						<a href="/flux-rss" target="_blank" class="rss"><span class="fa fa-rss fa-2x"></span></a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="footer-common">
		<footer class="footer-copyright" role="contentinfo">
			<p>© Banque des Territoires 2019. Tous droits réservés.</p>
		</footer>
		<nav role="navigation" aria-labelledby="block-footercommun-menu" id="block-footercommun" class="block block-menu navigation menu--common-footer">
			<ul class="menu">
				<li class="menu-item"><a href="/mentions-legales" target="_self" data-drupal-link-system-path="node/20"> Mentions légales</a></li>
				<li class="menu-item"><a href="/cgu" target="_self">CGU</a></li>
				<li class="menu-item"><a href="/donnees-personnelles" target="_self" data-drupal-link-system-path="node/16">Données personnelles</a></li>
				<li class="menu-item"><a href="/accessibilite" target="_self" data-drupal-link-system-path="node/17">Accessibilité</a></li>
				<li class="menu-item"><a href="https://mon-compte.banquedesterritoires.fr/#/contact" target="_self">Contact</a></li>
			</ul>
		</nav>
		<div class="footer-logo">
			<img src="img/logo-bdt.png" alt="Banque des Territoires, Groupe Caisse des dépôts">
		</div>
	</div>
</div>