<!-- 
- - -
- - - HTML FROM DRUPAL 
- - - avec des modifs sur les chemins des images pour les afficher
-->

<header class="header" role="banner">
	<div class="region region-header-left">
		<div class="header-logo">
			<a class="back-segment-home" href="/collectivites-epl" title="Accueil"><img src="img/logo-bdt.svg" alt="Accueil"></a> 
		</div>
		<div id="block-mainmenublock" class="block block-bdt-group block-main-menu">
			<div id="main-menu-container">
				<nav role="navigation" class="header-megamenu-wrapper">
					<button class="header-megamenu-button collapsed" type="button" data-toggle="collapse" data-target="#megamenu" aria-controls="megamenu" aria-expanded="false" aria-label="Toggle navigation"><span>Menu</span></button>
					<div id="megamenu" class="header-megamenu-nav collapse" style="">
						<div class="vcenter">
							<div class="in">
								<div class="header-megamenu-nav-link-access-map">
									<button type="button" data-a11y-dialog-show="modal-dialog-access-config">
										<span class="icon-access" aria-hidden="true"></span>
										<span>Accessibilité</span>
									</button>
									<a href="/directions-regionales">
										<span class="icon-carte" aria-hidden="true"></span>
										<span>En région</span>
									</a>
								</div>
								<div class="header-megamenu-nav-link-search">
									<div class="block block-bdt-search block-header-search-block-responsive">
										<form class="float-target-parent float-target-parent--small" data-drupal-selector="header-search-form-responsive" action="/search-page" method="get" id="header-search-form-responsive" accept-charset="UTF-8">
											<label data-drupal-selector="edit-label" for="modalsearch-api-fulltext-responsive" id="edit-label"><span class="label-txt">Que recherchez vous</span></label>
											<input class="float-target" id="modalsearch-api-fulltext-responsive" data-drupal-selector="edit-search-api-fulltext" type="text" name="search_api_fulltext" value="" size="60" maxlength="128">
											<div class="js-form-item form-item js-form-type-textfield form-type-textfield js-form-item-ffv form-item-ffv form-no-label">
												<input class="visually-hidden form-text" data-drupal-selector="edit-ffv" type="text" id="edit-ffv" name="ffv" value="" size="60" maxlength="128">
											</div>
											<button type="submit" class="search-submit-button">
												<span class="icon-arrow-full-right" aria-hidden="true"></span>
												<span class="sr-only">Lancer la recherche</span>
											</button>
											<input data-drupal-selector="edit-f-0" type="hidden" name="f[0]" value="search_aggregator_search_tabs:ressources">
										</form>
									</div>
								</div>
								<div class="header-megamenu-nav-menu">
									<ul class="menu">
										<li class="menu-item"><a href="https://mon-compte.banquedesterritoires.fr/mes-prets/web/loginSuccess" class="top-link" baseline="0">Accéder à mes prêts</a></li>
										<li class="menu-item">
											<div class="hide-show-wrapper">
												<p role="button" class="h4 text-uppercase hide-show-trigger" aria-expanded="true">
													Conseil &amp; Ingénierie
												</p>
												<div class="hide-show-target">
													<ul class="menu">
														<li class="menu-item"><a href="/liste-des-produits-et-solutions-pour-les-collectivites-et-EPL?f%5B0%5D=product_type_product_and_solution_page_1%3A485" baseline="0" data-drupal-link-query="{&quot;f&quot;:[&quot;product_type_product_and_solution_page_1:485&quot;]}" data-drupal-link-system-path="liste-des-produits-et-solutions-pour-les-collectivites-et-EPL">Expertise territoriale</a></li>
														<li class="menu-item"><a href="/liste-des-produits-et-solutions-pour-les-collectivites-et-EPL?f%5B0%5D=product_type_product_and_solution_page_1%3A486" baseline="0" data-drupal-link-query="{&quot;f&quot;:[&quot;product_type_product_and_solution_page_1:486&quot;]}" data-drupal-link-system-path="liste-des-produits-et-solutions-pour-les-collectivites-et-EPL">Accompagnement méthodologique</a></li>
														<li class="menu-item"><a href="/service-de-renseignements-juridiques-et-financiers-srjf" baseline="0" data-drupal-link-system-path="node/47168">Service de renseignements juridiques et financiers</a></li>
													</ul>
												</div>
											</div>
										</li>
										<li class="menu-item">
											<div class="hide-show-wrapper">
												<p role="button" class="h4 text-uppercase hide-show-trigger" aria-expanded="true">
													Financement
												</p>
												<div class="hide-show-target">
													<ul class="menu">
														<li class="menu-item"><a href="/liste-des-produits-et-solutions-pour-les-collectivites-et-EPL?f%5B0%5D=product_type_product_and_solution_page_1%3A489" baseline="0" data-drupal-link-query="{&quot;f&quot;:[&quot;product_type_product_and_solution_page_1:489&quot;]}" data-drupal-link-system-path="liste-des-produits-et-solutions-pour-les-collectivites-et-EPL">Investissement en fonds propres</a></li>
														<li class="menu-item"><a href="/nos-prets-de-long-terme-pour-les-collectivites" baseline="0" data-drupal-link-system-path="node/87862">Prêts long terme</a></li>
														<li class="menu-item"><a href="/liste-des-produits-et-solutions-pour-les-collectivites-et-EPL?f%5B0%5D=product_type_product_and_solution_page_1%3A536" baseline="0" data-drupal-link-query="{&quot;f&quot;:[&quot;product_type_product_and_solution_page_1:536&quot;]}" data-drupal-link-system-path="liste-des-produits-et-solutions-pour-les-collectivites-et-EPL">Prêts court et moyen termes</a></li>
													</ul>
												</div>
											</div>
										</li>
										<li class="menu-item">
											<div class="hide-show-wrapper">
												<p role="button" class="h4 text-uppercase hide-show-trigger" aria-expanded="true">
													Réseaux &amp; Partenaires
												</p>
												<div class="hide-show-target">
													<ul class="menu">
														<li class="menu-item"><a href="/directions-regionales" baseline="0" data-drupal-link-system-path="directions-regionales">Directions régionales</a></li>
														<li class="menu-item"><a href="/nos-filiales-et-partenaires" baseline="0" data-drupal-link-system-path="nos-filiales-et-partenaires">Partenaires</a></li>
														<li class="menu-item"><a href="/nos-filiales-et-partenaires?f%5B0%5D=list_partners_type%3A183" baseline="0" data-drupal-link-query="{&quot;f&quot;:[&quot;list_partners_type:183&quot;]}" data-drupal-link-system-path="nos-filiales-et-partenaires">Filiales Caisse des dépôts</a></li>
													</ul>
												</div>
											</div>
										</li>
										<li class="menu-item">
											<div class="hide-show-wrapper">
												<p role="button" class="h4 text-uppercase hide-show-trigger" aria-expanded="true">
													Solutions
												</p>
												<div class="hide-show-target">
													<ul class="menu">
														<li class="menu-item"><a href="/action-coeur-de-ville-renovation-des-centres-villes" baseline="0" data-drupal-link-system-path="node/10">Cœur de ville</a></li>
														<li class="menu-item"><a href="/logement-social-aide-la-recomposition-du-secteur" baseline="0" data-drupal-link-system-path="node/46983">Plan logement</a></li>
														<li class="menu-item"><a href="/renovation-energetique-des-batiments-publics" baseline="0" data-drupal-link-system-path="node/87230">Rénovation énergétique des bâtiments publics </a></li>
														<li class="menu-item"><a href="/accompagner-la-reconquete-industrielle-des-territoires" baseline="0">Territoires d'industrie</a></li>
														<li class="menu-item"><a href="/territoires-conseils-laccompagnement-des-territoires-ruraux" baseline="0" data-drupal-link-system-path="node/47080">Territoires Conseils</a></li>
														<li class="menu-item"><a href="/smart-city-linnovation-pour-une-ville-intelligente" baseline="0" data-drupal-link-system-path="node/88078">Smart city</a></li>
													</ul>
												</div>
											</div>
										</li>
										<li class="menu-item">
											<div class="hide-show-wrapper">
												<p role="button" class="h4 text-uppercase hide-show-trigger" aria-expanded="true">
													Actualités
												</p>
												<div class="hide-show-target">
													<ul class="menu">
														<li class="menu-item"><a href="/search-page?f%5B0%5D=facet_content_type%3Anews&amp;f%5B1%5D=facet_field_tra_type_news%3Abdt&amp;f%5B2%5D=group_parent%3ACollectivit%C3%A9s%20et%20EPL&amp;f%5B3%5D=search_aggregator_search_tabs%3Aressources&amp;order=desc&amp;sort=field_tra_start_datetime" baseline="0" data-drupal-link-query="{&quot;f&quot;:[&quot;facet_content_type:news&quot;,&quot;facet_field_tra_type_news:bdt&quot;,&quot;group_parent:Collectivit\u00e9s et EPL&quot;,&quot;search_aggregator_search_tabs:ressources&quot;],&quot;order&quot;:&quot;desc&quot;,&quot;sort&quot;:&quot;field_tra_start_datetime&quot;}" data-drupal-link-system-path="search-page">Nos actualités</a></li>
														<li class="menu-item"><a href="/edition-localtis" baseline="0" data-drupal-link-system-path="edition-localtis">Localtis</a></li>
														<li class="menu-item"><a href="/search-page?f%5B0%5D=group_parent%3ACollectivit%C3%A9s%20et%20EPL&amp;f%5B1%5D=search_aggregator_search_tabs%3A%C3%A9v%C3%A8nements&amp;sort=field_tra_start_datetime&amp;order=asc" baseline="0" data-drupal-link-query="{&quot;f&quot;:[&quot;group_parent:Collectivit\u00e9s et EPL&quot;,&quot;search_aggregator_search_tabs:\u00e9v\u00e8nements&quot;],&quot;order&quot;:&quot;asc&quot;,&quot;sort&quot;:&quot;field_tra_start_datetime&quot;}" data-drupal-link-system-path="search-page">Agenda</a></li>
														<li class="menu-item"><a href="/mes-newsletters" baseline="0" data-drupal-link-system-path="node/47011">Newsletter</a></li>
														<li class="menu-item"><a href="/search-page?search_api_fulltext=&amp;f%5B0%5D=facet_content_type%3Acall_for_projets&amp;f%5B1%5D=group_parent%3ACollectivit%C3%A9s%20et%20EPL" baseline="0" data-drupal-link-query="{&quot;f&quot;:[&quot;facet_content_type:call_for_projets&quot;,&quot;group_parent:Collectivit\u00e9s et EPL&quot;],&quot;search_api_fulltext&quot;:&quot;&quot;}" data-drupal-link-system-path="search-page">Appel à projet</a></li>
													</ul>
												</div>
											</div>
										</li>
										<li class="menu-item">
											<div class="hide-show-wrapper">
												<p role="button" class="h4 text-uppercase hide-show-trigger" aria-expanded="true">
													Ressources
												</p>
												<div class="hide-show-target">
													<ul class="menu">
														<li class="menu-item"><a href="/liste-des-experiences-pour-les-collectivites-et-EPL?f%5B0%5D=experience_content_type_page_1%3Arealization" baseline="0" data-drupal-link-query="{&quot;f&quot;:[&quot;experience_content_type_page_1:realization&quot;]}" data-drupal-link-system-path="liste-des-experiences-pour-les-collectivites-et-EPL">Réalisations</a></li>
														<li class="menu-item"><a href="/liste-des-publications-pour-les-collectivites-et-EPL" baseline="0" data-drupal-link-system-path="liste-des-publications-pour-les-collectivites-et-EPL">Publications</a></li>
														<li class="menu-item"><a href="/liste-des-experiences-pour-les-collectivites-et-EPL" baseline="0" data-drupal-link-system-path="liste-des-experiences-pour-les-collectivites-et-EPL">Base d'expériences</a></li>
													</ul>
												</div>
											</div>
										</li>
										<li class="menu-item">
											<div class="hide-show-wrapper">
												<p role="button" class="h4 text-uppercase hide-show-trigger" aria-expanded="true">
													A propos
												</p>
												<div class="hide-show-target">
													<ul class="menu">
														<li class="menu-item"><a href="/une-banque-au-service-du-secteur-public-local" baseline="0" data-drupal-link-system-path="node/4">Mission et vision</a></li>
														<li class="menu-item"><a href="/search-page?search_api_fulltext=&amp;f%5B0%5D=search_aggregator_search_tabs%3Aressources&amp;f%5B1%5D=group_parent%3ACollectivit%C3%A9s%20et%20EPL" baseline="0" data-drupal-link-query="{&quot;f&quot;:[&quot;search_aggregator_search_tabs:ressources&quot;,&quot;group_parent:Collectivit\u00e9s et EPL&quot;],&quot;search_api_fulltext&quot;:&quot;&quot;}" data-drupal-link-system-path="search-page">Presse</a></li>
													</ul>
												</div>
											</div>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</nav>
			</div>
		</div>
		<div class="homepage-selector block block-bdt-group block-homepage-selector" data-drupal-selector="homepage-selector" id="block-homepageselector">
			<form action="/collectivites-epl" method="post" id="homepage-selector" accept-charset="UTF-8">
				<div class="js-form-item form-item js-form-type-select form-type-select js-form-item-node form-item-node">
					<div class="dropdown dropdown-segment">
						<button class="dropdown-segment-btn dropdown-toggle" type="button" id="dropdownMenuSegmentButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<span>Espace</span>
							<span class="dropdown-segment-btn-selected-item">Collectivités et EPL</span>
						</button>
						<div class="dropdown-menu dropdown-segment-menu" aria-labelledby="dropdownMenuSegmentButton">
							<ul class="menu">
								<li class="menu-item menu-item--active-trail "><a href="/collectivites-epl" target="_self" data-drupal-link-system-path="node/1" class="is-active">Collectivités et EPL</a></li>
								<li class="menu-item  "><a href="/habitat-social" target="_self" data-drupal-link-system-path="node/15">Habitat Social</a></li>
								<li class="menu-item  "><a href="/professions-juridiques" target="_self" data-drupal-link-system-path="node/13">Professions juridiques</a></li>
								<li class="menu-item  "><a href="/entreprises-acteurs-financiers" target="_self" data-drupal-link-system-path="node/14">Entreprises et acteurs financiers</a></li>
							</ul>
						</div>
					</div>
				</div>
				<input autocomplete="off" data-drupal-selector="form-as5jjtahxqrm1d5vrqbmlqc1iwiy72zjhpbfgohckem" type="hidden" name="form_build_id" value="form-aS5jjTaHxqRm1D5VRqbmlqC1iWiy72ZJhpBFGoHckeM">
				<input data-drupal-selector="edit-homepage-selector" type="hidden" name="form_id" value="homepage_selector">
			</form>
		</div>
	</div>
	<div class="region region-header-right">
		<nav class="nav nav-secondary" role="navigation">
			<div id="block-custombuttonblock-access" class="block block-icdc-custom-button-block">
				<div class="nav-link-access">
					<button type="button" data-a11y-dialog-show="modal-dialog-access-config">
						<span class="icon-access" aria-hidden="true"></span>
						<span class="sr-only">Accessibilité</span>
					</button>
				</div>
			</div>
			<div id="block-custombuttonblock-dr-map" class="block block-icdc-custom-button-block">
				<div class="nav-link-map">
					<a href="/directions-regionales">
						<span class="icon-carte" aria-hidden="true"></span>
						<span class="sr-only">Carte des directions régionales</span>
					</a>
				</div>
			</div>
			<div id="block-headersearchblock" class="block block-bdt-search block-header-search-block">
				<div id="block-searchlinkblock" class="block block-bdt-search-link-block">
					<div class="nav-link-search">
						<button class="header-search-btn" type="button" data-toggle="collapse" data-target="#megamenu-search" aria-controls="megamenu-search" aria-expanded="false" aria-label="Open search navigation"><span class="sr-only">Open search navigation</span></button>
						<div id="megamenu-search" class="header-megamenu-search-wrapper collapse">
							<div class="vcenter">
								<div class="in">
									<form class="float-target-parent float-target-parent--search" data-drupal-selector="header-search-form" action="/search-page" method="get" id="header-search-form" accept-charset="UTF-8">
										<label data-drupal-selector="edit-label" for="modalsearch-api-fulltext" id="edit-label"><span class="label-txt">Que recherchez vous</span></label>
										<input class="float-target" id="modalsearch-api-fulltext" data-drupal-selector="edit-search-api-fulltext" type="text" name="search_api_fulltext" value="" size="60" maxlength="128">
										<div class="js-form-item form-item js-form-type-textfield form-type-textfield js-form-item-ffv form-item-ffv form-no-label">
											<input class="visually-hidden form-text" data-drupal-selector="edit-ffv" type="text" id="edit-ffv" name="ffv" value="" size="60" maxlength="128">
										</div>
										<button type="submit" class="search-submit-button">
											<span class="icon-arrow-full-right" aria-hidden="true"></span>
											<span class="sr-only">Lancer la recherche</span>
										</button>
										<input data-drupal-selector="edit-f-0" type="hidden" name="f[0]" value="search_aggregator_search_tabs:ressources">
										<input data-drupal-selector="edit-f-1" type="hidden" name="f[1]" value="group_parent:Collectivités et EPL">
									</form>
									<div class="search-quick-access-link">
										<p>
											Accès rapide :
										</p>
										<ul>
											<li><a href="/search-page?f[0]=facet_thematics_taxonomy_terms%3ASocial&amp;f[1]=group_parent%3ACollectivités et EPL&amp;f[2]=search_aggregator_search_tabs%3Aressources">Social</a></li>
											<li><a href="/search-page?f[0]=facet_thematics_taxonomy_terms%3AEnvironnement&amp;f[1]=group_parent%3ACollectivités et EPL&amp;f[2]=search_aggregator_search_tabs%3Aressources">Environnement</a></li>
											<li><a href="/search-page?f[0]=facet_thematics_taxonomy_terms%3AEnergie&amp;f[1]=group_parent%3ACollectivités et EPL&amp;f[2]=search_aggregator_search_tabs%3Aressources">Energie</a></li>
											<li><a href="/search-page?f[0]=facet_thematics_taxonomy_terms%3AOrganisation territoriale, élus et institutions&amp;f[1]=group_parent%3ACollectivités et EPL&amp;f[2]=search_aggregator_search_tabs%3Aressources">Organisation territoriale, élus et institutions</a></li>
											<li><a href="/search-page?f[0]=facet_thematics_taxonomy_terms%3ADéveloppement économique&amp;f[1]=group_parent%3ACollectivités et EPL&amp;f[2]=search_aggregator_search_tabs%3Aressources">Développement économique</a></li>
											<li><a href="/search-page?f[0]=facet_thematics_taxonomy_terms%3ATourisme, culture, loisirs&amp;f[1]=group_parent%3ACollectivités et EPL&amp;f[2]=search_aggregator_search_tabs%3Aressources">Tourisme, culture, loisirs</a></li>
											<li><a href="/search-page?f[0]=facet_thematics_taxonomy_terms%3ACohésion des territoires&amp;f[1]=group_parent%3ACollectivités et EPL&amp;f[2]=search_aggregator_search_tabs%3Aressources">Cohésion des territoires</a></li>
											<li><a href="/search-page?f[0]=facet_thematics_taxonomy_terms%3ALogement&amp;f[1]=group_parent%3ACollectivités et EPL&amp;f[2]=search_aggregator_search_tabs%3Aressources">Logement</a></li>
											<li><a href="/search-page?f[0]=facet_thematics_taxonomy_terms%3ASanté, médico-social, vieillissement&amp;f[1]=group_parent%3ACollectivités et EPL&amp;f[2]=search_aggregator_search_tabs%3Aressources">Santé, médico-social, vieillissement</a></li>
											<li><a href="/search-page?f[0]=facet_thematics_taxonomy_terms%3AEmploi&amp;f[1]=group_parent%3ACollectivités et EPL&amp;f[2]=search_aggregator_search_tabs%3Aressources">Emploi</a></li>
											<li><a href="/search-page?f[0]=facet_thematics_taxonomy_terms%3AJeunesse, éducation et formation&amp;f[1]=group_parent%3ACollectivités et EPL&amp;f[2]=search_aggregator_search_tabs%3Aressources">Jeunesse, éducation et formation</a></li>
											<li><a href="/search-page?f[0]=facet_thematics_taxonomy_terms%3AAménagement et foncier&amp;f[1]=group_parent%3ACollectivités et EPL&amp;f[2]=search_aggregator_search_tabs%3Aressources">Aménagement et foncier</a></li>
											<li><a href="/search-page?f[0]=facet_thematics_taxonomy_terms%3ACommande publique&amp;f[1]=group_parent%3ACollectivités et EPL&amp;f[2]=search_aggregator_search_tabs%3Aressources">Commande publique</a></li>
											<li><a href="/search-page?f[0]=facet_thematics_taxonomy_terms%3AEurope et international&amp;f[1]=group_parent%3ACollectivités et EPL&amp;f[2]=search_aggregator_search_tabs%3Aressources">Europe et international</a></li>
											<li><a href="/search-page?f[0]=facet_thematics_taxonomy_terms%3AFonction publique&amp;f[1]=group_parent%3ACollectivités et EPL&amp;f[2]=search_aggregator_search_tabs%3Aressources">Fonction publique</a></li>
											<li><a href="/search-page?f[0]=facet_thematics_taxonomy_terms%3ACitoyenneté et services au public&amp;f[1]=group_parent%3ACollectivités et EPL&amp;f[2]=search_aggregator_search_tabs%3Aressources">Citoyenneté et services au public</a></li>
											<li><a href="/search-page?f[0]=facet_thematics_taxonomy_terms%3ASécurité&amp;f[1]=group_parent%3ACollectivités et EPL&amp;f[2]=search_aggregator_search_tabs%3Aressources">Sécurité</a></li>
											<li><a href="/search-page?f[0]=facet_thematics_taxonomy_terms%3APolitique de la ville&amp;f[1]=group_parent%3ACollectivités et EPL&amp;f[2]=search_aggregator_search_tabs%3Aressources">Politique de la ville</a></li>
											<li><a href="/search-page?f[0]=facet_thematics_taxonomy_terms%3AFinances et fiscalité&amp;f[1]=group_parent%3ACollectivités et EPL&amp;f[2]=search_aggregator_search_tabs%3Aressources">Finances et fiscalité</a></li>
											<li><a href="/search-page?f[0]=facet_thematics_taxonomy_terms%3ATransport mobilité durable&amp;f[1]=group_parent%3ACollectivités et EPL&amp;f[2]=search_aggregator_search_tabs%3Aressources">Transport mobilité durable</a></li>
											<li><a href="/search-page?f[0]=facet_thematics_taxonomy_terms%3AInfrastructures numériques, données&amp;f[1]=group_parent%3ACollectivités et EPL&amp;f[2]=search_aggregator_search_tabs%3Aressources">Infrastructures numériques, données</a></li>
											<li><a href="/search-page?f[0]=facet_thematics_taxonomy_terms%3AHabitat&amp;f[1]=group_parent%3ACollectivités et EPL&amp;f[2]=search_aggregator_search_tabs%3Aressources">Habitat</a></li>
											<li><a href="/search-page?f[0]=facet_thematics_taxonomy_terms%3ASmart city&amp;f[1]=group_parent%3ACollectivités et EPL&amp;f[2]=search_aggregator_search_tabs%3Aressources">Smart city</a></li>
											<li><a href="/search-page?f[0]=facet_thematics_taxonomy_terms%3AEconomie sociale et innovation&amp;f[1]=group_parent%3ACollectivités et EPL&amp;f[2]=search_aggregator_search_tabs%3Aressources">Economie sociale et innovation</a></li>
											<li><a href="/search-page?f[0]=facet_thematics_taxonomy_terms%3AAssociations&amp;f[1]=group_parent%3ACollectivités et EPL&amp;f[2]=search_aggregator_search_tabs%3Aressources">Associations</a></li>
											<li><a href="/search-page?f[0]=facet_thematics_taxonomy_terms%3AEfficacité énergétique des bâtiments publics&amp;f[1]=group_parent%3ACollectivités et EPL&amp;f[2]=search_aggregator_search_tabs%3Aressources">Efficacité énergétique des bâtiments publics</a></li>
											<li><a href="/search-page?f[0]=facet_thematics_taxonomy_terms%3AAction cœur de ville&amp;f[1]=group_parent%3ACollectivités et EPL&amp;f[2]=search_aggregator_search_tabs%3Aressources">Action cœur de ville</a></li>
											<li><a href="/search-page?f[0]=facet_thematics_taxonomy_terms%3AJustice&amp;f[1]=group_parent%3ACollectivités et EPL&amp;f[2]=search_aggregator_search_tabs%3Aressources">Justice</a></li>
											<li><a href="/search-page?f[0]=facet_thematics_taxonomy_terms%3AMunicipales 2020&amp;f[1]=group_parent%3ACollectivités et EPL&amp;f[2]=search_aggregator_search_tabs%3Aressources">Municipales 2020</a></li>
											<li><a href="/search-page?f[0]=facet_thematics_taxonomy_terms%3ATerritoires d’industrie&amp;f[1]=group_parent%3ACollectivités et EPL&amp;f[2]=search_aggregator_search_tabs%3Aressources">Territoires d’industrie</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="block-connexionbuttonblock-account" class="block block-bdt-ws-connexions block-connexion-button-block">
				<div class="nav-link-user">
					<a href="https://mon-compte.banquedesterritoires.fr" data-analytics="header-btn-connexion">
						<span class="icon-connexion" aria-hidden="true"></span>
						<span>Connexion</span>
					</a>
				</div>
			</div>
		</nav>
	</div>
</header>