<ul class="skip-link" id="access-shortcuts-wrapper">
    <li>
        <a class="smooth-scroll skip-sr-only sr-only-focusable" href="#main" id="skiplink-go-to-content">Aller au contenu</a>
    </li>
    <li>
        <a class="skip-sr-only sr-only-focusable" href="#menu-slide-target-1" id="skiplink-go-to-menu">Aller au menu</a>
    </li>
    <li>
        <a class="skip-sr-only sr-only-focusable" href="/recherche" id="skiplink-go-to-search">Aller à la recherche</a>
    </li>
    <li>
        <a class="skip-sr-only sr-only-focusable" href="/accessibilite" id="skiplink-go-to-accessibility">Aller vers la page d'accessibilité</a>
    </li>
</ul>