{#  Mettre le même Navbar #}


<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarTogglerDemo01">

		<div class="d-flex">
			<div class="mr-auto">
				<a class="navbar-brand" href="#">
					<img width="50" height="50" class="d-inline-block align-top" src="./assets/images/Caisse_des_Depots.png" alt="Logo CDC"/>
				</a>
			</div>
			<div class="mt-2">
				<ul class="navbar-nav mr-auto mt-3 mt-lg-0">
					<li class="nav-item">
						<a class="nav-link" href="#">Installation</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Ressources</a>
					</li>
					<li class="nav-item">
						<a href="assets-resource.zip" download class="btn btn-red-solid btn-small btn-icon-right btn-icon-download">Télécharger</a>
					</li>
					<li class="nav-item">
						<a href="#" class="btn btn-teal-outline btn-small btn-icon-right btn-icon-bitbucket">Bitbucket</a>
					</li>

					{# <li class="nav-item">
													<img class="logo-klee" src="./assets/images/klee-interactive.png" alt="Logo Klee Interactive"/>
												</li> #}
				</ul>
			</div>

		</div>


	</div>
</nav>
