{#  Mettre le même Navbar #}
<ul class="nav justify-content-end mt-3">
	<li class="nav-item">
		<a class="nav-link" href="#">Installation</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="#">Ressources</a>
	</li>
	<li class="nav-item">
        {# <a class="nav-link" href="assets-resource.zip" download>Télécharger</a> #}
        <a href="assets-resource.zip" download class="btn btn-teal-teal btn-small btn-icon-right btn-icon-download">Télécharger</a>

	</li>
    <li class="nav-item">
		<img class="logo-klee" src="./assets/images/klee-interactive.png" alt="Logo Klee Interactive"/>
	</li>
</ul>
