//
// Class sur <body> via le JS a11y-modal.js
//

// Pour les constrastes renforcés
[data-contrast='high-c'] &
{
    .nav-tabs .nav-link,
    .breadcrumb-item,
    .block-recap--item-total,
    .steplist-item-title {
        color: $body-color;
    }

    .text-secondary {
        color: $secondary-access!important;
    }

    .table-recap-total span {
        color: $secondary-access;
    }
}

// Pour les constrastes inversés
[data-contrast='inv-c'] &
{
    &.body-wrapper {
        background-image: none;
    }

    [role="main"],
    .form-control {
        color: $yellow-access;
        background-color: $blue-access;
        border: solid 0.1rem $yellow-access;
    }

    hr,
    .nav-tabs .nav-link,
    .nav-tabs .nav-link:hover,
    .nav-tabs--icon .nav-link--text::before,
    .breadcrumb,
    .table-recap-wrapper,
    .table th,
    .table td,
    .table-recap-total,
    .table-account-total,
    .block-upload-and-drag,
    .block-upload-and-drag.is-hover,
    .block-recap--title,
    .block-recap--item,
    .block-recap--total,
    .dropdown-menu,
    .page-link {
        border-color: $yellow-access;
    }

    .block-bordered {
        border-color: $yellow-access!important;
    }

    .main h1::before,
    .main .h1::before,
    h2:after,
    .h2:after,
    .with-dot::before,
    .hn-icon [class^="icon-"],
    ol > li:before,
    .float-target-parent.focused label,
    .nav-tabs .nav-link,
    .breadcrumb-item,
    .breadcrumb-item.active,
    .breadcrumb-item.complete,
    .steplist-item-title,
    .steplist-item.complete,
    .steplist-item.complete .steplist-item-title,
    .steplist-item.active,
    .steplist-item.active .steplist-item-title,
    .btn-download:before,
    .btn-download:after,
    .table-recap-total span,
    .table-account-total span,
    .dossier-status-info,
    caption,
    .block-upload-file--button [class^='icon-'],
    .block-upload-file--button:after,
    .block-upload-file--uploaded-actions .icon-check,
    .block-upload-and-drag--drag [class^='icon-'],
    .block-upload-and-drag--file-weight,
    .block-upload-and-drag--file > [class^='icon-'],
    .progress-nb,
    .block-create-account-item--suivi .dossier-status .icon-traitement-en-cours,
    .block-create-account-item--suivi .dossier-status .icon-demande-validee,
    .block-recap--item-total,
    .form-group.required label::after,
    .invalid-feedback,
    .dropdown-item,
    .page-link:hover {
        color: $yellow-access;
    }

    .text-secondary,
    .text-success,
    .text-danger {
        color: $yellow-access!important;
    }

    .btn-link [class^='icon-'],
    [class*="btn-outline"] [class^='icon-'] {
        color: $blue-access;
    }

    .nav-tabs--connect .nav-link [class^='icon'],
    .nav-tabs--icon .nav-link [class^='icon'],
    .nav-tabs--icon .nav-link.active [class^='icon'],
    .nav-tabs--icon .nav-item.show .nav-link [class^='icon'] {
        color: inherit;
    }

    .nav-tabs--icon .nav-link--text::after,
    .breadcrumb-item-inner::after,
    .table,
    .table-recap,
    .table-recap-wrapper,
    .table-account,
    .block-upload-and-drag.is-hover,
    .progress,
    .custom-control-label::before,
    .dropdown-menu,
    .page-link,
    .pagination .page-item.active .page-link::after {
        background-color: $blue-access;
    }

    .block-highlight-link > a,
    .block-bordered,
    .bg-lighter {
        color: $yellow-access!important;
        background-color: $blue-access!important;
    }

    .progress-bar,
    .block-create-account-item--status,
    .alert {
        background-color: $yellow-access!important;
        color: $blue-access!important;
    }

    .breadcrumb-item-inner::after,
    .input-group--search .form-control,
    .block-upload-file--button,
    .block-highlight-link > a,
    .progress,
    .custom-checkbox .custom-control-label::before,
    .custom-radio .custom-control-label::before {
        border: solid 0.1rem $yellow-access;
    }

    .nav-tabs .nav-link.active,
    .nav-tabs .nav-item.show .nav-link,
    .dropdown-item.active,
    .dropdown-item:active,
    .dropdown-item:hover,
    .dropdown-item:focus,
    .page-item.active .page-link {
        color: $blue-access;
        background-color: $yellow-access;
        border-color: $yellow-access;
    }

    .breadcrumb-item.active .breadcrumb-item-separator::before,
    .breadcrumb-item.complete .breadcrumb-item-separator::before,
    .breadcrumb-item.complete .breadcrumb-item-separator::after {
        margin-top: -0.1rem;
        padding: 0.3rem;
    }

    .breadcrumb-item.active .breadcrumb-item-inner::after,
    .breadcrumb-item.active .breadcrumb-item-separator::before,
    .breadcrumb-item.complete .breadcrumb-item-inner::after,
    .breadcrumb-item.complete .breadcrumb-item-separator::before,
    .breadcrumb-item.complete .breadcrumb-item-separator::after,
    .table .thead-dark th {
        color: $blue-access;
        background-color: $yellow-access;
    }

    .steplist-item {
        color: $white;
    }

    .steplist .steplist-item-line::before {
        border-left-color: $blue-access;
    }

    .input-group--search .input-group-append .input-group-text,
    .input-group--search .input-group-prepend .input-group-text {
        padding: 1rem;
        color: $blue-access;
        background: $yellow-access;
    }

    .block-upload-file--uploaded-title {
        margin-bottom: 3rem;
    }

    .block-upload-and-drag {
        box-shadow: 0 0 0 0 rgba($yellow-access, 0.7);
    }

    .custom-checkbox {
        .custom-control-input:checked ~ .custom-control-label {
          &::before {
            background-color: $blue-access;
          }
          &::after {
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23FFFF00' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E");
          }
        }
    }

    .custom-radio {
        .custom-control-input:checked ~ .custom-control-label {
          &::before {
            background-color: $blue-access;
          }
          &::after {
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3E%3Ccircle r='3' fill='%23FFFF00'/%3E%3C/svg%3E");
          }
        }
    }

    .form-control.is-valid,
    .was-validated .form-control:valid {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3e%3cpath fill='%23FFFF00' d='M27.733 2.8l-16.267 16.8-7.2-8.267-4.267 5.067 11.2 12.8 2.133-2.133 18.667-18.933z'/%3e%3c/svg%3e");
    }

    .form-control.is-invalid,
    .was-validated .form-control:invalid {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3e%3cpath fill='%23FFFF00' d='M32 28.889l-13.333-12.889 12.889-12.889-3.111-2.667-12.444 12.444-12.889-12.889-3.111 3.111 12.889 12.889-12.444 12.444 2.667 3.111 12.889-12.889 12.889 13.333z'/%3e%3c/svg%3e");
    }

    select.form-control {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3e%3cpath fill='%23FFFF00' d='M26.24 5.76l-10.88 10.24-10.24-10.24-5.12 5.12 15.36 15.36 16.64-15.36z'/%3e%3c/svg%3e");
    }

    .modal-header .close {
        padding: 0.5rem;
        color: $blue-access;
        background-color: $yellow-access;
    }
}