// + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + +
//
// Vanilla JS
//
// function hideShow() {
//     var triggerList = document.getElementsByClassName('hide-show-trigger');
//     var hiddenClass = 'hidden';
//     var shownClass = 'show';
//
//     var hideShowHandler = function () {
//         var target = this.parentNode.querySelector('.hide-show-target');
//
//         if (hasClass(target, hiddenClass)) {
//             removeClass(target, hiddenClass);
//             addClass(target, shownClass);
//             this.setAttribute('aria-expanded', 'true');
//         } else {
//             addClass(target, hiddenClass);
//             removeClass(target, shownClass);
//             this.setAttribute('aria-expanded', 'false');
//         }
//     }
//     for (var i = 0; i < triggerList.length; i++) {
//         triggerList[i].addEventListener('click', hideShowHandler, false);
//     }
// }

//
// HTML
//
// <div class="hide-show-wrapper aw-collapse-wrapper">
//     <button type="button" class="hide-show-trigger aw-collapse-trigger" aria-controls="">
//         {{ title }}
//     </button>
//     <div class="hide-show-target hidden aw-collapse-target" id="">
//         {{ content }}
//     </div>
// </div>

// + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + +

.aw-collapse-wrapper
{
    position: relative;
    border-bottom: 0.1rem solid $gray-300;

    &:nth-of-type(1)
    {
        border-top: 0.1rem solid $gray-300;
    }
}

.aw-collapse-trigger
{
    position: relative;
    display: block;

    padding: 1.4rem 2.4rem 1.4rem 0;

    width: 100%;

    font-size: 1.6rem !important;

    @include icon(after, icon-arrow_down) {
        position: absolute;
        top: 2rem;
        right: 0;

        font-size: 0.8rem;

        transform: rotate(0deg);
        transform-origin: center;
        transition : transform 0.3s ease;
    }

    &[aria-expanded='true']
    {
        &::after
        {
            transform: rotate(180deg);
        }
    }
}

[type='button'].aw-collapse-trigger,
[role='button'].aw-collapse-trigger
{
    appearance: none;
    cursor: pointer;

    margin: 0;
    border: 0;
    background: none;

    text-align: left;
    font-weight: normal;
}