@charset "UTF-8";

// datepicker.scss -- Datepicker
//

.offscreen
{
    position: absolute;
    overflow: hidden;

    margin: 0;
    padding: 0;

    width: 1px;
    height: 1px;

    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
}

.form-group-datepicker
{
    margin-top: 3rem;
}

button.ui-datepicker-trigger
{
    @include reset-btn;

    position: absolute;
    top: 1.2rem;
    right: 1rem;
    z-index: 5;

    padding: 0.2rem;

    width: 3.5rem;

    img
    {
        @include img-fluid;
    }

    &:focus,
    &:hover,
    &:active
    {
        outline: 0.1rem dashed $primary !important;

        margin: auto !important;
        border: none !important;

        background-color: $white !important;
    }

    [class^='icon-']::before
    {
        font-size: 3rem;
    }
}

input.datepicker
{
    @extend .form-control;
}

.ui-datepicker
{
    display: none;

    z-index: 42 !important;

    padding: 0;

    width: 60rem;
    height: 32rem;

    background-color: $white;

    border: 0.1rem solid $gray-500;
    //border-radius: 0.4rem;

    font-size: 1.4rem;
    text-align: center;
}

.ui-datepicker-header
{
    position: relative;
    height: 22rem;
    width: 40%;
    height: 100%;

    float: left;

    background-color: $secondary;

    color: $white;
    text-align: center;
}

.ui-datepicker-prev,
.ui-datepicker-next
{
    position: absolute;
    z-index: 50;

    width: 5rem;
    height: 5rem;

    //border-radius: 0.4rem;

    font-size: 1.2rem;
    text-decoration: none;

    transition: background-color 0.3s ease, color 0.3s ease;

    cursor: pointer;

    span
    {
        @include sr-only;
    }

    &:before
    {
        position: relative;
        color: $white;
        line-height: 5rem !important;
    }

    &:focus,
    &:hover,
    &:active
    {
        background-color: darken($secondary, 15%);
    }

}

.ui-datepicker-prev
{
    right: 0;
    top: 50%;
    margin-top: -5rem;
    color: $white;
    @include icon(before, icon-arrow_up);

    background-color: $secondary;


}

.ui-datepicker-next
{
    right: 0;
    top: 50%;
    @include icon(before, icon-arrow_down);
}

.ui-datepicker-title
{
    padding: 0;

    font-size: 1.4rem;
    color: inherit;

    height: 100%;

    background-color: $secondary;

    .ui-datepicker-month,
    .ui-datepicker-year
    {
        position: absolute;
        display: block;
        height: inherit;
        width: 100%;

        padding-left: 3rem;

        text-align: left;
        text-transform: uppercase;
        line-height: 16rem;
        font-weight: 700;
    }

    .ui-datepicker-month
    {
        top: 10.5rem;

        color: $white;
        font-size: 2rem;
    }

    .ui-datepicker-year
    {
        top: 5.7rem;

        color: $white;
        font-size: 3.2rem;
    }
}

table.ui-datepicker-calendar
{
    width: 60% !important;
    height: 100%;
    float: right;
    border-width: 1rem;
    border-style: solid;
    border-color: $white;
}

table.ui-datepicker-calendar tr:nth-child(even)
{
    background-color: $white;
}

table.ui-datepicker-calendar > thead > tr > th
{
    background-color: $white;

    color: $primary;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

table.ui-datepicker-calendar > thead > tr > th,
table.ui-datepicker-calendar > tbody > tr > td
{
    padding: 0;
    border: 0;

    font-size: inherit;
}

table.ui-datepicker-calendar
{
    margin-bottom: 0rem;

    a
    {
        display: block;

        margin: 0 auto;

        width: 3rem;
        height: 3rem;
        line-height: 3.2rem;

        border-radius: 0.4rem;

        text-decoration: none;

        transition: background-color 0.3s ease, color 0.3s ease;

        &:focus,
        &:hover,
        &:active
        {
            background-color: $gray-500;
            color: $white;
        }
    }

    td.ui-datepicker-today a
    {
        background-color: $secondary;
        color: $white;
    }
}

.ui-datepicker-buttonpane
{
    display: none;
    margin: 0 2rem 1rem 0;
    text-align: right;

    .ui-datepicker-close,
    .ui-datepicker-current
    {
        @include reset-btn;

        padding: 0.4rem 0.8rem;

        border: 0.1rem solid $gray-500;
        border-radius: 0.4rem;

        font-size: 1.2rem;

        transition: border-color 0.3s ease;

        &:focus,
        &:hover,
        &:active
        {
            border-color: $black;
        }
    }

    .ui-datepicker-current
    {
        margin-right: 1rem;
    }
}

