<a href="#" class="btn btn-filter btn-icon-left d-inline-flex">
    <span class="icon-fermer" aria-hidden="true"></span>
    link filter
</a>

<a href="#" class="btn btn-filter btn-icon-left d-inline-flex" role="button">
    <span class="icon-fermer" aria-hidden="true"></span>
    link filter with role button
</a>

<button type="button" class="btn btn-filter btn-icon-left d-inline-flex">
    <span class="icon-fermer" aria-hidden="true"></span>
    button filter
</button>
