<div class="d-flex flex-wrap">
	<div class="font-icon" title=" icon-ok-circled ">
		<i class="fontello icon-ok-circled "></i>
		<span class="i-name">icon-ok-circled
		</span>
	</div>

	<div class="font-icon" title=" icon-ok ">
		<i class="fontello icon-ok "></i>
		<span class="i-name">icon-ok
		</span>
	</div>

	<div class="font-icon" title=" icon-down-circle ">
		<i class="fontello icon-down-circle "></i>
		<span class="i-name">icon-down-circle
		</span>
	</div>

	<div class="font-icon" title=" icon-left-circle ">
		<i class="fontello icon-left-circle "></i>
		<span class="i-name">icon-left-circle
		</span>
	</div>

	<div class="font-icon" title=" icon-right-circle ">
		<i class="fontello icon-right-circle "></i>
		<span class="i-name">icon-right-circle
		</span>
	</div>

	<div class="font-icon" title=" icon-up-circle ">
		<i class="fontello icon-up-circle "></i>
		<span class="i-name">icon-up-circle
		</span>
	</div>

	<div class="font-icon" title=" icon-down-open ">
		<i class="fontello icon-down-open "></i>
		<span class="i-name">icon-down-open
		</span>
	</div>

	<div class="font-icon" title=" icon-up-open ">
		<i class="fontello icon-up-open "></i>
		<span class="i-name">icon-up-open
		</span>
	</div>

	<div class="font-icon" title=" icon-right-open ">
		<i class="fontello icon-right-open "></i>
		<span class="i-name">icon-right-open
		</span>
	</div>

	<div class="font-icon" title=" icon-left-open ">
		<i class="fontello icon-left-open "></i>
		<span class="i-name">icon-left-open
		</span>
	</div>

	<div class="font-icon" title=" icon-info ">
		<i class="fontello icon-info "></i>
		<span class="i-name">icon-info
		</span>
	</div>

	<div class="font-icon" title=" icon-facebook ">
		<i class="fontello icon-facebook "></i>
		<span class="i-name">icon-facebook
		</span>
	</div>

	<div class="font-icon" title=" icon-twitter ">
		<i class="fontello icon-twitter "></i>
		<span class="i-name">icon-twitter
		</span>
	</div>

	<div class="font-icon" title=" icon-instagram ">
		<i class="fontello icon-instagram "></i>
		<span class="i-name">icon-instagram
		</span>
	</div>

	<div class="font-icon" title=" icon-user ">
		<i class="fontello icon-user "></i>
		<span class="i-name">icon-user
		</span>
	</div>

	<div class="font-icon" title=" icon-lock-open-alt ">
		<i class="fontello icon-lock-open-alt "></i>
		<span class="i-name">icon-lock-open-alt
		</span>
	</div>

	<div class="font-icon" title=" icon-login ">
		<i class="fontello icon-login "></i>
		<span class="i-name">icon-login
		</span>
	</div>

	<div class="font-icon" title=" icon-download ">
		<i class="fontello icon-download "></i>
		<span class="i-name">icon-download
		</span>
	</div>

	<div class="font-icon" title=" icon-chain ">
		<i class="fontello icon-chain "></i>
		<span class="i-name">icon-chain
		</span>
	</div>

	<div class="font-icon" title=" icon-external-link">
		<i class="fontello icon-external-link"></i>
		<span class="i-name">icon-external-link</span>
	</div>

	<div class="font-icon" title=" icon-valide ">
		<i class="fontello icon-valide "></i>
		<span class="i-name">icon-valide
		</span>
	</div>

	<div class="font-icon" title=" icon-recommencer ">
		<i class="fontello icon-recommencer "></i>
		<span class="i-name">icon-recommencer
		</span>
	</div>

	<div class="font-icon" title=" icon-003-envelope">
		<i class="fontello icon-003-envelope"></i>
		<span class="i-name">icon-003-envelope</span>
	</div>

	<div class="font-icon" title=" icon-icon ">
		<i class="fontello icon-icon "></i>
		<span class="i-name">icon-icon
		</span>
	</div>

	<div class="font-icon" title=" icon-linkedin ">
		<i class="fontello icon-linkedin "></i>
		<span class="i-name">icon-linkedin
		</span>
	</div>

	<div class="font-icon" title=" icon-mail-alt ">
		<i class="fontello icon-mail-alt "></i>
		<span class="i-name">icon-mail-alt
		</span>
	</div>

	<div class="font-icon" title=" icon-rss ">
		<i class="fontello icon-rss "></i>
		<span class="i-name">icon-rss
		</span>
	</div>

	<div class="font-icon" title=" icon-citoyennente ">
		<i class="fontello icon-citoyennente "></i>
		<span class="i-name">icon-citoyennente
		</span>
	</div>

	<div class="font-icon" title=" icon-accessibilite ">
		<i class="fontello icon-accessibilite "></i>
		<span class="i-name">icon-accessibilite
		</span>
	</div>

	<div class="font-icon" title=" icon-logement ">
		<i class="fontello icon-logement "></i>
		<span class="i-name">icon-logement
		</span>
	</div>

	<div class="font-icon" title=" icon-loisirs">
		<i class="fontello icon-loisirs"></i>
		<span class="i-name">icon-loisirs</span>
	</div>

	<div class="font-icon" title=" icon-mobilite ">
		<i class="fontello icon-mobilite "></i>
		<span class="i-name">icon-mobilite
		</span>
	</div>

	<div class="font-icon" title=" icon-sante">
		<i class="fontello icon-sante"></i>
		<span class="i-name">icon-sante</span>
	</div>

	<div class="font-icon" title=" icon-bulle">
		<i class="fontello icon-bulle"></i>
		<span class="i-name">icon-bulle</span>
	</div>

	<div class="font-icon" title=" icon-mail">
		<i class="fontello icon-mail"></i>
		<span class="i-name">icon-mail</span>
	</div>

	<div class="font-icon" title=" icon-search">
		<i class="fontello icon-search"></i>
		<span class="i-name">icon-search</span>
	</div>

	<div class="font-icon" title=" icon-cancel">
		<i class="fontello icon-cancel"></i>
		<span class="i-name">icon-cancel</span>
	</div>

	<div class="font-icon" title=" icon-location">
		<i class="fontello icon-location"></i>
		<span class="i-name">icon-location</span>
	</div>

	<div class="font-icon" title=" icon-menu">
		<i class="fontello icon-menu"></i>
		<span class="i-name">icon-menu</span>
	</div>

	<div class="font-icon" title=" icon-down-open-1">
		<i class="fontello icon-down-open-1"></i>
		<span class="i-name">icon-down-open-1</span>
	</div>

	<div class="font-icon" title=" icon-left-open-1">
		<i class="fontello icon-left-open-1"></i>
		<span class="i-name">icon-left-open-1</span>
	</div>

	<div class="font-icon" title=" icon-right-open-1">
		<i class="fontello icon-right-open-1"></i>
		<span class="i-name">icon-right-open-1</span>
	</div>

	<div class="font-icon" title=" icon-up-open-1">
		<i class="fontello icon-up-open-1"></i>
		<span class="i-name">icon-up-open-1</span>
	</div>

	<div class="font-icon" title=" icon-address-book-o">
		<i class="fontello icon-address-book-o"></i>
		<span class="i-name">icon-address-book-o</span>
	</div>

	<div class="font-icon" title=" icon-help-circled-alt">
		<i class="fontello icon-help-circled-alt"></i>
		<span class="i-name">icon-help-circled-alt</span>
	</div>

	<div class="font-icon" title=" icon-book">
		<i class="fontello icon-book"></i>
		<span class="i-name">icon-book</span>
	</div>

	<div class="font-icon" title=" icon-aide">
		<i class="fontello icon-aide"></i>
		<span class="i-name">icon-aide</span>
	</div>

	<div class="font-icon" title=" icon-erreur">
		<i class="fontello icon-erreur"></i>
		<span class="i-name">icon-erreur</span>
	</div>

	<div class="font-icon" title=" icon-glossaire">
		<i class="fontello icon-glossaire"></i>
		<span class="i-name">icon-glossaire</span>
	</div>

	<div class="font-icon" title=" icon-annuaire">
		<i class="fontello icon-annuaire"></i>
		<span class="i-name">icon-annuaire</span>
	</div>

	<div class="font-icon" title=" icon-attention">
		<i class="fontello icon-attention"></i>
		<span class="i-name">icon-attention</span>
	</div>

	<div class="font-icon" title=" icon-circle-empty">
		<i class="fontello icon-circle-empty"></i>
		<span class="i-name">icon-circle-empty</span>
	</div>

	<div class="font-icon" title=" icon-dot-circled">
		<i class="fontello icon-dot-circled"></i>
		<span class="i-name">icon-dot-circled</span>
	</div>

	<div class="font-icon" title=" icon-check">
		<i class="fontello icon-check"></i>
		<span class="i-name">icon-check</span>
	</div>

	<div class="font-icon" title=" icon-check-empty">
		<i class="fontello icon-check-empty"></i>
		<span class="i-name">icon-check-empty</span>
	</div>

	<div class="font-icon" title=" icon-ok-squared">
		<i class="fontello icon-ok-squared"></i>
		<span class="i-name">icon-ok-squared</span>
	</div>

	<div class="font-icon" title=" icon-ok-circled-1">
		<i class="fontello icon-ok-circled-1"></i>
		<span class="i-name">icon-ok-circled-1</span>
	</div>

	<div class="font-icon" title=" icon-record">
		<i class="fontello icon-record"></i>
		<span class="i-name">icon-record</span>
	</div>

	<div class="font-icon" title=" icon-compass">
		<i class="fontello icon-compass"></i>
		<span class="i-name">icon-compass</span>
	</div>

	<div class="font-icon" title=" icon-double_fleche">
		<i class="fontello icon-double_fleche"></i>
		<span class="i-name">icon-double_fleche</span>
	</div>

	<div class="font-icon" title=" icon-double_fleche_gauche">
		<i class="fontello icon-double_fleche_gauche"></i>
		<span class="i-name">icon-double_fleche_gauche</span>
	</div>

	<div class="font-icon" title=" icon-columns">
		<i class="fontello icon-columns"></i>
		<span class="i-name">icon-columns</span>
	</div>

	<div class="font-icon" title=" icon-cubes">
		<i class="fontello icon-cubes"></i>
		<span class="i-name">icon-cubes</span>
	</div>

	<div class="font-icon" title=" icon-window">
		<i class="fontello icon-window"></i>
		<span class="i-name">icon-window</span>
	</div>

	<div class="font-icon" title=" icon-newspaper">
		<i class="fontello icon-newspaper"></i>
		<span class="i-name">icon-newspaper</span>
	</div>

	<div class="font-icon" title=" icon-archive">
		<i class="fontello icon-archive"></i>
		<span class="i-name">icon-archive</span>
	</div>

	<div class="font-icon" title=" icon-box">
		<i class="fontello icon-box"></i>
		<span class="i-name">icon-box</span>
	</div>

	<div class="font-icon" title=" icon-th-large-outline">
		<i class="fontello icon-th-large-outline"></i>
		<span class="i-name">icon-th-large-outline</span>
	</div>

	<div class="font-icon" title=" icon-universal-access">
		<i class="fontello icon-universal-access"></i>
		<span class="i-name">icon-universal-access</span>
	</div>

	<div class="font-icon" title=" icon-wheelchair">
		<i class="fontello icon-wheelchair"></i>
		<span class="i-name">icon-wheelchair</span>
	</div>

	<div class="font-icon" title=" icon-mobile">
		<i class="fontello icon-mobile"></i>
		<span class="i-name">icon-mobile</span>
	</div>

	<div class="font-icon" title=" icon-html5">
		<i class="fontello icon-html5"></i>
		<span class="i-name">icon-html5</span>
	</div>

	<div class="font-icon" title=" icon-css3">
		<i class="fontello icon-css3"></i>
		<span class="i-name">icon-css3</span>
	</div>

	<div class="font-icon" title=" icon-spin6 ">
		<i class="fontello icon-spin6 "></i>
		<span class="i-name">icon-spin6
		</span>
	</div>

	<div class="font-icon" title=" icon-spin4 ">
		<i class="fontello icon-spin4 "></i>
		<span class="i-name">icon-spin4
		</span>
	</div>

	<div class="font-icon" title=" icon-spin3 ">
		<i class="fontello icon-spin3 "></i>
		<span class="i-name">icon-spin3
		</span>
	</div>

	<div class="font-icon" title=" icon-spin5 ">
		<i class="fontello icon-spin5 "></i>
		<span class="i-name">icon-spin5
		</span>
	</div>

	<div class="font-icon" title=" icon-cube ">
		<i class="fontello icon-cube "></i>
		<span class="i-name">icon-cube
		</span>
	</div>

	<div class="font-icon" title=" icon-github ">
		<i class="fontello icon-github "></i>
		<span class="i-name">icon-github
		</span>
	</div>

	<div class="font-icon" title=" icon-bitbucket ">
		<i class="fontello icon-bitbucket "></i>
		<span class="i-name">icon-bitbucket
		</span>
	</div>

	<div class="font-icon" title=" icon-attention-filled ">
		<i class="fontello icon-attention-filled "></i>
		<span class="i-name">icon-attention-filled
		</span>
	</div>


</div>
