<div class="p-3 bg-lighter border">

    <h2>Les margins</h2>
    <ul>
        <li>m- (margin)</li>
        <li>mt- (margin-top)</li>
        <li>mb- (margin-bottom)</li>
        <li>ml- (margin-left)</li>
        <li>mr- (margin-right)</li>
    </ul>
    <p>
        Pour fusionner les margin-top et margin-bottom, la class <code>my-</code>
        <br>
        Pour fusionner les margin-left et margin-right, la class <code>mx-</code>
    </p>
    <p>
        <b>Exemple :</b> 
        <br>
        <code>
            &lt;div class="mt-1"&gt;&lt;/div&gt;
            <br>
            &lt;div class="mt-3"&gt;&lt;/div&gt;
            <br>
            &lt;div class="my-6"&gt;&lt;/div&gt;
        </code>
    </p>

</div>

<div class="mt-3 p-3 bg-lighter border">

    <h2>Les paddings</h2>
    <ul>
        <li>p- (padding)</li>
        <li>pt- (padding-top)</li>
        <li>pb- (padding-bottom)</li>
        <li>pl- (padding-left)</li>
        <li>pr- (padding-right)</li>
    </ul>
    <p>
        Pour fusionner les padding-top et padding-bottom, la class <code>py-</code>
        <br>
        Pour fusionner les padding-left et padding-right, la class <code>px-</code>
    </p>
    <p>
        <b>Exemple :</b>
        <br>
        <code>
            &lt;div class="pt-2"&gt;&lt;/div&gt;
            <br>
            &lt;div class="pt-4"&gt;&lt;/div&gt;
            <br>
            &lt;div class="py-6"&gt;&lt;/div&gt;
        </code>
    </p>

</div>

<div class="mt-3 p-3 bg-lighter border">

    <h2>Centrer un contenu de taille fixe</h2>
    <p>Avec la class <code>mx-auto</code> et taille fixe, nous pouvons centrer un contenu</p>

    <div class="mx-auto mb-5 px-7 py-5 bg-dark text-white text-center" style="width: 50rem;">
        Exemple de contenu centré avec la class <code>mx-auto</code>
        <br>
        Le reste du style est fait grâce aux class <code>mb-5 px-7 py-5 bg-dark text-white text-center</code>
    </div>

    <p>Pour en savoir plus sur la couleur du texte, aller voir la page <a href="component-typography.html#Typography-utilities">component-typography</a></p>

    <p>Pour en savoir plus sur les background, aller voir la page <a href="component-block.html">component-block</a></p>

</div>

<div class="mt-3 p-3 bg-lighter border">

    <h2>Les margins et paddings responsives</h2>
    <p>Vous pouvez ajouter directement les breakpoints dans la class pour modifier l'aspect selon la dimension du site. <br> Le site est configuré 6 breakpoints, fonctionnants en <b>min-width</b>.</p> 
    <ul>
        <li>xs: 0</li>
        <li>sm: 576px</li>
        <li>md: 768px</li>
        <li>lg: 992px</li>
        <li>xl: 1200px</li>
        <li>xxl: 1400px</li>
        <li>xxxl: 1600px</li>
    </ul>
    <p>
        <b>Exemple ci dessous :</b>
        <br> 
        Le bloc a la class <code>p-5</code> et <code>p-xl-9</code> (c'est-à-dire qu'il a 20px de padding tout le temps et à partir de 1200px, il aura 60px de padding).
    </p>

    <div class="mx-auto my-10 p-5 p-xl-9 bg-secondary text-center text-white" style="width: 30rem;">
        Exemple de contenu centré avec la class
    </div>

</div>

<div class="mt-3 p-7 bg-lighter border">

    <h2>La gestion des titres Hn</h2>
    <p>Vous pouvez grâce aux class <code>.h1</code> <code>.h2</code> <code>.h3</code> <code>.h4</code> <code>.h5</code> <code>.h6</code> faire en sorte qu'un texte prenne les styles d'un titre.</p>

    <div class="pl-5">
        <h1 class="h2">Je suis un H1 class H2</h1>
    </div>

    <div class="pl-5">
        <h1 class="h2 no-border">Je suis un H1 class .h2 + .no-border</h1>
    </div>

    <div class="pl-5">
        <h1 class="h2 no-corner pt-0">Je suis un H1 class.h2 + .no-corner</h1>
    </div>

    <div class="pl-5">
        <h2 class="h3">Je suis un H2 class H3</h2>
    </div>
    
</div>

<div class="sg-callout sg-callout-warning">

    <h2>La gestion des font-size</h2>

    <p>Deux possibilités s'offrent à vous pour donner une font-size à un élément via une classe utilitaire :</p>


    <h3 class="pt-3 mb-4">Classes .font-size-XX</h3>

    <p>Destinées plutôt à s'appliquer à du <b>texte courant</b>, leurs valeurs vont de 12 à 20 (avec des pas de 2) :</p>

    <ul>
        <li>.font-size-12 => <code>font-size: 1.2rem !important;</code></li>
        <li>.font-size-14 => <code>font-size: 1.4rem !important;</code></li>
        <li>.font-size-16 => <code>font-size: 1.6rem !important;</code></li>
        <li>.font-size-18 => <code>font-size: 1.8rem !important;</code></li>
        <li>.font-size-20 => <code>font-size: 2.0rem !important;</code></li>
    </ul>

    <p class="mb-2">
        <b>Exemples :</b> 
        <br>
        <code class="mt-4">
            &lt;p class="font-size-14"&gt;texte en taille 14px&lt;/p&gt;
            <br>
        </code>
        <p class="font-size-14">texte en taille 14px</p>
        <code>
            &lt;p class="font-size-18"&gt;texte un peu plus gros&lt;/p&gt;
            <br>
        </code>
        <p class="font-size-18">texte un peu plus gros</p>
    </p>


    <h3 class="pt-3 mb-4">Classes .ftz-XX</h3>
    
    <p>Bien qu'elles puissent être appliquées à du texte courant, elles ont plutôt vocation à <b>donner une taille à des icones</b> par exemple.</p>
    <p>Elles vont de .ftz-1 à .ftz-20 (avec des pas de 1) :
        <ul>
            <li>.ftz-1 donne <code>font-size: 1rem !important;</code></li>
            <li>.ftz-20 donne <code>font-size: 20rem !important;</code></li>
        </ul>
    </p>
    <p>
        <b>Exemples :</b> 
        <br>
        <code class="mt-4">
            &lt;p class="icon-appui_renovation_urbaine ftz-8"&gt;icone avec font-size égal à 8rem (80px)&lt;/p&gt;
        </code>
        <p class="icon-appui_renovation_urbaine ftz-8"></p>
        <br>
        <code>
            &lt;p class="icon-appui_renovation_urbaine ftz-8"&gt;icone avec font-size égal à 14rem (140px)&lt;/p&gt;
        </code>
        <p class="icon-appui_renovation_urbaine ftz-14"></p>
    </p>

</div>