{% extends "../layouts/_presentation.twig" %}


{% block content %}
<div class="ds-content" data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-delay="300" data-aos-offset="0">


       {# Buttons Basics #}
        <div class="ds-block">
            <div class="ds-info">
                {% include '../blocks/_block-preview.twig' with {
                    'block_id' : random(99999999999) ,
                    'block_title' : 'Buttons basiques' ,
                    'block_description' : 'Les buttons basiques sont les buttons sans taille spécifiée ou icons',
                } %}
            </div>
             <div class="ds-message">
             	{% include '../blocks/_block-message.twig' with {
                    'message_title' : 'Attention' ,
                    'message_description' : 'Utilisez des icônes pour ajouter plus de sens aux boutons. Vous pouvez utiliser uniquement l\'icône pour économiser de l\'espace, ou bien l\'utiliser avec du texte',  
                    'message_type' : 'warning' 
                } %}

                {% include '../blocks/_block-message.twig' with {
                    'message_title' : 'Attention' ,
                    'message_description' : 'Utilisez des icônes pour ajouter plus de sens aux boutons. Vous pouvez utiliser uniquement l\'icône pour économiser de l\'espace, ou bien l\'utiliser avec du texte',  
                    'message_type' : '' 
                } %}

                {% include '../blocks/_block-message.twig' with {
                   
                    'message_description' : 'Utilisez des icônes pour ajouter plus de sens aux boutons. Vous pouvez utiliser uniquement l\'icône pour économiser de l\'espace, ou bien l\'utiliser avec du texte',  
                    'message_type' : 'info' 
                } %}
            </div>
            
            <div class="ds-block_example">
                {% include '../ds-components/button/_button.twig' with {
                    button: {
                    
                        'text': 'Mon Button',
                        'color': 'blue-outline', 
                        'size': 'medium', 
                        'type': 'anchor',
                        'url': 'https://google.com/',
                        'additionnal_attributes': {},
                        'additionnal_classes': ''
                    }
                } %}
                {% include '../ds-components/button/_button.twig' with {
                        button: {
                            'text': 'Lorem ipsum',
                            'color': 'white-outline', 
                            'size': '', 
                            'type': 'anchor', 
                            'icon_position': 'icon-left', 
                            'icon_name': 'icon-recommencer', 
                            'url': 'https://google.com/',
                            'additionnal_attributes': {},
                            'additionnal_classes': ''
                        }
                    } %}
                {% include '../ds-components/button/_button.twig' with {
                    button: {
                    
                        'text': 'Mon Button solid',
                        'color': 'teal-solid', 
                        'size': 'small', 
                        'type': 'submit_btn', 
                        'url': 'https://google.com/',
                        'additionnal_attributes': {},
                        'additionnal_classes': ''
                    }
                } %}
                {% include '../ds-components/button/_button.twig' with {
                    button: {
                        'text': 'Lorem ipsum',
                        'color': 'blue-solid', 
                        'size': 'small', 
                        'type': 'anchor', 
                        'icon_position': 'icon-left', 
                        'icon_name': 'icon-recommencer', 
                        'url': 'https://google.com/',
                        'additionnal_attributes': {},
                        'additionnal_classes': ''
                    }
                } %}
                {% include '../ds-components/button/_button.twig' with {
                    button: {
                        'text': 'Mon Button outline avec icon',
                        'color': 'red-solid', 
                        'size': 'medium', 
                        'type': 'btn', 
                        'url': 'https://google.com/',
                        'additionnal_attributes': {},
                        'additionnal_classes': ''
                    }
                } %}
                {% include '../ds-components/button/_button.twig' with {
                    button: {
                        'text': 'Mon Button outline avec icon',
                        'color': 'green-solid', 
                        'size': 'medium', 
                        'type': 'btn', 
                        'icon_position': 'icon-left', 
                        'url': 'https://google.com/',
                        'additionnal_attributes': {},
                        'additionnal_classes': ''
                    }
                } %}
                {% include '../ds-components/button/_button.twig' with {
                    button: {
                        'text': 'Mon Button outline avec icon',
                        'color': 'teal-solid', 
                        'size': 'medium', 
                        'type': 'anchor', 
                        'icon_position': 'icon-right', 
                        'icon_name': 'icon-right-circle',
                        'url': 'https://google.com/',
                        'additionnal_attributes': {},
                        'additionnal_classes': ''
                    }
                } %}

            </div>
            <div class="ds-code_output">
                {% include '../blocks/_block-collapse.twig' with {
                    'collapse_id' : random(99999999999) ,
                    'path_code' : '../ds-components/button/buttons.twig'      
                } %}
            </div>

        </div>

        {# Button Size #}

         <div class="ds-block">
            <div class="ds-info">
                {% include '../blocks/_block-preview.twig' with {
                    'block_id' : random(99999999999) ,
                    'block_title' : 'Button Size' ,
                    'block_description' : 'la taille des buttons est gérée par les class <code>.btn-xtra-small, .btn-small, .btn-medium </code>',
                } %}
            </div>
            
            <div class="ds-block_example">
                {% include '../ds-components/button/_button-size.twig' %}
            </div>
            <div class="ds-code_output">
                {% include '../blocks/_block-collapse.twig' with {
                    'collapse_id' : random(99999999999) ,
                    'path_code' : '../ds-components/button/button-size.twig'      
                } %}
            </div>

        </div>

         {# Button Icons #}
          <div class="ds-block">
            <div class="ds-info">
                {% include '../blocks/_block-preview.twig' with {
                    'block_id' : random(99999999999) ,
                    'block_title' : 'Button avec icons' ,
                    'block_description' : 'Pour ajouter des icons à vos button, ajouter la class <code>.btn-icon-left</code> pour un icon à gauche, la class <code>.btn-icon-right</code> pour un icon à droite et une class pour spécifier l\'icone. Exemple : <code>.btn-icon-download</code>',
                } %}
            </div>
            
            <div class="ds-block_example">
                {% include '../ds-components/button/_button-icon.twig' %}
            </div>
            <div class="ds-code_output">
                {% include '../blocks/_block-collapse.twig' with {
                    'collapse_id' : random(99999999999) ,
                    'path_code' : '../ds-components/button/button-icon.twig'      
                } %}
            </div>

        </div>
      

    </div>
{% endblock %}
