{% extends "../layouts/_presentation.twig" %}


{% block content %}
    <div class="ds-content">
       {# Button #}
        <div class="ds-block">

            <div class="ds-info">
                {% include '../blocks/_block-preview.twig' with {
                    'block_id' : random(99999999999) ,
                    'block_title' : 'Buttons' ,
                    'block_description' : 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.',
                } %}
            </div>

            <div class="ds-block_example">
                {% include '../ds-components/button/_button.twig' with {
                    button: {
                    
                        'text': 'Mon Button',
                        'color': 'blue-blue', 
                        'size': 'medium', 
                        'type': 'anchor',
                        'url': 'https://google.com/',
                        'additionnal_attributes': {},
                        'additionnal_classes': ''
                    }
                } %}
                {% include '../ds-components/button/_button.twig' with {
                        button: {
                            'text': 'Lorem ipsum',
                            'color': 'teal-teal', 
                            'size': '', 
                            'type': 'anchor', 
                            'icon_position': 'icon-left', 
                            'icon_name': 'icon-recommencer', 
                            'url': 'https://google.com/',
                            'additionnal_attributes': {},
                            'additionnal_classes': ''
                        }
                    } %}
                {% include '../ds-components/button/_button.twig' with {
                    button: {
                    
                        'text': 'Mon Button solid',
                        'color': 'transparent-blue', 
                        'size': 'small', 
                        'type': 'submit_btn', 
                        'url': 'https://google.com/',
                        'additionnal_attributes': {},
                        'additionnal_classes': ''
                    }
                } %}
                {% include '../ds-components/button/_button.twig' with {
                    button: {
                        'text': 'Lorem ipsum',
                        'color': 'transparent-white', 
                        'size': 'small', 
                        'type': 'anchor', 
                        'icon_position': 'icon-left', 
                        'icon_name': 'icon-recommencer', 
                        'url': 'https://google.com/',
                        'additionnal_attributes': {},
                        'additionnal_classes': ''
                    }
                } %}
                {% include '../ds-components/button/_button.twig' with {
                    button: {
                        'text': 'Mon Button outline avec icon',
                        'color': 'red-red', 
                        'size': 'medium', 
                        'type': 'btn', 
                        'url': 'https://google.com/',
                        'additionnal_attributes': {},
                        'additionnal_classes': ''
                    }
                } %}
                {% include '../ds-components/button/_button.twig' with {
                    button: {
                        'text': 'Mon Button outline avec icon',
                        'color': 'green-green', 
                        'size': 'medium', 
                        'type': 'btn', 
                        'icon_position': 'icon-left', 
                        'url': 'https://google.com/',
                        'additionnal_attributes': {},
                        'additionnal_classes': ''
                    }
                } %}
                {% include '../ds-components/button/_button.twig' with {
                    button: {
                        'text': 'Mon Button outline avec icon',
                        'color': 'teal-teal', 
                        'size': 'medium', 
                        'type': 'anchor', 
                        'icon_position': 'icon-right', 
                        'icon_name': 'icon-right-circle',
                        'url': 'https://google.com/',
                        'additionnal_attributes': {},
                        'additionnal_classes': ''
                    }
                } %}

            </div>

            {% include '../blocks/_block-collapse.twig' with {
                'collapse_id' : random(99999999999) ,
                'path_code' : '../ds-components/button/buttons.twig'      
            } %}

        </div>

         {# Button Icons #}
      

    </div>
{% endblock %}
