{% extends "../layouts/_presentation.twig" %}


{% block content %}
	<div class="ds-content">
		{# Accueil #}

    	<div class="ds-accueil">

       <div class="ds-accueil_message">
       </div>
       <div class="ds-accueil_feature">
        <div class="row">

          <div class="col-md-6">
            <div class="feature-box">
              <div class="feature-box_icon"><i class="fontello">&#xe833</i></div>
              <h3 class="feature-box_title">Accessibilité</h3>
              <p class="feature-box_desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="feature-box">
              <div class="feature-box_icon"><i class="fontello">&#xe834</i></div>
              <h3 class="feature-box_title">Responsive Design</h3>
              <p class="feature-box_desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="feature-box">
              <div class="feature-box_icon"><i class="fontello">&#xf13B</i></div>
              <h3 class="feature-box_title">HTML5 / CSS3 / SASS</h3>
              <p class="feature-box_desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="feature-box">
              <div class="feature-box_icon"><i class="fontello">&#xf13C</i></div>
              <h3 class="feature-box_title">Bootstrap 4</h3>
              <p class="feature-box_desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
            </div>
          </div>

        </div>

       </div>

		     
	    </div>
		

	</div>
{% endblock %}

